# Business Intelligence on Oracle OpenWorld & CodeOne Sessions

This notebook uses session data from Oracle OpenWorld and CodeOne sessions to investigate a number of questions:

* is the assumption correct that the percentage of Oracle sessions for which no slides have been uploaded is larger than the corresponding percentage of non-Oracle sessions?
* what is the average room capacity per track? (note: we do not know visitor numbers)
* what is the number of sessions per event (note: some sessions were scheduled under both events); show as Venn diagram? 

* how many sessions were associated with each track?
* how many sessions were associated with each of a list of Oracle products & cloud services?
* what words were used most frequently in session titles?
* what words were used most frequently in session abstracts?
* what is the distribution of sessions over the levels for each of the tracks? also as heatmap (track, level - cells number of sessions)
* what is the distribution of sessions over the session types for each of the tracks? also as heatmap (track, session type - cells number of sessions)
* how many sessions dit not have cloud in name or abstract (by track, by event)? How many sessions promised a demo or live coding (per event)?
* what was the distribution of sessions over companies? how many session slots were awarded to sponsors?
* how many sessions per designation -per event (no designation, Java Champion, ACE Director, Groundbreaker Ambassador, Oracle employee) 

* how many sessions by non-Oracle speakers/Oracle speakers per event

* What are the peak times in terms of number of sessions? (heatmap - days and slots with number of sessions in the cells)
* What locations are used for Oracle OpenWorld

In [2]:
import pandas as pd
#load session data from JSON file
ss = pd.read_json("oow2018-sessions-wrangled.json")
#show first five rows in the dataframe
ss.head(5)

,Advanced,All,Beginner,Groundbreaker Ambassador,Intermediate,JavaOne Rockstar,Oracle ACE Director,Oracle Java Champion,abstract,attributevalues,...,room,room_capacity,speaker_count,sponsors,time,times,title,title_sort,track,type
0,Y,N,Y,N,Y,N,N,N,What if you could benefit from new database qu...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 3009,308.0,3,None,11:15,"[{'sessionTimeID': '1532616475210001usPa', 'se...",A Database Proxy for Transparent High Availabi...,adatabaseproxyfortransparenthi,"[- Application Development, Oracle Cloud Platf...",Product Training Session
1,Y,N,Y,N,Y,N,N,N,How does a real-world performance engineer int...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 3004,313.0,2,None,15:45,"[{'sessionTimeID': '1531945554973001z4Hi', 'se...",A Day in the Life of a Real-World Performance ...,adayinthelifeofarealworldperfo,"[- Application Development, Oracle Cloud Platf...",Product Training Session
10,Y,N,Y,N,Y,Y,N,N,In this session learn how to make client data ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 3002,314.0,1,None,15:45,"[{'sessionTimeID': '1535610677698001BB58', 'se...",Providing High Availability of Data by Using C...,providinghighavailabilityofdat,[],Product Training Session
100,N,N,N,N,N,N,N,N,In this session learn how to transfer your st...,"[{'value': 'Product Training Session', 'attrib...",...,The Exchange @ Moscone South - OU Mini Theater,75.0,1,None,16:25,"[{'sessionTimeID': '15381128815670018LA1', 'se...",How to Transfer Storage to Oracle Storage,howtotransferstoragetooraclest,[],Product Training Session
1000,Y,N,N,N,Y,N,N,Y,With Java Flight Recorder (JFR) and Java Missi...,"[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2024,283.0,1,None,11:30,"[{'sessionTimeID': '15355059853370011rXS', 'se...",Three Productive Ways to Use Open Source Java ...,threeproductivewaystouseopenso,"[Developer Community, Development Tools, Java ...",Developer Session

# Session Counting
Sessions per event, sessions per track, Oracle and non-Oracle sessions.

In [31]:
# number of sessions per event

#note: aggregating/summarizing in Pandas: https://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/ 

ss.groupby('event')['event'].count()
#ss['event'].value_counts()

event
Oracle Code One      477
Oracle OpenWorld    1575
Name: event, dtype: int64

In [17]:
# number of sessions, per event and per session type
pd.crosstab(index=ss['event'], columns=ss['type']).stack()

event             type
Oracle Code One   Birds of a Feather (BOF) Session         39
                  Burning Questions Session                 0
                  Business Use Case Session                 0
                  Customer Case Study Session               0
                  Developer Session                       361
                  Executive Solution Session                0
                  Flipped Session                           0
                  General Session                           0
                  HOL (Hands-on Lab) Session               28
                  Home Room Session                         0
                  Ignite Session                            1
                  Keynote Session                           3
                  Meet the Experts                         32
                  Product Keynote Session                   0
                  Product Overview Session                  0
                  Product Roadmap Session                   0
                  Product Training Session                  0
                  Special Interest Group (SIG) Meeting      0
                  Theater Session                           0
                  Thought Leader Session                    0
                  Tips and Tricks Session                   0
                  Tutorial Session                         13
Oracle OpenWorld  Birds of a Feather (BOF) Session          4
                  Burning Questions Session                16
                  Business Use Case Session               151
                  Customer Case Study Session             307
                  Developer Session                        37
                  Executive Solution Session                7
                  Flipped Session                           5
                  General Session                          26
                  HOL (Hands-on Lab) Session               80
                  Home Room Session                         4
                  Ignite Session                            0
                  Keynote Session                           4
                  Meet the Experts                          0
                  Product Keynote Session                  13
                  Product Overview Session                375
                  Product Roadmap Session                  91
                  Product Training Session                134
                  Special Interest Group (SIG) Meeting      2
                  Theater Session                         203
                  Thought Leader Session                    5
                  Tips and Tricks Session                 109
                  Tutorial Session                          2
dtype: int64