# Exploring Oracle OpenWorld & CodeOne Session Catalog

The session catalog data is available from a REST API whose root is https://events.rainfocus.com/api/search. Check out Notebook OOW2018 Session Catalog - retrieving raw session data in JSON files.ipynb on how to fetch that data into (raw) local files

This notebook describes how to explore and wrangle and enrich the data from these files.

In [400]:
import pandas as pd
import json

#as a test, try to load data from one of the generated files 
ss = pd.read_json("oow2018-sessions_oow_TRN.json")
ss

,abbreviation,abstract,allowDoubleBooking,attributevalues,code,codeParts,code_id,es_metadata_id,event,eventCode,...,type_displayorder,type_displayorder_string,useDoubleBooking,useWaitingList,videos,viewAccess,viewAccessPublic,viewFileAccess,waitlistAccess,waitlistLimit
0,TRN4070,What if you could benefit from new database qu...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4070,"{'alpha0': 'TRN', 'numeric1': '4070'}",trn4070,1523650128750001VI1i,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
1,TRN4026,How does a real-world performance engineer int...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4026,"{'alpha0': 'TRN', 'numeric1': '4026'}",trn4026,1523576222383001pdRl,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
10,TRN4567,Understand the tools and techniques available ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4567,"{'alpha0': 'TRN', 'numeric1': '4567'}",trn4567,1524514304383001hANs,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
100,TRN6363,In order to derive value from the Internet of ...,0,"[{'value': 'Product Training Session', 'attrib...",TRN6363,"{'alpha0': 'TRN', 'numeric1': '6363'}",trn6363,15321279159350012tnD,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
101,TRN5828,Oracle Linux powers tens of thousands of enter...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5828,"{'alpha0': 'TRN', 'numeric1': '5828'}",trn5828,1526317377636001I2Ll,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
102,TRN4073,"What do Oracle Database listener, dedicated se...",0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4073,"{'alpha0': 'TRN', 'numeric1': '4073'}",trn4073,1523650870534001B9V8,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
103,TRN4022,Oracle Real Application Clusters (Oracle RAC) ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4022,"{'alpha0': 'TRN', 'numeric1': '4022'}",trn4022,1523572455776001BxBi,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
104,TRN4219,"For more than 20 years, Oracle customers have ...",0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4219,"{'alpha0': 'TRN', 'numeric1': '4219'}",trn4219,152392541435100177jo,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
105,TRN3762,Join the Oracle SuperCluster solutions archite...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN3762,"{'alpha0': 'TRN', 'numeric1': '3762'}",trn3762,1521840583816001EJMC,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
106,TRN4051,Development teams are actively looking for new...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4051,"{'alpha0': 'TRN', 'numeric1': '4051'}",trn4051,15236211730420010bhv,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
107,TRN6449,In this session learn how to make client data ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6449,"{'alpha0': 'TRN', 'numeric1': '6449'}",trn6449,1533152180387001ThDu,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
108,TRN5793,Given the increasing popularity of chatbots an...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5793,"{'alpha0': 'TRN', 'numeric1': '5793'}",trn5793,1526263622215001IjiQ,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
109,TRN4072,The Meltdown and Spectre vulnerabilities have ...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4072,"{'alpha0': 'TRN', 'numeric1': '4072'}",trn4072,1523650520957001B0xu,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
11,TRN6620,This session covers the best practices for per...,0,"[{'value': 'Product Training Session', 'attrib...",TRN6620,"{'alpha0': 'TRN', 'numeric1': '6620'}",trn6620,1536229519095001xpnW,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
110,TRN4025,The Real-World Performance team had the opport...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4025,"{'alpha0': 'TRN', 'numeric1': '4025'}",trn4025,1523576033040001XaBJ,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
111,TRN1263,Oracle Database 12c Release 2 significantly im...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN1263,"{'alpha0': 'TRN', 'numeric1': '1263'}",trn1263,1520704148001001GTNM,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
112,TRN4723,Oracle Cloud Infrastructure Container Service ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4723,"{'alpha0': 'TRN', 'numeric1': '4723'}",trn4723,152505762091500183Dt,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
113,TRN6500,"As technology changes, companies face a wideni...",0,"[{'value': 'Product Training Session', 'attrib...",TRN6500,"{'alpha0': 'TRN', 'numeric1': '6500'}",trn6500,15342536840550018iSA,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
114,TRN4410,Migrating on-premises live production database...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4410,"{'alpha0': 'TRN', 'numeric1': '4410'}",trn4410,1524246147219001WV6X,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
115,TRN6364,In this session hear an Oracle University cust...,0,"[{'value': 'Product Training Session', 'attrib...",TRN6364,"{'alpha0': 'TRN', 'numeric1': '6364'}",trn6364,15321279160650012ySy,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
116,TRN6721,Your people are your biggest asset. A quick tr...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6721,"{'alpha0': 'TRN', 'numeric1': '6721'}",trn6721,1537467727112001Lmoe,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
117,TRN3980,This year saw the introduction of Oracle Auton...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN3980,"{'alpha0': 'TRN', 'numeric1': '3980'}",trn3980,1523250557343001OBEw,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
118,TRN4031,"One-command database upgrade? Yes, the new aut...",0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4031,"{'alpha0': 'TRN', 'numeric1': '4031'}",trn4031,1523580288988001KudA,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
119,TRN4447,Get instant clarity to improve your business w...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4447,"{'alpha0': 'TRN', 'numeric1': '4447'}",trn4447,1524260115002001W8To,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
12,TRN4782,Should you refresh your current x86 hardware a...,0,"[{'value': 'Product Training Session', 'attrib...",TRN4782,"{'alpha0': 'TRN', 'numeric1': '4782'}",trn4782,1525201315264001Q57I,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
120,TRN4040,In this session learn how the Application Cont...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4040,"{'alpha0': 'TRN', 'numeric1': '4040'}",trn4040,1523582633555001pghw,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
121,TRN4029,Are you planning on upgrading to Oracle Databa...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4029,"{'alpha0': 'TRN', 'numeric1': '4029'}",trn4029,1523579965698001XiI6,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
122,TRN6358,In this session take a quick look at the capab...,0,"[{'value': 'Product Training Session', 'attrib...",TRN6358,"{'alpha0': 'TRN', 'numeric1': '6358'}",trn6358,15321279153090012h8L,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
123,TRN6450,In this session learn about the need for a sec...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6450,"{'alpha0': 'TRN', 'numeric1': '6450'}",trn6450,1533152736465001m0kY,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
124,TRN6613,"In this session learn how to use the seeded ""d...",0,"[{'value': 'Product Training Session', 'attrib...",TRN6613,"{'alpha0': 'TRN', 'numeric1': '6613'}",trn6613,1536229518061001x02G,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,TRN6503,In this session learn how to use synchronizati...,0,"[{'value': 'Product Training Session', 'attrib...",TRN6503,"{'alpha0': 'TRN', 'numeric1': '6503'}",trn6503,15342556247320018vk6,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
73,TRN5515,Microservice Architectures is a very exciting ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5515,"{'alpha0': 'TRN', 'numeric1': '5515'}",trn5515,1525985296668001v8uZ,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
74,TRN4109,With unprotected assets in plain sight in data...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4109,"{'alpha0': 'TRN', 'numeric1': '4109'}",trn4109,1523675418999001gdBR,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
75,TRN4098,Graph analysis employs powerful algorithms to ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4098,"{'alpha0': 'TRN', 'numeric1': '4098'}",trn4098,1523654652099001Oz7L,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
76,TRN4077,Using way too much electricity and not quite s...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4077,"{'alpha0': 'TRN', 'numeric1': '4077'}",trn4077,152365169418400104GE,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
77,TRN4546,Industry analysts report that less than 15 per...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4546,"{'alpha0': 'TRN', 'numeric1': '4546'}",trn4546,15245041724510018EMr,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
78,TRN4064,MOD_PLSQL applications have been doing their j...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4064,"{'alpha0': 'TRN', 'numeric1': '4064'}",trn4064,1523645208059001KXN4,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
79,TRN4406,"In Oracle Cloud, you can view and manage your ...",0,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4406,"{'alpha0': 'TRN', 'numeric1': '4406'}",trn4406,1524245527245001dU3K,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
8,TRN4162,In this session learn how to enable the autono...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4162,"{'alpha0': 'TRN', 'numeric1': '4162'}",trn4162,1523842112107001Ac1K,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
80,TRN4092,Many cities offer comprehensive open data port...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4092,"{'alpha0': 'TRN', 'numeric1': '4092'}",trn4092,1523653657093001Xzp8,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
81,TRN4426,In this session learn about the new virtualiza...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4426,"{'alpha0': 'TRN', 'numeric1': '4426'}",trn4426,1524248499050001nWMb,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
82,TRN4907,Oracle Big Data Cloud Service provides an inte...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4907,"{'alpha0': 'TRN', 'numeric1': '4907'}",trn4907,1525398436795001htv2,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
83,TRN4090,Oracle Application Express 18.1 focuses on dec...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4090,"{'alpha0': 'TRN', 'numeric1': '4090'}",trn4090,1523653494947001pyiY,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
84,TRN4047,Who says setting up and managing a data wareho...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4047,"{'alpha0': 'TRN', 'numeric1': '4047'}",trn4047,1523619977794001XLuX,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
85,TRN6354,In this session learn how Oracle Cloud Infrast...,0,"[{'value': 'Product Training Session', 'attrib...",TRN6354,"{'alpha0': 'TRN', 'numeric1': '6354'}",trn6354,153212791479600129Uj,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
86,TRN4901,Every companyâ€™s move into the cloud is unique ...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4901,"{'alpha0': 'TRN', 'numeric1': '4901'}",trn4901,15253956999630018kIc,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
87,TRN1553,Oracle Database 12c R1 and Oracle Database 12c...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN1553,"{'alpha0': 'TRN', 'numeric1': '1553'}",trn1553,15214414812650014Q4L,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
88,TRN4414,In this session learn about the Oracle Databas...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4414,"{'alpha0': 'TRN', 'numeric1': '4414'}",trn4414,1524247075523001d46N,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
89,TRN4033,How do you lift your database to the Oracle Cl...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4033,"{'alpha0': 'TRN', 'numeric1': '4033'}",trn4033,15235805192740010jFT,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
9,TRN4163,In this session learn about the latest autonom...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4163,"{'alpha0': 'TRN', 'numeric1': '4163'}",trn4163,1523842475121001AGpg,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
90,TRN4117,Oracle Exadata is the best platform for runnin...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4117,"{'alpha0': 'TRN', 'numeric1': '4117'}",trn4117,1523721716188001A5XY,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
91,TRN4014,Interested in learning insider tips and tricks...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4014,"{'alpha0': 'TRN', 'numeric1': '4014'}",trn4014,1523562650274001B8M9,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
92,TRN4013,Oracle Database In-Memory promises an incredib...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4013,"{'alpha0': 'TRN', 'numeric1': '4013'}",trn4013,1523562508613001lGKT,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
93,TRN4083,This session includes software demonstrations ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4083,"{'alpha0': 'TRN', 'numeric1': '4083'}",trn4083,1523652516295001XLdW,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
94,TRN4107,"Before hackers map out your database users, co...",0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4107,"{'alpha0': 'TRN', 'numeric1': '4107'}",trn4107,1523674560813001gabI,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
95,TRN4118,New technologies such as PCIe NVMe flash open ...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4118,"{'alpha0': 'TRN', 'numeric1': '4118'}",trn4118,1523721999809001bkme,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0

In [401]:
#as a test, try to load data from another file  
ss2 = pd.read_json("oow2018-sessions_codeone_TRN.json")
ss2

,abbreviation,abstract,allowDoubleBooking,attributevalues,code,codeParts,code_id,es_metadata_id,event,eventCode,...,type_displayorder,type_displayorder_string,useDoubleBooking,useWaitingList,videos,viewAccess,viewAccessPublic,viewFileAccess,waitlistAccess,waitlistLimit
0,TRN4631,This session takes a deep dive into how the Or...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4631,"{'alpha0': 'TRN', 'numeric1': '4631'}",trn4631,1524589840877001mdKy,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
1,TRN4081,Real-time data is an increasingly popular topi...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4081,"{'alpha0': 'TRN', 'numeric1': '4081'}",trn4081,1523652232625001KxHD,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
10,TRN4084,.NET Core allows .NET applications to run cros...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4084,"{'alpha0': 'TRN', 'numeric1': '4084'}",trn4084,1523652635507001BgE3,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
11,TRN4065,Zero downtime or the ability to sustain planne...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4065,"{'alpha0': 'TRN', 'numeric1': '4065'}",trn4065,1523646070146001VKUN,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
2,TRN5774,Enterprises need to rapidly react to the chang...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5774,"{'alpha0': 'TRN', 'numeric1': '5774'}",trn5774,1526173783263001pwyK,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
3,TRN5777,Digital assistant and chatbot support for any ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5777,"{'alpha0': 'TRN', 'numeric1': '5777'}",trn5777,1526178982547001cT4x,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
4,TRN4088,DevOps has become a common practice in the IT ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4088,"{'alpha0': 'TRN', 'numeric1': '4088'}",trn4088,15236532902550010MO8,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
5,TRN4082,How do you get started using Visual Studio to ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4082,"{'alpha0': 'TRN', 'numeric1': '4082'}",trn4082,1523652330881001pJVZ,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
6,TRN4077,Using way too much electricity and not quite s...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4077,"{'alpha0': 'TRN', 'numeric1': '4077'}",trn4077,152365169418400104GE,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
7,TRN4092,Many cities offer comprehensive open data port...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4092,"{'alpha0': 'TRN', 'numeric1': '4092'}",trn4092,1523653657093001Xzp8,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
8,TRN4019,In this session learn from Oracle development ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4019,"{'alpha0': 'TRN', 'numeric1': '4019'}",trn4019,1523569083414001fjoa,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
9,TRN5793,Given the increasing popularity of chatbots an...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5793,"{'alpha0': 'TRN', 'numeric1': '5793'}",trn5793,1526263622215001IjiQ,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0

In [402]:
#add ss and ss2 together
#see https://pandas.pydata.org/pandas-docs/stable/merging.html
ss = pd.concat([ss,ss2],  ignore_index=True)
ss

,abbreviation,abstract,allowDoubleBooking,attributevalues,code,codeParts,code_id,es_metadata_id,event,eventCode,...,type_displayorder,type_displayorder_string,useDoubleBooking,useWaitingList,videos,viewAccess,viewAccessPublic,viewFileAccess,waitlistAccess,waitlistLimit
0,TRN4070,What if you could benefit from new database qu...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4070,"{'alpha0': 'TRN', 'numeric1': '4070'}",trn4070,1523650128750001VI1i,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
1,TRN4026,How does a real-world performance engineer int...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4026,"{'alpha0': 'TRN', 'numeric1': '4026'}",trn4026,1523576222383001pdRl,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
2,TRN4567,Understand the tools and techniques available ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4567,"{'alpha0': 'TRN', 'numeric1': '4567'}",trn4567,1524514304383001hANs,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
3,TRN6363,In order to derive value from the Internet of ...,0,"[{'value': 'Product Training Session', 'attrib...",TRN6363,"{'alpha0': 'TRN', 'numeric1': '6363'}",trn6363,15321279159350012tnD,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
4,TRN5828,Oracle Linux powers tens of thousands of enter...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5828,"{'alpha0': 'TRN', 'numeric1': '5828'}",trn5828,1526317377636001I2Ll,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
5,TRN4073,"What do Oracle Database listener, dedicated se...",0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4073,"{'alpha0': 'TRN', 'numeric1': '4073'}",trn4073,1523650870534001B9V8,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
6,TRN4022,Oracle Real Application Clusters (Oracle RAC) ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4022,"{'alpha0': 'TRN', 'numeric1': '4022'}",trn4022,1523572455776001BxBi,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
7,TRN4219,"For more than 20 years, Oracle customers have ...",0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4219,"{'alpha0': 'TRN', 'numeric1': '4219'}",trn4219,152392541435100177jo,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
8,TRN3762,Join the Oracle SuperCluster solutions archite...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN3762,"{'alpha0': 'TRN', 'numeric1': '3762'}",trn3762,1521840583816001EJMC,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
9,TRN4051,Development teams are actively looking for new...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4051,"{'alpha0': 'TRN', 'numeric1': '4051'}",trn4051,15236211730420010bhv,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
10,TRN6449,In this session learn how to make client data ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6449,"{'alpha0': 'TRN', 'numeric1': '6449'}",trn6449,1533152180387001ThDu,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
11,TRN5793,Given the increasing popularity of chatbots an...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5793,"{'alpha0': 'TRN', 'numeric1': '5793'}",trn5793,1526263622215001IjiQ,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
12,TRN4072,The Meltdown and Spectre vulnerabilities have ...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4072,"{'alpha0': 'TRN', 'numeric1': '4072'}",trn4072,1523650520957001B0xu,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
13,TRN6620,This session covers the best practices for per...,0,"[{'value': 'Product Training Session', 'attrib...",TRN6620,"{'alpha0': 'TRN', 'numeric1': '6620'}",trn6620,1536229519095001xpnW,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
14,TRN4025,The Real-World Performance team had the opport...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4025,"{'alpha0': 'TRN', 'numeric1': '4025'}",trn4025,1523576033040001XaBJ,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
15,TRN1263,Oracle Database 12c Release 2 significantly im...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN1263,"{'alpha0': 'TRN', 'numeric1': '1263'}",trn1263,1520704148001001GTNM,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
16,TRN4723,Oracle Cloud Infrastructure Container Service ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4723,"{'alpha0': 'TRN', 'numeric1': '4723'}",trn4723,152505762091500183Dt,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
17,TRN6500,"As technology changes, companies face a wideni...",0,"[{'value': 'Product Training Session', 'attrib...",TRN6500,"{'alpha0': 'TRN', 'numeric1': '6500'}",trn6500,15342536840550018iSA,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
18,TRN4410,Migrating on-premises live production database...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4410,"{'alpha0': 'TRN', 'numeric1': '4410'}",trn4410,1524246147219001WV6X,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
19,TRN6364,In this session hear an Oracle University cust...,0,"[{'value': 'Product Training Session', 'attrib...",TRN6364,"{'alpha0': 'TRN', 'numeric1': '6364'}",trn6364,15321279160650012ySy,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
20,TRN6721,Your people are your biggest asset. A quick tr...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6721,"{'alpha0': 'TRN', 'numeric1': '6721'}",trn6721,1537467727112001Lmoe,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
21,TRN3980,This year saw the introduction of Oracle Auton...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN3980,"{'alpha0': 'TRN', 'numeric1': '3980'}",trn3980,1523250557343001OBEw,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
22,TRN4031,"One-command database upgrade? Yes, the new aut...",0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4031,"{'alpha0': 'TRN', 'numeric1': '4031'}",trn4031,1523580288988001KudA,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
23,TRN4447,Get instant clarity to improve your business w...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4447,"{'alpha0': 'TRN', 'numeric1': '4447'}",trn4447,1524260115002001W8To,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
24,TRN4782,Should you refresh your current x86 hardware a...,0,"[{'value': 'Product Training Session', 'attrib...",TRN4782,"{'alpha0': 'TRN', 'numeric1': '4782'}",trn4782,1525201315264001Q57I,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
25,TRN4040,In this session learn how the Application Cont...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4040,"{'alpha0': 'TRN', 'numeric1': '4040'}",trn4040,1523582633555001pghw,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
26,TRN4029,Are you planning on upgrading to Oracle Databa...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4029,"{'alpha0': 'TRN', 'numeric1': '4029'}",trn4029,1523579965698001XiI6,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
27,TRN6358,In this session take a quick look at the capab...,0,"[{'value': 'Product Training Session', 'attrib...",TRN6358,"{'alpha0': 'TRN', 'numeric1': '6358'}",trn6358,15321279153090012h8L,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
28,TRN6450,In this session learn about the need for a sec...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6450,"{'alpha0': 'TRN', 'numeric1': '6450'}",trn6450,1533152736465001m0kY,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
29,TRN6613,"In this session learn how to use the seeded ""d...",0,"[{'value': 'Product Training Session', 'attrib...",TRN6613,"{'alpha0': 'TRN', 'numeric1': '6613'}",trn6613,1536229518061001x02G,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,TRN4090,Oracle Application Express 18.1 focuses on dec...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4090,"{'alpha0': 'TRN', 'numeric1': '4090'}",trn4090,1523653494947001pyiY,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
117,TRN4047,Who says setting up and managing a data wareho...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4047,"{'alpha0': 'TRN', 'numeric1': '4047'}",trn4047,1523619977794001XLuX,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
118,TRN6354,In this session learn how Oracle Cloud Infrast...,0,"[{'value': 'Product Training Session', 'attrib...",TRN6354,"{'alpha0': 'TRN', 'numeric1': '6354'}",trn6354,153212791479600129Uj,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
119,TRN4901,Every companyâ€™s move into the cloud is unique ...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4901,"{'alpha0': 'TRN', 'numeric1': '4901'}",trn4901,15253956999630018kIc,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
120,TRN1553,Oracle Database 12c R1 and Oracle Database 12c...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN1553,"{'alpha0': 'TRN', 'numeric1': '1553'}",trn1553,15214414812650014Q4L,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
121,TRN4414,In this session learn about the Oracle Databas...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4414,"{'alpha0': 'TRN', 'numeric1': '4414'}",trn4414,1524247075523001d46N,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
122,TRN4033,How do you lift your database to the Oracle Cl...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4033,"{'alpha0': 'TRN', 'numeric1': '4033'}",trn4033,15235805192740010jFT,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
123,TRN4163,In this session learn about the latest autonom...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4163,"{'alpha0': 'TRN', 'numeric1': '4163'}",trn4163,1523842475121001AGpg,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
124,TRN4117,Oracle Exadata is the best platform for runnin...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4117,"{'alpha0': 'TRN', 'numeric1': '4117'}",trn4117,1523721716188001A5XY,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
125,TRN4014,Interested in learning insider tips and tricks...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4014,"{'alpha0': 'TRN', 'numeric1': '4014'}",trn4014,1523562650274001B8M9,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
126,TRN4013,Oracle Database In-Memory promises an incredib...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4013,"{'alpha0': 'TRN', 'numeric1': '4013'}",trn4013,1523562508613001lGKT,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
127,TRN4083,This session includes software demonstrations ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4083,"{'alpha0': 'TRN', 'numeric1': '4083'}",trn4083,1523652516295001XLdW,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
128,TRN4107,"Before hackers map out your database users, co...",0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4107,"{'alpha0': 'TRN', 'numeric1': '4107'}",trn4107,1523674560813001gabI,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
129,TRN4118,New technologies such as PCIe NVMe flash open ...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4118,"{'alpha0': 'TRN', 'numeric1': '4118'}",trn4118,1523721999809001bkme,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
130,TRN4113,Take a plunge into the technical details of Ex...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4113,"{'alpha0': 'TRN', 'numeric1': '4113'}",trn4113,1523720606071001ec1R,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
131,TRN4116,Oracle Exadata Cloud at Customer continues to ...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4116,"{'alpha0': 'TRN', 'numeric1': '4116'}",trn4116,1523721510021001bDtR,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
132,TRN4019,In this session learn from Oracle development ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4019,"{'alpha0': 'TRN', 'numeric1': '4019'}",trn4019,1523569083414001fjoa,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
133,TRN2038,Do chatbots have a place in your HR department...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN2038,"{'alpha0': 'TRN', 'numeric1': '2038'}",trn2038,15216532675840018qQ6,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
134,TRN4631,This session takes a deep dive into how the Or...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4631,"{'alpha0': 'TRN', 'numeric1': '4631'}",trn4631,1524589840877001mdKy,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
135,TRN4081,Real-time data is an increasingly popular topi...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4081,"{'alpha0': 'TRN', 'numeric1': '4081'}",trn4081,1523652232625001KxHD,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
136,TRN4084,.NET Core allows .NET applications to run cros...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4084,"{'alpha0': 'TRN', 'numeric1': '4084'}",trn4084,1523652635507001BgE3,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
137,TRN4065,Zero downtime or the ability to sustain planne...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4065,"{'alpha0': 'TRN', 'numeric1': '4065'}",trn4065,1523646070146001VKUN,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
138,TRN5774,Enterprises need to rapidly react to the chang...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5774,"{'alpha0': 'TRN', 'numeric1': '5774'}",trn5774,1526173783263001pwyK,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
139,TRN5777,Digital assistant and chatbot support for any ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5777,"{'alpha0': 'TRN', 'numeric1': '5777'}",trn5777,1526178982547001cT4x,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
140,TRN4088,DevOps has become a common practice in the IT ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4088,"{'alpha0': 'TRN', 'numeric1': '4088'}",trn4088,15236532902550010MO8,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
141,TRN4082,How do you get started using Visual Studio to ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4082,"{'alpha0': 'TRN', 'numeric1': '4082'}",trn4082,1523652330881001pJVZ,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0

In [403]:
sessionTypes =  {'BOF': '1518466139979001dQkv'
    , 'BQS': 'bqs'
    , 'BUS': '1519240082595001EpMm'
    , 'CAS': 'casestudy'
    , 'DEV': '1522435540042001BxTD'
    , 'ESS': 'ess'
    , 'FLP': 'flp'
    , 'GEN': 'general'
    , 'HOL': 'hol'
    , 'HOM': 'hom'
    , 'IGN': 'ignite'
    , 'KEY': 'option_1508950285425'
    , 'MTE':'1523906206279002QAu9'
    , 'PKN': '1527614217434001RBfj'
    , 'PRO': '1518464344082003KVWZ'
    , 'PRM': '1518464344082002KM3k'
    , 'TRN': '1518464344082001KHky'
    , 'SIG': 'sig'
    , 'THT': 'ts'
    , 'TLD': '1537894888625001RriS'
    , 'TIP': '1517517756579001F3CR'
    , 'TUT': 'tutorial'
#commented out because TRN is dealt with earlier on, 'TRN': '1518464344082001KHky'
}
#loop over all session types and read the correspionding files for both events codeone and oow
for key,value in sessionTypes.items():
    ssoow = pd.read_json("oow2018-sessions_oow_{0}.json".format(key))
    sscodeone = pd.read_json("oow2018-sessions_codeone_{0}.json".format(key))
    ss = pd.concat([ss,ssoow,sscodeone],  ignore_index=True)

Below is the result of making a request for session details. The really interesting stuff is hidden in the first element of the sectionList array.

Remove the unwanted columns from the Dataframe
(allowDoubleBooking .'codeParts', 'code_id', 'es_metadata_id',type_displayorder	type_displayorder_string	useDoubleBooking	useWaitingList	videos	viewAccess	viewAccessPublic, ...)

In [404]:
#list all columns in the Dataframe
ss.columns

Index(['abbreviation', 'abstract', 'allowDoubleBooking', 'attributevalues',
       'code', 'codeParts', 'code_id', 'es_metadata_id', 'event', 'eventCode',
       'eventId', 'eventName', 'externalID', 'featured_value', 'files',
       'highlight', 'length', 'participants', 'publicViewPrivateSchedule',
       'published', 'scheduleAccess', 'sessionID', 'sponsors', 'status',
       'times', 'title', 'title_sort', 'type', 'type_displayorder',
       'type_displayorder_string', 'useDoubleBooking', 'useWaitingList',
       'videos', 'viewAccess', 'viewAccessPublic', 'viewFileAccess',
       'waitlistAccess', 'waitlistLimit'],
      dtype='object')

In [405]:
# remove columns
# Note that the original 'data' object is changed when inplace=True
ss.drop([
    'allowDoubleBooking'
         ,'codeParts', 'code_id', 'es_metadata_id','type_displayorder'
       ,'type_displayorder_string', 'useDoubleBooking'
       ,'useWaitingList', 'videos'
      , 'viewAccess', 'viewAccessPublic','viewFileAccess', 'waitlistAccess', 'waitlistLimit'
    ,  'eventId','eventName','featured_value','publicViewPrivateSchedule','published', 'scheduleAccess','sessionID','status'
    ,'externalID','highlight','abbreviation'
        ]
        , axis=1, inplace=True)

In [406]:
ss

,abstract,attributevalues,code,event,eventCode,files,length,participants,sponsors,times,title,title_sort,type
0,What if you could benefit from new database qu...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4070,Oracle OpenWorld,oow18,"[{'fileId': '1540594881063001PjdE', 'filename'...",45,[{'speakerId': '14574694377280015QNA_150393630...,None,"[{'sessionTimeID': '1532616475210001usPa', 'se...",A Database Proxy for Transparent High Availabi...,adatabaseproxyfortransparenthi,Product Training Session
1,How does a real-world performance engineer int...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4026,Oracle OpenWorld,oow18,"[{'fileId': '1540053090863001JeFM', 'filename'...",45,[{'speakerId': '145746969078000151fg_150393630...,None,"[{'sessionTimeID': '1531945554973001z4Hi', 'se...",A Day in the Life of a Real-World Performance ...,adayinthelifeofarealworldperfo,Product Training Session
2,Understand the tools and techniques available ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4567,Oracle OpenWorld,oow18,"[{'fileId': '1539988618000001VcCe', 'filename'...",45,[{'speakerId': '1468532302119001DtNf_150393630...,None,"[{'sessionTimeID': '15352384203600012G04', 'se...",Best Practices for Diagnosing and Troubleshoot...,bestpracticesfordiagnosingandt,Product Training Session
3,In order to derive value from the Internet of ...,"[{'value': 'Product Training Session', 'attrib...",TRN6363,Oracle OpenWorld,oow18,"[{'fileId': '1539982921144001RL4h', 'filename'...",45,[{'speakerId': '1500580326390001qTtd_150393630...,None,"[{'sessionTimeID': '1535223010412001BrNh', 'se...",Oracle Internet of Things Cloud Service and En...,oracleinternetofthingscloudser,Product Training Session
4,Oracle Linux powers tens of thousands of enter...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5828,Oracle OpenWorld,oow18,"[{'fileId': '1540152941675001kZHw', 'filename'...",45,[{'speakerId': '14574694616420015a7T_150393630...,None,"[{'sessionTimeID': '1535040668257001twFq', 'se...",Oracle Linux and Oracle VM: Get Trained for Cl...,oraclelinuxandoraclevmgettrain,Product Training Session
5,"What do Oracle Database listener, dedicated se...","[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4073,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694719240015Rek_150393630...,None,"[{'sessionTimeID': '1531848510829001f1BX', 'se...",Oracle Net Services: Best Practices for Databa...,oraclenetservicesbestpractices,Product Training Session
6,Oracle Real Application Clusters (Oracle RAC) ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4022,Oracle OpenWorld,oow18,"[{'fileId': '1540866799064001PrBM', 'filename'...",45,[{'speakerId': '14574695066480015FSs_150393630...,None,"[{'sessionTimeID': '1532032980624001vrvB', 'se...",Oracle Real Application Clusters 18c Internals,oraclerealapplicationclusters1,Product Training Session
7,"For more than 20 years, Oracle customers have ...","[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4219,Oracle OpenWorld,oow18,"[{'fileId': '1542318657574001slPL', 'filename'...",45,[{'speakerId': '14574697134790015Cey_150393630...,None,"[{'sessionTimeID': '15323599396290012ffV', 'se...",Oracle Recovery Manager: Latest-Generation Fea...,oraclerecoverymanagerlatestgen,Product Training Session
8,Join the Oracle SuperCluster solutions archite...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN3762,Oracle OpenWorld,oow18,"[{'fileId': '1540242496214001kHW9', 'filename'...",45,[{'speakerId': '14574696086150025iVM_150393630...,None,"[{'sessionTimeID': '1535041002002001jVWR', 'se...","Oracle SuperCluster Best Practices, and What H...",oraclesuperclusterbestpractice,Product Training Session
9,Development teams are actively looking for new...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4051,Oracle OpenWorld,oow18,"[{'fileId': '1541678122503001g1k7', 'filename'...",45,[{'speakerId': '14574695065470015TFw_150393630...,None,"[{'sessionTimeID': '1531934399478001ts1H', 'se...","Patterns and Use Cases for Self-Describing, Re...",patternsandusecasesforselfdesc,Product Training Session
10,In this session learn how to make client data ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6449,Oracle OpenWorld,oow18,"[{'fileId': '1540334126918001DZZj', 'filename'...",45,[{'speakerId': '1500578268510001KsST_150393630...,None,"[{'sessionTimeID': '1535610677698001BB58', 'se...",Providing High Availability of Data by Using C...,providinghighavailabilityofdat,Product Training Session
11,Given the increasing popularity of chatbots an...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5793,Oracle OpenWorld,oow18,"[{'fileId': '1540696800751001fVXj', 'filename'...",45,[{'speakerId': '14574694572360015BYe_150393630...,None,"[{'sessionTimeID': '1533759208391001MgR9', 'se...",Real-Time Insights to Build Better Digital Ass...,realtimeinsightstobuildbetterd,Product Training Session
12,The Meltdown and Spectre vulnerabilities have ...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4072,Oracle OpenWorld,oow18,"[{'fileId': '15404056484970016EOs', 'filename'...",45,[{'speakerId': '14574694764920025gqH_150393630...,None,"[{'sessionTimeID': '1531946376143001tL1H', 'se...",Real-World Performance from Micro to Macro: Is...,realworldperformancefrommicrot,Product Training Session
13,This session covers the best practices for per...,"[{'value': 'Product Training Session', 'attrib...",TRN6620,Oracle OpenWorld,oow18,None,20,[{'speakerId': '1470698803884001CfwZ_150393630...,None,"[{'sessionTimeID': '1538112369718001MoR2', 'se...",Best Practices for Enterprise Application Perf...,bestpracticesforenterpriseappl,Product Training Session
14,The Real-World Performance team had the opport...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4025,Oracle OpenWorld,oow18,"[{'fileId': '154034529241500163Pr', 'filename'...",45,[{'speakerId': '14574694653030015toE_150393630...,None,"[{'sessionTimeID': '1531945751183001t4Yv', 'se...",Real-World Performance with Oracle Autonomous ...,realworldperformancewithoracle,Product Training Session
15,Oracle Database 12c Release 2 significantly im...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN1263,Oracle OpenWorld,oow18,"[{'fileId': '15403083170840019yL5', 'filename'...",45,[{'speakerId': '14574694431760015Rra_150393630...,None,"[{'sessionTimeID': '15352342403930012AGW', 'se...",Saving Your Database from Memory Loss: Oracle ...,savingyourdatabasefrommemorylo,Product Training Session
16,Oracle Cloud Infrastructure Container Service ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4723,Oracle OpenWorld,oow18,"[{'fileId': '15414494303820010VyY', 'filename'...",45,[{'speakerId': '14574694616420015a7T_150393630...,None,"[{'sessionTimeID': '1535043544729001tjKO', 'se...",Secure and Agile Orchestration for Linux Conta...,secureandagileorchestrationfor,Product Training Session
17,"As technology changes, companies face a wideni...","[{'value': 'Product Training Session', 'attrib...",TRN6500,Oracle OpenWorld,oow18,None,45,[{'speakerId': '1474430990525001R0yi_150393630...,None,"[{'sessionTimeID': '15374742618600012uOv', 'se...",Skilling Your Workforce with Oracle University...,skillingyourworkforcewithoracl,Product Training Session
18,Migrating on-premises live production database...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4410,Oracle OpenWorld,oow18,"[{'fileId': '1540318725969001Qpwz', 'filename'...",45,[{'speakerId': '1513311598012001gZ9f_150393630...,None,"[{'sessionTimeID': '15362459005080013QcA', 'se...",Strategies for Migrating Your Database to Orac...,strategiesformigratingyourdata,Product Training Session
19,In this session hear an Oracle University cust...,"[{'value': 'Product Training Session', 'attrib...",TRN6364,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574698040360015uCl_150393630...,None,"[{'sessionTimeID': '15352234763450012iJo', 'se...",Tell the story: Enablement Best Practices for ...,tellthestoryenablementbestprac,Product Training Session
20,Your people are your biggest asset. A quick tr...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6721,Oracle OpenWorld,oow18,None,45,[{'speakerId': '145746956634500155ht_150393630...,None,"[{'sessionTimeID': '15376443148670016UPZ', 'se...",Tell the Story: People Enablement as the Key t...,tellthestorypeopleenablementas,Product Training Session
21,This year saw the introduction of Oracle Auton...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN3980,Oracle OpenWorld,oow18,"[{'fileId': '1541192406763001UgbK', 'filename'...",45,[{'speakerId': '14574694525770015tTj_150393630...,None,"[{'sessionTimeID': '1531859226336001fb21', 'se...",Test Drive Automatic Index Creation in Oracle ...,testdriveautomaticindexcreatio,Product Training Session
22,"One-command database upgrade? Yes, the new aut...","[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4031,Oracle OpenWorld,oow18,"[{'fileId': '15411474157640018MMu', 'filename'...",45,[{'speakerId': '145746948919200355Sq_150393630...,None,"[{'sessionTimeID': '1531861888282001T846', 'se...",The New Auto-Upgrade for Oracle Databases,thenewautoupgradefororacledata,Product Training Session
23,Get instant clarity to improve your business w...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4447,Oracle OpenWorld,oow18,"[{'fileId': '1539645493648001NyP5', 'filename'...",45,[{'speakerId': '1496418243721001rgfo_150393630...,None,"[{'sessionTimeID': '1534265354271001dNrc', 'se...",The Power of BI Visualization and How to Integ...,thepowerofbivisualizationandho,Product Training Session
24,Should you refresh your current x86 hardware a...,"[{'value': 'Product Training Session', 'attrib...",TRN4782,Oracle OpenWorld,oow18,"[{'fileId': '1541718307822001nnE5', 'filename'...",45,[{'speakerId': '14574694661200015oeh_150393630...,None,"[{'sessionTimeID': '1535044864680001SZQw', 'se...",Best Practices for Going Hybrid with Oracle's ...,bestpracticesforgoinghybridwit,Product Training Session
25,In this session learn how the Application Cont...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4040,Oracle OpenWorld,oow18,"[{'fileId': '1540916912679001NCDY', 'filename'...",45,[{'speakerId': '14574694706970015WCZ_150393630...,None,"[{'sessionTimeID': '1532360846512001Jg89', 'se...",Transparent High Availability for Your Applica...,transparenthighavailabilityfor,Product Training Session
26,Are you planning on upgrading to Oracle Databa...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4029,Oracle OpenWorld,oow18,"[{'fileId': '15411473977700014loM', 'filename'...",45,[{'speakerId': '1457469435559001510o_150393630...,None,"[{'sessionTimeID': '1531945697704001z9Xg', 'se...",Upgrade to Oracle Database 18c: Live and Uncen...,upgradetooracledatabase18clive,Product Training Session
27,In this session take a quick look at the capab...,"[{'value': 'Product Training Session', 'attrib...",TRN6358,Oracle OpenWorld,oow18,"[{'fileId': '1540264358636001Dpe4', 'filename'...",45,[{'speakerId': '1467230528322001hGg0_150393630...,None,"[{'sessionTimeID': '1535315908676001BMSd', 'se...",Using Alert Composer to Simplify HCM Notificat...,usingalertcomposertosimplifyhc,Product Training Session
28,In this session learn about the need for a sec...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6450,Oracle OpenWorld,oow18,"[{'fileId': '1540237792021001Qzxw', 'filename'...",45,[{'speakerId': '1500578268510001KsST_150393630...,None,"[{'sessionTimeID': '1535317019542001B3US', 'se...",Using an Oracle Database 18c Security Schema t...,usinganoracledatabase18csecuri,Product Training Session
29,"In this session learn how to use the seeded ""d...","[{'value': 'Product Training Session', 'attrib...",TRN6613,Oracle OpenWorld,oow18,"[{'fileId': '1539883753658001bTsN', 'filename'...",20,[{'speakerId': '1533151159169001TlLV_150393630...,None,"[{'sessionTimeID': '15381122228010018vej', 'se...",Using a Seeded System Template in Oracle Hyper...,usingaseededsystemtemplateinor,Product Training Session
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2309,"The definition of a data lake is broad, and al...","[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4240,Oracle OpenWorld,oow18,None,45,[{'speakerId': '1497022382803001UfPG_150393630...,NaN,"[{'sessionTimeID': '1533798600913001MVpw', 'se...","Oracleâ€™s Data Platform: Easily Load, Manage, G...",oraclesdataplatformeasilyloadm,Tips and Tricks Session
2310,In this session learn how to optimize your dev...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4059,Oracle OpenWorld,oow18,"[{'fileId': '15404732129110019SqF', 'filename'...",45,[{'speakerId': '14574694632330015RAG_150393630...,NaN,"[{'sessionTimeID': '1531853633428001fs9e', 'se...",Oracle SQL Developer Tips and Tricks,oraclesqldevelopertipsandtrick,Tips and Tricks Session
2311,In this session learn best practice tips from ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4075,Oracle OpenWorld,oow18,"[{'fileId': '1540582354964001S0a5', 'filename'...",45,[{'speakerId': '1457469466837002549A_150393630...,NaN,"[{'sessionTimeID': '1532616542644001uj48', 'se...",Performance and Scalability Techniques for Ora...,performanceandscalabilitytechn,Tips and Tricks Session
2312,Python is hot and desirable. The cx_Oracle API...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4076,Oracle OpenWorld,oow18,"[{'fileId': '1540587368643001asFG', 'filename'...",45,[{'speakerId': '14574694955970015EaV_150393630...,NaN,"[{'sessionTimeID': '1531848815373001fZrV', 'se...",Python and Oracle Database on the Table,pythonandoracledatabaseontheta,Tips and Tricks Session
2313,SmartDB lets just two teams build an OLTP appl...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4043,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694869630015cpB_150393630...,NaN,"[{'sessionTimeID': '1531934181904001zRcU', 'se...",SmartDB and Edition-Based Redefinition: The Pe...,smartdbandeditionbasedredefini,Tips and Tricks Session
2314,For today's fast-changing world with daily rel...,"[{'value': 'Intermediate', 'attributevalue_id'...",TIP4104,Oracle OpenWorld,oow18,"[{'fileId': '1540593605024001fN56', 'filename'...",45,[{'speakerId': '14574694946650025woD_150393630...,NaN,"[{'sessionTimeID': '1531769910855001TRQe', 'se...",Appdev: Building Secure Database Applications ...,appdevbuildingsecuredatabaseap,Tips and Tricks Session
2315,Microservices are the de facto standard for an...,"[{'value': 'Intermediate', 'attributevalue_id'...",TIP4175,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694370360025gMe_150393630...,NaN,"[{'sessionTimeID': '1532734405803001VM1C', 'se...",Data Management in a Microservices World,datamanagementinamicroservices,Tips and Tricks Session
2316,If you are planning to implement a microservic...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP3967,Oracle OpenWorld,oow18,None,45,[{'speakerId': '146825817935900162Bz_150393630...,NaN,"[{'sessionTimeID': '15355740659960012Vo1', 'se...",DevOps for Polyglot Microservices Using Oracle...,devopsforpolyglotmicroservices,Tips and Tricks Session
2317,"Blockchain is hot, and if you have qualified u...","[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4592,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694677350015FG3_150393630...,NaN,"[{'sessionTimeID': '1533758908729001M4RV', 'se...",Getting Started with Oracle Blockchain Cloud S...,gettingstartedwithoracleblockc,Tips and Tricks Session
2318,MySQLâ€™s NDB cluster is a partitioned distribut...,"[{'value': 'Intermediate', 'attributevalue_id'...",TIP3088,Oracle OpenWorld,oow18,None,45,[{'speakerId': '145746943753100158bb_150393630...,NaN,"[{'sessionTimeID': '15354013856230011AH2', 'se...",Lessons from NDB Clusterâ€™s Asynchronous Design...,lessonsfromndbclustersasynchro,Tips and Tricks Session
2319,Modern web applications are based on hundreds ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4071,Oracle OpenWorld,oow18,"[{'fileId': '1540836337563001xvq2', 'filename'...",45,[{'speakerId': '14574694377280015QNA_150393630...,NaN,"[{'sessionTimeID': '1531854189516001TBzL', 'se...","Microservices, Containers, Databases, and Pers...",microservicescontainersdatabas,Tips and Tricks Session
2320,"MySQL InnoDB cluster provides a high-level, ea...","[{'value': 'Beginner', 'attributevalue_id': '1...",TIP3065,Oracle OpenWorld,oow18,"[{'fileId': '15414542866760017D8P', 'filename'...",45,[{'speakerId': '1464284608830001XvOn_150393630...,NaN,"[{'sessionTimeID': '153540152466000116sY', 'se...",MySQL 8 High Availability with InnoDB Cluster ...,mysql8highavailabilitywithinno,Tips and Tricks Session
2321,Database operations account for the larger par...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4068,Oracle OpenWorld,oow18,"[{'fileId': '1541102399809001xXug', 'filename'...",45,[{'speakerId': '14574694373590015wCR_150393630...,NaN,"[{'sessionTimeID': '1531853799352001aX4s', 'se...",Optimizing the Performance and Scalability of ...,optimizingtheperformanceandsca,Tips and Tricks Session
2322,"During this tutorial, you will learn how to us...","[{'value': 'Beginner', 'attributevalue_id': '1...",TUT6303,Oracle OpenWorld,oow18,"[{'fileId': '1541454340556001bnq5', 'filename'...",120,[{'speakerId': '1464284608830001XvOn_150393630...,NaN,"[{'sessionTimeID': '15354064474310011Ozp', 'se...",MySQL 8.0 Document Store: Everything You Need ...,mysql80documentstoreeverything,Tutorial Session
2323,The Binary Log is primarily used as a logical ...,"[{'value': 'Intermediate', 'attributevalue_id'...",TUT6318,Oracle OpenWorld,oow18,"[{'fileId': '1540394988525001Jny2', 'filename'...",120,[{'speakerId': '14574694488840015fWR_150393630...,NaN,"[{'sessionTimeID': '1535406361002001B3sI', 'se...",Using the MySQL Binary Log as a Change Stream,usingthemysqlbinarylogasachang,Tutorial Session
2324,The AdoptOpenJDK Build Farm is a new community...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT5283,Oracle Code One,oow18,"[{'fileId': '1540805960730001aPl2', 'filename'...",120,[{'speakerId': '14574694487160015jsC_150393630...,[],"[{'sessionTimeID': '15354105204170011IQG', 'se...",AdoptOpenJDK: Lessons Learned from the New Bui...,adoptopenjdklessonslearnedfrom,Tutorial Session
2325,Angular is one of the leading JavaScript frame...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT6265,Oracle Code One,oow18,"[{'fileId': '154099644451100189lR', 'filename'...",120,[{'speakerId': '1466805187131001h5uI_150393630...,None,"[{'sessionTimeID': '1536215006335001xh4l', 'se...",Angular for Java Enterprise Developers,angularforjavaenterprisedevelo,Tutorial Session
2326,Apache Kafka is a key component in enterprise ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT5454,Oracle Code One,oow18,"[{'fileId': '15403907032850019EI6', 'filename'...",120,[{'speakerId': '14574697793320025Tmy_150393630...,None,"[{'sessionTimeID': '15354095719030012Aqq', 'se...",Query Real-Time Kafka Streams with Oracle SQL,queryrealtimekafkastreamswitho,Tutorial Session
2327,Joshua Bloch just gifted us with the third edi...,"[{'value': 'Intermediate', 'attributevalue_id'...",TUT6008,Oracle Code One,oow18,"[{'fileId': '1542406396165001BZTm', 'filename'...",120,[{'speakerId': '145746945596900156Hr_150393630...,[],"[{'sessionTimeID': '1535558709502001Bd4T', 'se...",Revisiting Effective Java in 2018,revisitingeffectivejavain2018,Tutorial Session
2328,"This session discusses asynchronous, nonblocki...","[{'value': 'Intermediate', 'attributevalue_id'...",TUT5544,Oracle Code One,oow18,"[{'fileId': '154038926405800160jL', 'filename'...",120,[{'speakerId': '145746961848600154KH_150393630...,None,"[{'sessionTimeID': '1535410601734001BG6X', 'se...",Setting Up Asynchronous Systems with Fn Flow,settingupasynchronoussystemswi,Tutorial Session

In [407]:
#show nested array attributevalues for first record in Dataframe

ss['attributevalues'][0]

[{'attribute': 'Sessions by Experience Level',
  'attribute_id': 'SessionsbyExperienceLevel',
  'attributevalue_code': '1486682599762002N05j',
  'attributevalue_id': '1486682599762002N05j',
  'dataForm': '1503936308L8ef50df64',
  'displayorder': 1.0,
  'published': 1.0,
  'rf_attributevalue_id': '1486682600237001NDhX',
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': 'Beginner',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'Sessions by Experience Level',
  'attribute_id': 'SessionsbyExperienceLevel',
  'attributevalue_code': '1486682599762003NG3N',
  'attributevalue_id': '1486682599762003NG3N',
  'dataForm': '1503936308L8ef50df64',
  'displayorder': 2.0,
  'published': 1.0,
  'rf_attributevalue_id': '1486682600237002N7TO',
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': 'Intermediate',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'Sessions by Experience Level',
  'attribute_id': 'SessionsbyExperienceLevel',
  'attributevalue_code': '1486682712410001NgmB',
  'attributevalue_id': '1486682712410001NgmB',
  'dataForm': '1503936308L8ef50df64',
  'displayorder': 3.0,
  'published': 1.0,
  'rf_attributevalue_id': '1486682712694001NyTi',
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': 'Advanced',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'Track',
  'attribute_id': 'Track',
  'attributevalue_code': '150537435066001311wr',
  'attributevalue_id': '150537435066001311wr',
  'dataForm': '1503936308L8ef50df64',
  'displayorder': 32.0,
  'published': 1.0,
  'rf_attributevalue_id': '15053743521170121Lze',
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': '- Application Development',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'Sessions by Your Role',
  'attribute_id': 'SessionsbyYourRole',
  'attributevalue_code': '1517340027298003vDEK',
  'attributevalue_id': '1517340027298003vDEK',
  'dataForm': '1503936308L8ef50df64',
  'displayorder': 2.0,
  'published': 1.0,
  'rf_attributevalue_id': '1517340030932002vsf0',
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': 'DBA',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'Sessions by Company Market Size',
  'attribute_id': 'SessionsbyCompanyMarketSize',
  'attributevalue_code': '1517340176526002v4qA',
  'attributevalue_id': '1517340176526002v4qA',
  'dataForm': '1503936308L8ef50df64',
  'displayorder': 1.0,
  'published': 1.0,
  'rf_attributevalue_id': '1517340180534001vTAC',
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': 'Enterprise',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'Sessions by Company Market Size',
  'attribute_id': 'SessionsbyCompanyMarketSize',
  'attributevalue_code': '1517340176526003vYnP',
  'attributevalue_id': '1517340176526003vYnP',
  'dataForm': '1503936308L8ef50df64',
  'displayorder': 2.0,
  'published': 1.0,
  'rf_attributevalue_id': '1517340180534002vCwQ',
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': 'Growing Business',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'Sessions by Company Market Size',
  'attribute_id': 'SessionsbyCompanyMarketSize',
  'attributevalue_code': '1517340176526004vnmy',
  'attributevalue_id': '1517340176526004vnmy',
  'dataForm': '1503936308L8ef50df64',
  'displayorder': 3.0,
  'published': 1.0,
  'rf_attributevalue_id': '1517340180534003vtge',
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': 'Start Up',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'Sessions by Company Market Size',
  'attribute_id': 'SessionsbyCompanyMarketSize',
  'attributevalue_code': '1518205606800001KWNx',
  'attributevalue_id': '1518205606800001KWNx',
  'dataForm': '1503936308L8ef50df64',
  'displayorder': 4.0,
  'published': 1.0,
  'rf_attributevalue_id': '1518205607074001KD3t',
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': '< $200M in annual revenue',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'Sessions by Company Market Size',
  'attribute_id': 'SessionsbyCompanyMarketSize',
  'attributevalue_code': '1518205606800002KHE2',
  'attributevalue_id': '1518205606800002KHE2',
  'dataForm': '1503936308L8ef50df64',
  'displayorder': 5.0,
  'published': 1.0,
  'rf_attributevalue_id': '1518205607074002K0BS',
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': '$201M - $500M in annual revenue',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'Sessions by Company Market Size',
  'attribute_id': 'SessionsbyCompanyMarketSize',
  'attributevalue_code': '1518205606800003K5KR',
  'attributevalue_id': '1518205606800003K5KR',
  'dataForm': '1503936308L8ef50df64',
  'displayorder': 6.0,
  'published': 1.0,
  'rf_attributevalue_id': '1518205607074003KeFF',
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': '$501M - $1B in annual revenue',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'Sessions by Company Market Size',
  'attribute_id': 'SessionsbyCompanyMarketSize',
  'attributevalue_code': '1518205606800004KbYk',
  'attributevalue_id': '1518205606800004KbYk',
  'dataForm': '1503936308L8ef50df64',
  'displayorder': 7.0,
  'published': 1.0,
  'rf_attributevalue_id': '1518205607074004KSH4',
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': 'Over $1B in annual revenue',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'Sessions by Your Role',
  'attribute_id': 'SessionsbyYourRole',
  'attributevalue_code': '1518463228663001KuV1',
  'attributevalue_id': '1518463228663001KuV1',
  'dataForm': '1503936308L8ef50df64',
  'displayorder': 4.0,
  'published': 1.0,
  'rf_attributevalue_id': '1518463228945001KqJE',
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': 'Developers',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'Session Type',
  'attribute_id': 'SessionType',
  'attributevalue_code': '1518464344082001KHky',
  'attributevalue_id': '1518464344082001KHky',
  'dataForm': '1503936308L8ef50df64',
  'displayorder': 26.0,
  'published': 1.0,
  'rf_attributevalue_id': '1518464344506001KUj0',
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': 'Product Training Session',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'Oracle Cloud Platform',
  'attribute_id': 'OracleCloudPlatform',
  'attributevalue_code': '1519161685660003E73I',
  'attributevalue_id': '1519161685660003E73I',
  'dataForm': '1503936308L8ef50df64',
  'displayorder': 7.0,
  'published': 1.0,
  'rf_attributevalue_id': '1519161690006002E78Z',
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': 'Cloud Platform',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'Oracle Cloud Platform',
  'attribute_id': 'OracleCloudPlatform',
  'attributevalue_code': '1519161685660005Erra',
  'attributevalue_id': '1519161685660005Erra',
  'dataForm': '1503936308L8ef50df64',
  'displayorder': 10.0,
  'published': 1.0,
  'rf_attributevalue_id': '1519161690006004ETQd',
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': 'Oracle Autonomous Database',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'Oracle Cloud Platform',
  'attribute_id': 'OracleCloudPlatform',
  'attributevalue_code': '1519681984318001qkXu',
  'attributevalue_id': '1519681984318001qkXu',
  'dataForm': '1503936308L8ef50df64',
  'displayorder': 2.0,
  'published': 1.0,
  'rf_attributevalue_id': '1519681984708001qBIN',
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': 'Application Development',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'Sessions By Topic',
  'attribute_id': 'SessionsByTopic',
  'attributevalue_code': '1527109815598010GJkW',
  'attributevalue_id': '1527109815598010GJkW',
  'dataForm': '1503936308L8ef50df64',
  'displayorder': 3.0,
  'published': 1.0,
  'rf_attributevalue_id': '1527109821236009GhOk',
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': 'The Data Explosion',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'Sessions By Role',
  'attribute_id': 'SessionsByRole',
  'attributevalue_code': '1527706011542003XBOa',
  'attributevalue_id': '1527706011542003XBOa',
  'dataForm': '1503936308L8ef50df64',
  'displayorder': 3.0,
  'published': 1.0,
  'rf_attributevalue_id': '1527706017371002XIVt',
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': 'DBA',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'Track',
  'attribute_id': 'Track',
  'attributevalue_code': '15373831503110202Gae',
  'attributevalue_id': '15373831503110202Gae',
  'dataForm': '1503936308L8ef50df64',
  'displayorder': 1.0,
  'published': 1.0,
  'rf_attributevalue_id': '153738315099002022zx',
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': 'Oracle Cloud Platform',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'Track',
  'attribute_id': 'Track',
  'attributevalue_code': '1537383150311025240Q',
  'attributevalue_id': '1537383150311025240Q',
  'dataForm': '1503936308L8ef50df64',
  'displayorder': 3.0,
  'published': 1.0,
  'rf_attributevalue_id': '15373831509900252p9X',
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': '- Cloud Platform',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'Track',
  'attribute_id': 'Track',
  'attributevalue_code': '15373831503110262yiA',
  'attributevalue_id': '15373831503110262yiA',
  'dataForm': '1503936308L8ef50df64',
  'displayorder': 4.0,
  'published': 1.0,
  'rf_attributevalue_id': '153738315099002627Iu',
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': '- Oracle Autonomous Database',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'Event',
  'attribute_id': 'Event',
  'attributevalue_code': 'openworld',
  'attributevalue_id': 'openworld',
  'dataForm': '1503936308L8ef50df64',
  'displayorder': 4.0,
  'published': 1.0,
  'rf_attributevalue_id': '1459962405839002bE2x',
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': 'Oracle OpenWorld',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'Time',
  'attribute_id': 'DayTime',
  'attributevalue_id': '20181024t11',
  'dataForm': 'default',
  'published': 1.0,
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': '11:00 a.m. Wednesday, Oct 24',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'Day',
  'attribute_id': 'Day',
  'attributevalue_id': '20181024',
  'dataForm': 'default',
  'published': 1.0,
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': 'Wednesday, Oct 24',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True}]

In [408]:
#show nested array participants for first record in Dataframe

ss['participants'][0]
ss['files'][0]

[{'fileId': '1540594881063001PjdE',
  'filename': 'TRN4070_A-Database-Proxy-for-Transparent-High-Availability-Performance-Routing-and-Security.pdf',
  'url': 'https://static.rainfocus.com/oracle/oow18/sess/1523650128750001VI1i/PF/TRN4070_A-Database-Proxy-for-Transparent-High-Availability-Performance-Routing-and-Security_1540594881049001PwHW.pdf',
  'viewFileAccess': []}]

# Enriching the data

Some of the enrichments that would be useful:
* set a flag at session level to indicate whether the session is an Oracle session (with Oracle staff among the speakers- speaker has Oracle in companyName attribute)
* set a flag at session level to indicate whether a file has been uploaded for the session
* set a flag at session level to indicate whether one of the speakers has Java Rockstar, Java Champion, Developer Champion/Groundbreaker Ambassador, ACE or ACE Director
* set attribute level (based on attributevalues array) - beginner, all, ...
* derive track(s?) from attributevalues array (where attribute_id=Track or attribute_id=CodeOneTracks  )
* set attribute with number of speakers on session
* number of instances of the session
    
    
Additionally, using a list of companies that sponsor OOW or CodeOne, set a flag on sessions that are presented by a speaker from one of the sponsors

In [409]:
#function to derive Oracle flag from participants
def oracle_speaker(session):
      result = "N"
      # loop over speakers; if for any of them, companyName contains the word Oracle, the result =Y  
      for x in session["participants"][:]:
        if ("oracle" in x.get('companyName','x').lower()):
          result='Y'
      return result

In [410]:
#function to derive file flag from files
def file_flag(session):
      result = "N"
      if type(session.get("files",None)) =='list' :
          # loop over files; if any exist, then result = Y
          for x in session["files"][:]:
             if x['fileId']:
               result='Y'
      return result

In [411]:
#set oracle_speaker flag
#apply function oracle_speaker to every row in the data frame to derive values for the new column oracle_speaker
ss['oracle_speaker'] = ss.apply(oracle_speaker, axis=1)

#set file_flag
#apply function file_flag to every row in the data frame to derive values for the new column file_flag
ss['file_flag'] = ss.apply(file_flag, axis=1)

#show sessions 
ss

,abstract,attributevalues,code,event,eventCode,files,length,participants,sponsors,times,title,title_sort,type,oracle_speaker,file_flag
0,What if you could benefit from new database qu...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4070,Oracle OpenWorld,oow18,"[{'fileId': '1540594881063001PjdE', 'filename'...",45,[{'speakerId': '14574694377280015QNA_150393630...,None,"[{'sessionTimeID': '1532616475210001usPa', 'se...",A Database Proxy for Transparent High Availabi...,adatabaseproxyfortransparenthi,Product Training Session,Y,N
1,How does a real-world performance engineer int...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4026,Oracle OpenWorld,oow18,"[{'fileId': '1540053090863001JeFM', 'filename'...",45,[{'speakerId': '145746969078000151fg_150393630...,None,"[{'sessionTimeID': '1531945554973001z4Hi', 'se...",A Day in the Life of a Real-World Performance ...,adayinthelifeofarealworldperfo,Product Training Session,Y,N
2,Understand the tools and techniques available ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4567,Oracle OpenWorld,oow18,"[{'fileId': '1539988618000001VcCe', 'filename'...",45,[{'speakerId': '1468532302119001DtNf_150393630...,None,"[{'sessionTimeID': '15352384203600012G04', 'se...",Best Practices for Diagnosing and Troubleshoot...,bestpracticesfordiagnosingandt,Product Training Session,Y,N
3,In order to derive value from the Internet of ...,"[{'value': 'Product Training Session', 'attrib...",TRN6363,Oracle OpenWorld,oow18,"[{'fileId': '1539982921144001RL4h', 'filename'...",45,[{'speakerId': '1500580326390001qTtd_150393630...,None,"[{'sessionTimeID': '1535223010412001BrNh', 'se...",Oracle Internet of Things Cloud Service and En...,oracleinternetofthingscloudser,Product Training Session,Y,N
4,Oracle Linux powers tens of thousands of enter...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5828,Oracle OpenWorld,oow18,"[{'fileId': '1540152941675001kZHw', 'filename'...",45,[{'speakerId': '14574694616420015a7T_150393630...,None,"[{'sessionTimeID': '1535040668257001twFq', 'se...",Oracle Linux and Oracle VM: Get Trained for Cl...,oraclelinuxandoraclevmgettrain,Product Training Session,Y,N
5,"What do Oracle Database listener, dedicated se...","[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4073,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694719240015Rek_150393630...,None,"[{'sessionTimeID': '1531848510829001f1BX', 'se...",Oracle Net Services: Best Practices for Databa...,oraclenetservicesbestpractices,Product Training Session,Y,N
6,Oracle Real Application Clusters (Oracle RAC) ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4022,Oracle OpenWorld,oow18,"[{'fileId': '1540866799064001PrBM', 'filename'...",45,[{'speakerId': '14574695066480015FSs_150393630...,None,"[{'sessionTimeID': '1532032980624001vrvB', 'se...",Oracle Real Application Clusters 18c Internals,oraclerealapplicationclusters1,Product Training Session,Y,N
7,"For more than 20 years, Oracle customers have ...","[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4219,Oracle OpenWorld,oow18,"[{'fileId': '1542318657574001slPL', 'filename'...",45,[{'speakerId': '14574697134790015Cey_150393630...,None,"[{'sessionTimeID': '15323599396290012ffV', 'se...",Oracle Recovery Manager: Latest-Generation Fea...,oraclerecoverymanagerlatestgen,Product Training Session,Y,N
8,Join the Oracle SuperCluster solutions archite...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN3762,Oracle OpenWorld,oow18,"[{'fileId': '1540242496214001kHW9', 'filename'...",45,[{'speakerId': '14574696086150025iVM_150393630...,None,"[{'sessionTimeID': '1535041002002001jVWR', 'se...","Oracle SuperCluster Best Practices, and What H...",oraclesuperclusterbestpractice,Product Training Session,Y,N
9,Development teams are actively looking for new...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4051,Oracle OpenWorld,oow18,"[{'fileId': '1541678122503001g1k7', 'filename'...",45,[{'speakerId': '14574695065470015TFw_150393630...,None,"[{'sessionTimeID': '1531934399478001ts1H', 'se...","Patterns and Use Cases for Self-Describing, Re...",patternsandusecasesforselfdesc,Product Training Session,Y,N
10,In this session learn how to make client data ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6449,Oracle OpenWorld,oow18,"[{'fileId': '1540334126918001DZZj', 'filename'...",45,[{'speakerId': '1500578268510001KsST_150393630...,None,"[{'sessionTimeID': '1535610677698001BB58', 'se...",Providing High Availability of Data by Using C...,providinghighavailabilityofdat,Product Training Session,Y,N
11,Given the increasing popularity of chatbots an...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5793,Oracle OpenWorld,oow18,"[{'fileId': '1540696800751001fVXj', 'filename'...",45,[{'speakerId': '14574694572360015BYe_150393630...,None,"[{'sessionTimeID': '1533759208391001MgR9', 'se...",Real-Time Insights to Build Better Digital Ass...,realtimeinsightstobuildbetterd,Product Training Session,Y,N
12,The Meltdown and Spectre vulnerabilities have ...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4072,Oracle OpenWorld,oow18,"[{'fileId': '15404056484970016EOs', 'filename'...",45,[{'speakerId': '14574694764920025gqH_150393630...,None,"[{'sessionTimeID': '1531946376143001tL1H', 'se...",Real-World Performance from Micro to Macro: Is...,realworldperformancefrommicrot,Product Training Session,Y,N
13,This session covers the best practices for per...,"[{'value': 'Product Training Session', 'attrib...",TRN6620,Oracle OpenWorld,oow18,None,20,[{'speakerId': '1470698803884001CfwZ_150393630...,None,"[{'sessionTimeID': '1538112369718001MoR2', 'se...",Best Practices for Enterprise Application Perf...,bestpracticesforenterpriseappl,Product Training Session,Y,N
14,The Real-World Performance team had the opport...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4025,Oracle OpenWorld,oow18,"[{'fileId': '154034529241500163Pr', 'filename'...",45,[{'speakerId': '14574694653030015toE_150393630...,None,"[{'sessionTimeID': '1531945751183001t4Yv', 'se...",Real-World Performance with Oracle Autonomous ...,realworldperformancewithoracle,Product Training Session,Y,N
15,Oracle Database 12c Release 2 significantly im...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN1263,Oracle OpenWorld,oow18,"[{'fileId': '15403083170840019yL5', 'filename'...",45,[{'speakerId': '14574694431760015Rra_150393630...,None,"[{'sessionTimeID': '15352342403930012AGW', 'se...",Saving Your Database from Memory Loss: Oracle ...,savingyourdatabasefrommemorylo,Product Training Session,N,N
16,Oracle Cloud Infrastructure Container Service ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4723,Oracle OpenWorld,oow18,"[{'fileId': '15414494303820010VyY', 'filename'...",45,[{'speakerId': '14574694616420015a7T_150393630...,None,"[{'sessionTimeID': '1535043544729001tjKO', 'se...",Secure and Agile Orchestration for Linux Conta...,secureandagileorchestrationfor,Product Training Session,Y,N
17,"As technology changes, companies face a wideni...","[{'value': 'Product Training Session', 'attrib...",TRN6500,Oracle OpenWorld,oow18,None,45,[{'speakerId': '1474430990525001R0yi_150393630...,None,"[{'sessionTimeID': '15374742618600012uOv', 'se...",Skilling Your Workforce with Oracle University...,skillingyourworkforcewithoracl,Product Training Session,Y,N
18,Migrating on-premises live production database...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4410,Oracle OpenWorld,oow18,"[{'fileId': '1540318725969001Qpwz', 'filename'...",45,[{'speakerId': '1513311598012001gZ9f_150393630...,None,"[{'sessionTimeID': '15362459005080013QcA', 'se...",Strategies for Migrating Your Database to Orac...,strategiesformigratingyourdata,Product Training Session,Y,N
19,In this session hear an Oracle University cust...,"[{'value': 'Product Training Session', 'attrib...",TRN6364,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574698040360015uCl_150393630...,None,"[{'sessionTimeID': '15352234763450012iJo', 'se...",Tell the story: Enablement Best Practices for ...,tellthestoryenablementbestprac,Product Training Session,Y,N
20,Your people are your biggest asset. A quick tr...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6721,Oracle OpenWorld,oow18,None,45,[{'speakerId': '145746956634500155ht_150393630...,None,"[{'sessionTimeID': '15376443148670016UPZ', 'se...",Tell the Story: People Enablement as the Key t...,tellthestorypeopleenablementas,Product Training Session,Y,N
21,This year saw the introduction of Oracle Auton...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN3980,Oracle OpenWorld,oow18,"[{'fileId': '1541192406763001UgbK', 'filename'...",45,[{'speakerId': '14574694525770015tTj_150393630...,None,"[{'sessionTimeID': '1531859226336001fb21', 'se...",Test Drive Automatic Index Creation in Oracle ...,testdriveautomaticindexcreatio,Product Training Session,Y,N
22,"One-command database upgrade? Yes, the new aut...","[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4031,Oracle OpenWorld,oow18,"[{'fileId': '15411474157640018MMu', 'filename'...",45,[{'speakerId': '145746948919200355Sq_150393630...,None,"[{'sessionTimeID': '1531861888282001T846', 'se...",The New Auto-Upgrade for Oracle Databases,thenewautoupgradefororacledata,Product Training Session,Y,N
23,Get instant clarity to improve your business w...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4447,Oracle OpenWorld,oow18,"[{'fileId': '1539645493648001NyP5', 'filename'...",45,[{'speakerId': '1496418243721001rgfo_150393630...,None,"[{'sessionTimeID': '1534265354271001dNrc', 'se...",The Power of BI Visualization and How to Integ...,thepowerofbivisualizationandho,Product Training Session,Y,N
24,Should you refresh your current x86 hardware a...,"[{'value': 'Product Training Session', 'attrib...",TRN4782,Oracle OpenWorld,oow18,"[{'fileId': '1541718307822001nnE5', 'filename'...",45,[{'speakerId': '14574694661200015oeh_150393630...,None,"[{'sessionTimeID': '1535044864680001SZQw', 'se...",Best Practices for Going Hybrid with Oracle's ...,bestpracticesforgoinghybridwit,Product Training Session,Y,N
25,In this session learn how the Application Cont...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4040,Oracle OpenWorld,oow18,"[{'fileId': '1540916912679001NCDY', 'filename'...",45,[{'speakerId': '14574694706970015WCZ_150393630...,None,"[{'sessionTimeID': '1532360846512001Jg89', 'se...",Transparent High Availability for Your Applica...,transparenthighavailabilityfor,Product Training Session,Y,N
26,Are you planning on upgrading to Oracle Databa...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4029,Oracle OpenWorld,oow18,"[{'fileId': '15411473977700014loM', 'filename'...",45,[{'speakerId': '1457469435559001510o_150393630...,None,"[{'sessionTimeID': '1531945697704001z9Xg', 'se...",Upgrade to Oracle Database 18c: Live and Uncen...,upgradetooracledatabase18clive,Product Training Session,Y,N
27,In this session take a quick look at the capab...,"[{'value': 'Product Training Session', 'attrib...",TRN6358,Oracle OpenWorld,oow18,"[{'fileId': '1540264358636001Dpe4', 'filename'...",45,[{'speakerId': '1467230528322001hGg0_150393630...,None,"[{'sessionTimeID': '1535315908676001BMSd', 'se...",Using Alert Composer to Simplify HCM Notificat...,usingalertcomposertosimplifyhc,Product Training Session,Y,N
28,In this session learn about the need for a sec...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6450,Oracle OpenWorld,oow18,"[{'fileId': '1540237792021001Qzxw', 'filename'...",45,[{'speakerId': '1500578268510001KsST_150393630...,None,"[{'sessionTimeID': '1535317019542001B3US', 'se...",Using an Oracle Database 18c Security Schema t...,usinganoracledatabase18csecuri,Product Training Session,Y,N
29,"In this session learn how to use the seeded ""d...","[{'value': 'Product Training Session', 'attrib...",TRN6613,Oracle OpenWorld,oow18,"[{'fileId': '1539883753658001bTsN', 'filename'...",20,[{'speakerId': '1533151159169001TlLV_150393630...,None,"[{'sessionTimeID': '15381122228010018vej', 'se...",Using a Seeded System Template in Oracle Hyper...,usingaseededsystemtemplateinor,Product Training Session,Y,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2309,"The definition of a data lake is broad, and al...","[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4240,Oracle OpenWorld,oow18,None,45,[{'speakerId': '1497022382803001UfPG_150393630...,NaN,"[{'sessionTimeID': '1533798600913001MVpw', 'se...","Oracleâ€™s Data Platform: Easily Load, Manage, G...",oraclesdataplatformeasilyloadm,Tips and Tricks Session,Y,N
2310,In this session learn how to optimize your dev...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4059,Oracle OpenWorld,oow18,"[{'fileId': '15404732129110019SqF', 'filename'...",45,[{'speakerId': '14574694632330015RAG_150393630...,NaN,"[{'sessionTimeID': '1531853633428001fs9e', 'se...",Oracle SQL Developer Tips and Tricks,oraclesqldevelopertipsandtrick,Tips and Tricks Session,Y,N
2311,In this session learn best practice tips from ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4075,Oracle OpenWorld,oow18,"[{'fileId': '1540582354964001S0a5', 'filename'...",45,[{'speakerId': '1457469466837002549A_150393630...,NaN,"[{'sessionTimeID': '1532616542644001uj48', 'se...",Performance and Scalability Techniques for Ora...,performanceandscalabilitytechn,Tips and Tricks Session,Y,N
2312,Python is hot and desirable. The cx_Oracle API...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4076,Oracle OpenWorld,oow18,"[{'fileId': '1540587368643001asFG', 'filename'...",45,[{'speakerId': '14574694955970015EaV_150393630...,NaN,"[{'sessionTimeID': '1531848815373001fZrV', 'se...",Python and Oracle Database on the Table,pythonandoracledatabaseontheta,Tips and Tricks Session,Y,N
2313,SmartDB lets just two teams build an OLTP appl...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4043,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694869630015cpB_150393630...,NaN,"[{'sessionTimeID': '1531934181904001zRcU', 'se...",SmartDB and Edition-Based Redefinition: The Pe...,smartdbandeditionbasedredefini,Tips and Tricks Session,Y,N
2314,For today's fast-changing world with daily rel...,"[{'value': 'Intermediate', 'attributevalue_id'...",TIP4104,Oracle OpenWorld,oow18,"[{'fileId': '1540593605024001fN56', 'filename'...",45,[{'speakerId': '14574694946650025woD_150393630...,NaN,"[{'sessionTimeID': '1531769910855001TRQe', 'se...",Appdev: Building Secure Database Applications ...,appdevbuildingsecuredatabaseap,Tips and Tricks Session,Y,N
2315,Microservices are the de facto standard for an...,"[{'value': 'Intermediate', 'attributevalue_id'...",TIP4175,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694370360025gMe_150393630...,NaN,"[{'sessionTimeID': '1532734405803001VM1C', 'se...",Data Management in a Microservices World,datamanagementinamicroservices,Tips and Tricks Session,Y,N
2316,If you are planning to implement a microservic...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP3967,Oracle OpenWorld,oow18,None,45,[{'speakerId': '146825817935900162Bz_150393630...,NaN,"[{'sessionTimeID': '15355740659960012Vo1', 'se...",DevOps for Polyglot Microservices Using Oracle...,devopsforpolyglotmicroservices,Tips and Tricks Session,Y,N
2317,"Blockchain is hot, and if you have qualified u...","[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4592,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694677350015FG3_150393630...,NaN,"[{'sessionTimeID': '1533758908729001M4RV', 'se...",Getting Started with Oracle Blockchain Cloud S...,gettingstartedwithoracleblockc,Tips and Tricks Session,Y,N
2318,MySQLâ€™s NDB cluster is a partitioned distribut...,"[{'value': 'Intermediate', 'attributevalue_id'...",TIP3088,Oracle OpenWorld,oow18,None,45,[{'speakerId': '145746943753100158bb_150393630...,NaN,"[{'sessionTimeID': '15354013856230011AH2', 'se...",Lessons from NDB Clusterâ€™s Asynchronous Design...,lessonsfromndbclustersasynchro,Tips and Tricks Session,Y,N
2319,Modern web applications are based on hundreds ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4071,Oracle OpenWorld,oow18,"[{'fileId': '1540836337563001xvq2', 'filename'...",45,[{'speakerId': '14574694377280015QNA_150393630...,NaN,"[{'sessionTimeID': '1531854189516001TBzL', 'se...","Microservices, Containers, Databases, and Pers...",microservicescontainersdatabas,Tips and Tricks Session,Y,N
2320,"MySQL InnoDB cluster provides a high-level, ea...","[{'value': 'Beginner', 'attributevalue_id': '1...",TIP3065,Oracle OpenWorld,oow18,"[{'fileId': '15414542866760017D8P', 'filename'...",45,[{'speakerId': '1464284608830001XvOn_150393630...,NaN,"[{'sessionTimeID': '153540152466000116sY', 'se...",MySQL 8 High Availability with InnoDB Cluster ...,mysql8highavailabilitywithinno,Tips and Tricks Session,Y,N
2321,Database operations account for the larger par...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4068,Oracle OpenWorld,oow18,"[{'fileId': '1541102399809001xXug', 'filename'...",45,[{'speakerId': '14574694373590015wCR_150393630...,NaN,"[{'sessionTimeID': '1531853799352001aX4s', 'se...",Optimizing the Performance and Scalability of ...,optimizingtheperformanceandsca,Tips and Tricks Session,Y,N
2322,"During this tutorial, you will learn how to us...","[{'value': 'Beginner', 'attributevalue_id': '1...",TUT6303,Oracle OpenWorld,oow18,"[{'fileId': '1541454340556001bnq5', 'filename'...",120,[{'speakerId': '1464284608830001XvOn_150393630...,NaN,"[{'sessionTimeID': '15354064474310011Ozp', 'se...",MySQL 8.0 Document Store: Everything You Need ...,mysql80documentstoreeverything,Tutorial Session,Y,N
2323,The Binary Log is primarily used as a logical ...,"[{'value': 'Intermediate', 'attributevalue_id'...",TUT6318,Oracle OpenWorld,oow18,"[{'fileId': '1540394988525001Jny2', 'filename'...",120,[{'speakerId': '14574694488840015fWR_150393630...,NaN,"[{'sessionTimeID': '1535406361002001B3sI', 'se...",Using the MySQL Binary Log as a Change Stream,usingthemysqlbinarylogasachang,Tutorial Session,Y,N
2324,The AdoptOpenJDK Build Farm is a new community...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT5283,Oracle Code One,oow18,"[{'fileId': '1540805960730001aPl2', 'filename'...",120,[{'speakerId': '14574694487160015jsC_150393630...,[],"[{'sessionTimeID': '15354105204170011IQG', 'se...",AdoptOpenJDK: Lessons Learned from the New Bui...,adoptopenjdklessonslearnedfrom,Tutorial Session,N,N
2325,Angular is one of the leading JavaScript frame...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT6265,Oracle Code One,oow18,"[{'fileId': '154099644451100189lR', 'filename'...",120,[{'speakerId': '1466805187131001h5uI_150393630...,None,"[{'sessionTimeID': '1536215006335001xh4l', 'se...",Angular for Java Enterprise Developers,angularforjavaenterprisedevelo,Tutorial Session,N,N
2326,Apache Kafka is a key component in enterprise ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT5454,Oracle Code One,oow18,"[{'fileId': '15403907032850019EI6', 'filename'...",120,[{'speakerId': '14574697793320025Tmy_150393630...,None,"[{'sessionTimeID': '15354095719030012Aqq', 'se...",Query Real-Time Kafka Streams with Oracle SQL,queryrealtimekafkastreamswitho,Tutorial Session,Y,N
2327,Joshua Bloch just gifted us with the third edi...,"[{'value': 'Intermediate', 'attributevalue_id'...",TUT6008,Oracle Code One,oow18,"[{'fileId': '1542406396165001BZTm', 'filename'...",120,[{'speakerId': '145746945596900156Hr_150393630...,[],"[{'sessionTimeID': '1535558709502001Bd4T', 'se...",Revisiting Effective Java in 2018,revisitingeffectivejavain2018,Tutorial Session,N,N
2328,"This session discusses asynchronous, nonblocki...","[{'value': 'Intermediate', 'attributevalue_id'...",TUT5544,Oracle Code One,oow18,"[{'fileId': '154038926405800160jL', 'filename'...",120,[{'speakerId': '145746961848600154KH_150393630...,None,"[{'sessionTimeID': '1535410601734001BG6X', 'se...",Setting Up Asynchronous Systems with Fn Flow,settingupasynchronoussystemswi,Tutorial Session,Y,N

In [412]:
#function to derive designation flag from speakers
# values for designation: JavaOne Rockstar, Oracle ACE Director, Oracle Java Champion, Groundbreaker Ambassador, 
def speaker_designation(session, designation):
      result = "N"
      # loop over speakers and their attributevalues; if any exist with attribute_id == specialdesignations and value == JavaOne Rockstar
      for x in session["participants"][:]:
          if "attributevalues" in x: 
              for y in x["attributevalues"][:]:
                if "attribute_id" in y: 
                    if y["attribute_id"]=="specialdesignations":
                        if y["value"]== designation:
                            result="Y"
      return result

In [413]:
#set flags for designations
designations = ['JavaOne Rockstar', 'Oracle ACE Director', 'Oracle Java Champion', 'Groundbreaker Ambassador']
for d in designations:
   ss[d] = ss.apply(speaker_designation, args=(d,), axis=1) 

ss

,abstract,attributevalues,code,event,eventCode,files,length,participants,sponsors,times,title,title_sort,type,oracle_speaker,file_flag,JavaOne Rockstar,Oracle ACE Director,Oracle Java Champion,Groundbreaker Ambassador
0,What if you could benefit from new database qu...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4070,Oracle OpenWorld,oow18,"[{'fileId': '1540594881063001PjdE', 'filename'...",45,[{'speakerId': '14574694377280015QNA_150393630...,None,"[{'sessionTimeID': '1532616475210001usPa', 'se...",A Database Proxy for Transparent High Availabi...,adatabaseproxyfortransparenthi,Product Training Session,Y,N,N,N,N,N
1,How does a real-world performance engineer int...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4026,Oracle OpenWorld,oow18,"[{'fileId': '1540053090863001JeFM', 'filename'...",45,[{'speakerId': '145746969078000151fg_150393630...,None,"[{'sessionTimeID': '1531945554973001z4Hi', 'se...",A Day in the Life of a Real-World Performance ...,adayinthelifeofarealworldperfo,Product Training Session,Y,N,N,N,N,N
2,Understand the tools and techniques available ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4567,Oracle OpenWorld,oow18,"[{'fileId': '1539988618000001VcCe', 'filename'...",45,[{'speakerId': '1468532302119001DtNf_150393630...,None,"[{'sessionTimeID': '15352384203600012G04', 'se...",Best Practices for Diagnosing and Troubleshoot...,bestpracticesfordiagnosingandt,Product Training Session,Y,N,N,N,N,N
3,In order to derive value from the Internet of ...,"[{'value': 'Product Training Session', 'attrib...",TRN6363,Oracle OpenWorld,oow18,"[{'fileId': '1539982921144001RL4h', 'filename'...",45,[{'speakerId': '1500580326390001qTtd_150393630...,None,"[{'sessionTimeID': '1535223010412001BrNh', 'se...",Oracle Internet of Things Cloud Service and En...,oracleinternetofthingscloudser,Product Training Session,Y,N,N,N,N,N
4,Oracle Linux powers tens of thousands of enter...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5828,Oracle OpenWorld,oow18,"[{'fileId': '1540152941675001kZHw', 'filename'...",45,[{'speakerId': '14574694616420015a7T_150393630...,None,"[{'sessionTimeID': '1535040668257001twFq', 'se...",Oracle Linux and Oracle VM: Get Trained for Cl...,oraclelinuxandoraclevmgettrain,Product Training Session,Y,N,N,N,N,N
5,"What do Oracle Database listener, dedicated se...","[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4073,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694719240015Rek_150393630...,None,"[{'sessionTimeID': '1531848510829001f1BX', 'se...",Oracle Net Services: Best Practices for Databa...,oraclenetservicesbestpractices,Product Training Session,Y,N,N,N,N,N
6,Oracle Real Application Clusters (Oracle RAC) ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4022,Oracle OpenWorld,oow18,"[{'fileId': '1540866799064001PrBM', 'filename'...",45,[{'speakerId': '14574695066480015FSs_150393630...,None,"[{'sessionTimeID': '1532032980624001vrvB', 'se...",Oracle Real Application Clusters 18c Internals,oraclerealapplicationclusters1,Product Training Session,Y,N,N,N,N,N
7,"For more than 20 years, Oracle customers have ...","[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4219,Oracle OpenWorld,oow18,"[{'fileId': '1542318657574001slPL', 'filename'...",45,[{'speakerId': '14574697134790015Cey_150393630...,None,"[{'sessionTimeID': '15323599396290012ffV', 'se...",Oracle Recovery Manager: Latest-Generation Fea...,oraclerecoverymanagerlatestgen,Product Training Session,Y,N,N,N,N,N
8,Join the Oracle SuperCluster solutions archite...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN3762,Oracle OpenWorld,oow18,"[{'fileId': '1540242496214001kHW9', 'filename'...",45,[{'speakerId': '14574696086150025iVM_150393630...,None,"[{'sessionTimeID': '1535041002002001jVWR', 'se...","Oracle SuperCluster Best Practices, and What H...",oraclesuperclusterbestpractice,Product Training Session,Y,N,N,N,N,N
9,Development teams are actively looking for new...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4051,Oracle OpenWorld,oow18,"[{'fileId': '1541678122503001g1k7', 'filename'...",45,[{'speakerId': '14574695065470015TFw_150393630...,None,"[{'sessionTimeID': '1531934399478001ts1H', 'se...","Patterns and Use Cases for Self-Describing, Re...",patternsandusecasesforselfdesc,Product Training Session,Y,N,N,N,N,N
10,In this session learn how to make client data ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6449,Oracle OpenWorld,oow18,"[{'fileId': '1540334126918001DZZj', 'filename'...",45,[{'speakerId': '1500578268510001KsST_150393630...,None,"[{'sessionTimeID': '1535610677698001BB58', 'se...",Providing High Availability of Data by Using C...,providinghighavailabilityofdat,Product Training Session,Y,N,Y,N,N,N
11,Given the increasing popularity of chatbots an...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5793,Oracle OpenWorld,oow18,"[{'fileId': '1540696800751001fVXj', 'filename'...",45,[{'speakerId': '14574694572360015BYe_150393630...,None,"[{'sessionTimeID': '1533759208391001MgR9', 'se...",Real-Time Insights to Build Better Digital Ass...,realtimeinsightstobuildbetterd,Product Training Session,Y,N,N,N,N,N
12,The Meltdown and Spectre vulnerabilities have ...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4072,Oracle OpenWorld,oow18,"[{'fileId': '15404056484970016EOs', 'filename'...",45,[{'speakerId': '14574694764920025gqH_150393630...,None,"[{'sessionTimeID': '1531946376143001tL1H', 'se...",Real-World Performance from Micro to Macro: Is...,realworldperformancefrommicrot,Product Training Session,Y,N,N,N,N,N
13,This session covers the best practices for per...,"[{'value': 'Product Training Session', 'attrib...",TRN6620,Oracle OpenWorld,oow18,None,20,[{'speakerId': '1470698803884001CfwZ_150393630...,None,"[{'sessionTimeID': '1538112369718001MoR2', 'se...",Best Practices for Enterprise Application Perf...,bestpracticesforenterpriseappl,Product Training Session,Y,N,N,N,N,N
14,The Real-World Performance team had the opport...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4025,Oracle OpenWorld,oow18,"[{'fileId': '154034529241500163Pr', 'filename'...",45,[{'speakerId': '14574694653030015toE_150393630...,None,"[{'sessionTimeID': '1531945751183001t4Yv', 'se...",Real-World Performance with Oracle Autonomous ...,realworldperformancewithoracle,Product Training Session,Y,N,N,N,N,N
15,Oracle Database 12c Release 2 significantly im...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN1263,Oracle OpenWorld,oow18,"[{'fileId': '15403083170840019yL5', 'filename'...",45,[{'speakerId': '14574694431760015Rra_150393630...,None,"[{'sessionTimeID': '15352342403930012AGW', 'se...",Saving Your Database from Memory Loss: Oracle ...,savingyourdatabasefrommemorylo,Product Training Session,N,N,N,Y,N,N
16,Oracle Cloud Infrastructure Container Service ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4723,Oracle OpenWorld,oow18,"[{'fileId': '15414494303820010VyY', 'filename'...",45,[{'speakerId': '14574694616420015a7T_150393630...,None,"[{'sessionTimeID': '1535043544729001tjKO', 'se...",Secure and Agile Orchestration for Linux Conta...,secureandagileorchestrationfor,Product Training Session,Y,N,N,N,N,N
17,"As technology changes, companies face a wideni...","[{'value': 'Product Training Session', 'attrib...",TRN6500,Oracle OpenWorld,oow18,None,45,[{'speakerId': '1474430990525001R0yi_150393630...,None,"[{'sessionTimeID': '15374742618600012uOv', 'se...",Skilling Your Workforce with Oracle University...,skillingyourworkforcewithoracl,Product Training Session,Y,N,N,N,N,N
18,Migrating on-premises live production database...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4410,Oracle OpenWorld,oow18,"[{'fileId': '1540318725969001Qpwz', 'filename'...",45,[{'speakerId': '1513311598012001gZ9f_150393630...,None,"[{'sessionTimeID': '15362459005080013QcA', 'se...",Strategies for Migrating Your Database to Orac...,strategiesformigratingyourdata,Product Training Session,Y,N,N,N,N,N
19,In this session hear an Oracle University cust...,"[{'value': 'Product Training Session', 'attrib...",TRN6364,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574698040360015uCl_150393630...,None,"[{'sessionTimeID': '15352234763450012iJo', 'se...",Tell the story: Enablement Best Practices for ...,tellthestoryenablementbestprac,Product Training Session,Y,N,N,N,N,N
20,Your people are your biggest asset. A quick tr...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6721,Oracle OpenWorld,oow18,None,45,[{'speakerId': '145746956634500155ht_150393630...,None,"[{'sessionTimeID': '15376443148670016UPZ', 'se...",Tell the Story: People Enablement as the Key t...,tellthestorypeopleenablementas,Product Training Session,Y,N,N,N,N,N
21,This year saw the introduction of Oracle Auton...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN3980,Oracle OpenWorld,oow18,"[{'fileId': '1541192406763001UgbK', 'filename'...",45,[{'speakerId': '14574694525770015tTj_150393630...,None,"[{'sessionTimeID': '1531859226336001fb21', 'se...",Test Drive Automatic Index Creation in Oracle ...,testdriveautomaticindexcreatio,Product Training Session,Y,N,N,N,N,Y
22,"One-command database upgrade? Yes, the new aut...","[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4031,Oracle OpenWorld,oow18,"[{'fileId': '15411474157640018MMu', 'filename'...",45,[{'speakerId': '145746948919200355Sq_150393630...,None,"[{'sessionTimeID': '1531861888282001T846', 'se...",The New Auto-Upgrade for Oracle Databases,thenewautoupgradefororacledata,Product Training Session,Y,N,N,N,N,N
23,Get instant clarity to improve your business w...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4447,Oracle OpenWorld,oow18,"[{'fileId': '1539645493648001NyP5', 'filename'...",45,[{'speakerId': '1496418243721001rgfo_150393630...,None,"[{'sessionTimeID': '1534265354271001dNrc', 'se...",The Power of BI Visualization and How to Integ...,thepowerofbivisualizationandho,Product Training Session,Y,N,N,N,N,N
24,Should you refresh your current x86 hardware a...,"[{'value': 'Product Training Session', 'attrib...",TRN4782,Oracle OpenWorld,oow18,"[{'fileId': '1541718307822001nnE5', 'filename'...",45,[{'speakerId': '14574694661200015oeh_150393630...,None,"[{'sessionTimeID': '1535044864680001SZQw', 'se...",Best Practices for Going Hybrid with Oracle's ...,bestpracticesforgoinghybridwit,Product Training Session,Y,N,N,N,N,N
25,In this session learn how the Application Cont...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4040,Oracle OpenWorld,oow18,"[{'fileId': '1540916912679001NCDY', 'filename'...",45,[{'speakerId': '14574694706970015WCZ_150393630...,None,"[{'sessionTimeID': '1532360846512001Jg89', 'se...",Transparent High Availability for Your Applica...,transparenthighavailabilityfor,Product Training Session,Y,N,N,N,N,N
26,Are you planning on upgrading to Oracle Databa...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4029,Oracle OpenWorld,oow18,"[{'fileId': '15411473977700014loM', 'filename'...",45,[{'speakerId': '1457469435559001510o_150393630...,None,"[{'sessionTimeID': '1531945697704001z9Xg', 'se...",Upgrade to Oracle Database 18c: Live and Uncen...,upgradetooracledatabase18clive,Product Training Session,Y,N,N,N,N,N
27,In this session take a quick look at the capab...,"[{'value': 'Product Training Session', 'attrib...",TRN6358,Oracle OpenWorld,oow18,"[{'fileId': '1540264358636001Dpe4', 'filename'...",45,[{'speakerId': '1467230528322001hGg0_150393630...,None,"[{'sessionTimeID': '1535315908676001BMSd', 'se...",Using Alert Composer to Simplify HCM Notificat...,usingalertcomposertosimplifyhc,Product Training Session,Y,N,N,N,N,N
28,In this session learn about the need for a sec...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6450,Oracle OpenWorld,oow18,"[{'fileId': '1540237792021001Qzxw', 'filename'...",45,[{'speakerId': '1500578268510001KsST_150393630...,None,"[{'sessionTimeID': '1535317019542001B3US', 'se...",Using an Oracle Database 18c Security Schema t...,usinganoracledatabase18csecuri,Product Training Session,Y,N,Y,N,N,N
29,"In this session learn how to use the seeded ""d...","[{'value': 'Product Training Session', 'attrib...",TRN6613,Oracle OpenWorld,oow18,"[{'fileId': '1539883753658001bTsN', 'filename'...",20,[{'speakerId': '1533151159169001TlLV_150393630...,None,"[{'sessionTimeID': '15381122228010018vej', 'se...",Using a Seeded System Template in Oracle Hyper...,usingaseededsystemtemplateinor,Product Training Session,Y,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2309,"The definition of a data lake is broad, and al...","[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4240,Oracle OpenWorld,oow18,None,45,[{'speakerId': '1497022382803001UfPG_150393630...,NaN,"[{'sessionTimeID': '1533798600913001MVpw', 'se...","Oracleâ€™s Data Platform: Easily Load, Manage, G...",oraclesdataplatformeasilyloadm,Tips and Tricks Session,Y,N,N,N,N,N
2310,In this session learn how to optimize your dev...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4059,Oracle OpenWorld,oow18,"[{'fileId': '15404732129110019SqF', 'filename'...",45,[{'speakerId': '14574694632330015RAG_150393630...,NaN,"[{'sessionTimeID': '1531853633428001fs9e', 'se...",Oracle SQL Developer Tips and Tricks,oraclesqldevelopertipsandtrick,Tips and Tricks Session,Y,N,N,N,N,N
2311,In this session learn best practice tips from ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4075,Oracle OpenWorld,oow18,"[{'fileId': '1540582354964001S0a5', 'filename'...",45,[{'speakerId': '1457469466837002549A_150393630...,NaN,"[{'sessionTimeID': '1532616542644001uj48', 'se...",Performance and Scalability Techniques for Ora...,performanceandscalabilitytechn,Tips and Tricks Session,Y,N,N,N,N,Y
2312,Python is hot and desirable. The cx_Oracle API...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4076,Oracle OpenWorld,oow18,"[{'fileId': '1540587368643001asFG', 'filename'...",45,[{'speakerId': '14574694955970015EaV_150393630...,NaN,"[{'sessionTimeID': '1531848815373001fZrV', 'se...",Python and Oracle Database on the Table,pythonandoracledatabaseontheta,Tips and Tricks Session,Y,N,N,N,N,N
2313,SmartDB lets just two teams build an OLTP appl...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4043,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694869630015cpB_150393630...,NaN,"[{'sessionTimeID': '1531934181904001zRcU', 'se...",SmartDB and Edition-Based Redefinition: The Pe...,smartdbandeditionbasedredefini,Tips and Tricks Session,Y,N,N,N,N,N
2314,For today's fast-changing world with daily rel...,"[{'value': 'Intermediate', 'attributevalue_id'...",TIP4104,Oracle OpenWorld,oow18,"[{'fileId': '1540593605024001fN56', 'filename'...",45,[{'speakerId': '14574694946650025woD_150393630...,NaN,"[{'sessionTimeID': '1531769910855001TRQe', 'se...",Appdev: Building Secure Database Applications ...,appdevbuildingsecuredatabaseap,Tips and Tricks Session,Y,N,N,N,N,N
2315,Microservices are the de facto standard for an...,"[{'value': 'Intermediate', 'attributevalue_id'...",TIP4175,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694370360025gMe_150393630...,NaN,"[{'sessionTimeID': '1532734405803001VM1C', 'se...",Data Management in a Microservices World,datamanagementinamicroservices,Tips and Tricks Session,Y,N,N,N,N,N
2316,If you are planning to implement a microservic...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP3967,Oracle OpenWorld,oow18,None,45,[{'speakerId': '146825817935900162Bz_150393630...,NaN,"[{'sessionTimeID': '15355740659960012Vo1', 'se...",DevOps for Polyglot Microservices Using Oracle...,devopsforpolyglotmicroservices,Tips and Tricks Session,Y,N,N,N,N,N
2317,"Blockchain is hot, and if you have qualified u...","[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4592,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694677350015FG3_150393630...,NaN,"[{'sessionTimeID': '1533758908729001M4RV', 'se...",Getting Started with Oracle Blockchain Cloud S...,gettingstartedwithoracleblockc,Tips and Tricks Session,Y,N,N,N,N,N
2318,MySQLâ€™s NDB cluster is a partitioned distribut...,"[{'value': 'Intermediate', 'attributevalue_id'...",TIP3088,Oracle OpenWorld,oow18,None,45,[{'speakerId': '145746943753100158bb_150393630...,NaN,"[{'sessionTimeID': '15354013856230011AH2', 'se...",Lessons from NDB Clusterâ€™s Asynchronous Design...,lessonsfromndbclustersasynchro,Tips and Tricks Session,Y,N,N,N,N,N
2319,Modern web applications are based on hundreds ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4071,Oracle OpenWorld,oow18,"[{'fileId': '1540836337563001xvq2', 'filename'...",45,[{'speakerId': '14574694377280015QNA_150393630...,NaN,"[{'sessionTimeID': '1531854189516001TBzL', 'se...","Microservices, Containers, Databases, and Pers...",microservicescontainersdatabas,Tips and Tricks Session,Y,N,N,N,N,N
2320,"MySQL InnoDB cluster provides a high-level, ea...","[{'value': 'Beginner', 'attributevalue_id': '1...",TIP3065,Oracle OpenWorld,oow18,"[{'fileId': '15414542866760017D8P', 'filename'...",45,[{'speakerId': '1464284608830001XvOn_150393630...,NaN,"[{'sessionTimeID': '153540152466000116sY', 'se...",MySQL 8 High Availability with InnoDB Cluster ...,mysql8highavailabilitywithinno,Tips and Tricks Session,Y,N,N,N,N,N
2321,Database operations account for the larger par...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4068,Oracle OpenWorld,oow18,"[{'fileId': '1541102399809001xXug', 'filename'...",45,[{'speakerId': '14574694373590015wCR_150393630...,NaN,"[{'sessionTimeID': '1531853799352001aX4s', 'se...",Optimizing the Performance and Scalability of ...,optimizingtheperformanceandsca,Tips and Tricks Session,Y,N,N,N,N,N
2322,"During this tutorial, you will learn how to us...","[{'value': 'Beginner', 'attributevalue_id': '1...",TUT6303,Oracle OpenWorld,oow18,"[{'fileId': '1541454340556001bnq5', 'filename'...",120,[{'speakerId': '1464284608830001XvOn_150393630...,NaN,"[{'sessionTimeID': '15354064474310011Ozp', 'se...",MySQL 8.0 Document Store: Everything You Need ...,mysql80documentstoreeverything,Tutorial Session,Y,N,N,N,N,N
2323,The Binary Log is primarily used as a logical ...,"[{'value': 'Intermediate', 'attributevalue_id'...",TUT6318,Oracle OpenWorld,oow18,"[{'fileId': '1540394988525001Jny2', 'filename'...",120,[{'speakerId': '14574694488840015fWR_150393630...,NaN,"[{'sessionTimeID': '1535406361002001B3sI', 'se...",Using the MySQL Binary Log as a Change Stream,usingthemysqlbinarylogasachang,Tutorial Session,Y,N,N,N,N,N
2324,The AdoptOpenJDK Build Farm is a new community...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT5283,Oracle Code One,oow18,"[{'fileId': '1540805960730001aPl2', 'filename'...",120,[{'speakerId': '14574694487160015jsC_150393630...,[],"[{'sessionTimeID': '15354105204170011IQG', 'se...",AdoptOpenJDK: Lessons Learned from the New Bui...,adoptopenjdklessonslearnedfrom,Tutorial Session,N,N,Y,N,Y,N
2325,Angular is one of the leading JavaScript frame...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT6265,Oracle Code One,oow18,"[{'fileId': '154099644451100189lR', 'filename'...",120,[{'speakerId': '1466805187131001h5uI_150393630...,None,"[{'sessionTimeID': '1536215006335001xh4l', 'se...",Angular for Java Enterprise Developers,angularforjavaenterprisedevelo,Tutorial Session,N,N,N,N,N,Y
2326,Apache Kafka is a key component in enterprise ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT5454,Oracle Code One,oow18,"[{'fileId': '15403907032850019EI6', 'filename'...",120,[{'speakerId': '14574697793320025Tmy_150393630...,None,"[{'sessionTimeID': '15354095719030012Aqq', 'se...",Query Real-Time Kafka Streams with Oracle SQL,queryrealtimekafkastreamswitho,Tutorial Session,Y,N,N,N,N,N

In [414]:
#function to derive level flag for a session
def session_level(session, level):
      result = "N"
      # loop over attributevalues; if any exist with attribute_id == "SessionsbyExperienceLevel", and value == level
      for x in session["attributevalues"][:]:
        if "attribute_id" in x: 
            if x["attribute_id"]=="SessionsbyExperienceLevel":
                if x["value"]== level:
                    result="Y"
      return result

In [415]:
#set flags for designations
levels = ['Intermediate', 'Beginner', 'Advanced', 'All']
for l in levels:
   ss[l] = ss.apply(session_level, args=(l,), axis=1) 
print("Assigned Level Flags (Advanced, Intermediate, Beginner)")
ss

Assigned Level Flags (Advanced, Intermediate, Beginner)

,abstract,attributevalues,code,event,eventCode,files,length,participants,sponsors,times,...,oracle_speaker,file_flag,JavaOne Rockstar,Oracle ACE Director,Oracle Java Champion,Groundbreaker Ambassador,Intermediate,Beginner,Advanced,All
0,What if you could benefit from new database qu...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4070,Oracle OpenWorld,oow18,"[{'fileId': '1540594881063001PjdE', 'filename'...",45,[{'speakerId': '14574694377280015QNA_150393630...,None,"[{'sessionTimeID': '1532616475210001usPa', 'se...",...,Y,N,N,N,N,N,Y,Y,Y,N
1,How does a real-world performance engineer int...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4026,Oracle OpenWorld,oow18,"[{'fileId': '1540053090863001JeFM', 'filename'...",45,[{'speakerId': '145746969078000151fg_150393630...,None,"[{'sessionTimeID': '1531945554973001z4Hi', 'se...",...,Y,N,N,N,N,N,Y,Y,Y,N
2,Understand the tools and techniques available ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4567,Oracle OpenWorld,oow18,"[{'fileId': '1539988618000001VcCe', 'filename'...",45,[{'speakerId': '1468532302119001DtNf_150393630...,None,"[{'sessionTimeID': '15352384203600012G04', 'se...",...,Y,N,N,N,N,N,Y,Y,Y,N
3,In order to derive value from the Internet of ...,"[{'value': 'Product Training Session', 'attrib...",TRN6363,Oracle OpenWorld,oow18,"[{'fileId': '1539982921144001RL4h', 'filename'...",45,[{'speakerId': '1500580326390001qTtd_150393630...,None,"[{'sessionTimeID': '1535223010412001BrNh', 'se...",...,Y,N,N,N,N,N,N,N,N,N
4,Oracle Linux powers tens of thousands of enter...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5828,Oracle OpenWorld,oow18,"[{'fileId': '1540152941675001kZHw', 'filename'...",45,[{'speakerId': '14574694616420015a7T_150393630...,None,"[{'sessionTimeID': '1535040668257001twFq', 'se...",...,Y,N,N,N,N,N,Y,Y,Y,N
5,"What do Oracle Database listener, dedicated se...","[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4073,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694719240015Rek_150393630...,None,"[{'sessionTimeID': '1531848510829001f1BX', 'se...",...,Y,N,N,N,N,N,Y,Y,Y,N
6,Oracle Real Application Clusters (Oracle RAC) ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4022,Oracle OpenWorld,oow18,"[{'fileId': '1540866799064001PrBM', 'filename'...",45,[{'speakerId': '14574695066480015FSs_150393630...,None,"[{'sessionTimeID': '1532032980624001vrvB', 'se...",...,Y,N,N,N,N,N,Y,Y,N,N
7,"For more than 20 years, Oracle customers have ...","[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4219,Oracle OpenWorld,oow18,"[{'fileId': '1542318657574001slPL', 'filename'...",45,[{'speakerId': '14574697134790015Cey_150393630...,None,"[{'sessionTimeID': '15323599396290012ffV', 'se...",...,Y,N,N,N,N,N,Y,Y,Y,N
8,Join the Oracle SuperCluster solutions archite...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN3762,Oracle OpenWorld,oow18,"[{'fileId': '1540242496214001kHW9', 'filename'...",45,[{'speakerId': '14574696086150025iVM_150393630...,None,"[{'sessionTimeID': '1535041002002001jVWR', 'se...",...,Y,N,N,N,N,N,Y,N,N,N
9,Development teams are actively looking for new...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4051,Oracle OpenWorld,oow18,"[{'fileId': '1541678122503001g1k7', 'filename'...",45,[{'speakerId': '14574695065470015TFw_150393630...,None,"[{'sessionTimeID': '1531934399478001ts1H', 'se...",...,Y,N,N,N,N,N,Y,Y,Y,N
10,In this session learn how to make client data ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6449,Oracle OpenWorld,oow18,"[{'fileId': '1540334126918001DZZj', 'filename'...",45,[{'speakerId': '1500578268510001KsST_150393630...,None,"[{'sessionTimeID': '1535610677698001BB58', 'se...",...,Y,N,Y,N,N,N,Y,Y,Y,N
11,Given the increasing popularity of chatbots an...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5793,Oracle OpenWorld,oow18,"[{'fileId': '1540696800751001fVXj', 'filename'...",45,[{'speakerId': '14574694572360015BYe_150393630...,None,"[{'sessionTimeID': '1533759208391001MgR9', 'se...",...,Y,N,N,N,N,N,Y,Y,Y,N
12,The Meltdown and Spectre vulnerabilities have ...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4072,Oracle OpenWorld,oow18,"[{'fileId': '15404056484970016EOs', 'filename'...",45,[{'speakerId': '14574694764920025gqH_150393630...,None,"[{'sessionTimeID': '1531946376143001tL1H', 'se...",...,Y,N,N,N,N,N,Y,N,Y,N
13,This session covers the best practices for per...,"[{'value': 'Product Training Session', 'attrib...",TRN6620,Oracle OpenWorld,oow18,None,20,[{'speakerId': '1470698803884001CfwZ_150393630...,None,"[{'sessionTimeID': '1538112369718001MoR2', 'se...",...,Y,N,N,N,N,N,N,N,N,N
14,The Real-World Performance team had the opport...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4025,Oracle OpenWorld,oow18,"[{'fileId': '154034529241500163Pr', 'filename'...",45,[{'speakerId': '14574694653030015toE_150393630...,None,"[{'sessionTimeID': '1531945751183001t4Yv', 'se...",...,Y,N,N,N,N,N,Y,Y,Y,N
15,Oracle Database 12c Release 2 significantly im...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN1263,Oracle OpenWorld,oow18,"[{'fileId': '15403083170840019yL5', 'filename'...",45,[{'speakerId': '14574694431760015Rra_150393630...,None,"[{'sessionTimeID': '15352342403930012AGW', 'se...",...,N,N,N,Y,N,N,Y,N,N,N
16,Oracle Cloud Infrastructure Container Service ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4723,Oracle OpenWorld,oow18,"[{'fileId': '15414494303820010VyY', 'filename'...",45,[{'speakerId': '14574694616420015a7T_150393630...,None,"[{'sessionTimeID': '1535043544729001tjKO', 'se...",...,Y,N,N,N,N,N,Y,Y,N,N
17,"As technology changes, companies face a wideni...","[{'value': 'Product Training Session', 'attrib...",TRN6500,Oracle OpenWorld,oow18,None,45,[{'speakerId': '1474430990525001R0yi_150393630...,None,"[{'sessionTimeID': '15374742618600012uOv', 'se...",...,Y,N,N,N,N,N,N,N,N,N
18,Migrating on-premises live production database...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4410,Oracle OpenWorld,oow18,"[{'fileId': '1540318725969001Qpwz', 'filename'...",45,[{'speakerId': '1513311598012001gZ9f_150393630...,None,"[{'sessionTimeID': '15362459005080013QcA', 'se...",...,Y,N,N,N,N,N,Y,N,Y,N
19,In this session hear an Oracle University cust...,"[{'value': 'Product Training Session', 'attrib...",TRN6364,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574698040360015uCl_150393630...,None,"[{'sessionTimeID': '15352234763450012iJo', 'se...",...,Y,N,N,N,N,N,N,N,N,N
20,Your people are your biggest asset. A quick tr...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6721,Oracle OpenWorld,oow18,None,45,[{'speakerId': '145746956634500155ht_150393630...,None,"[{'sessionTimeID': '15376443148670016UPZ', 'se...",...,Y,N,N,N,N,N,Y,Y,N,N
21,This year saw the introduction of Oracle Auton...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN3980,Oracle OpenWorld,oow18,"[{'fileId': '1541192406763001UgbK', 'filename'...",45,[{'speakerId': '14574694525770015tTj_150393630...,None,"[{'sessionTimeID': '1531859226336001fb21', 'se...",...,Y,N,N,N,N,Y,Y,Y,Y,N
22,"One-command database upgrade? Yes, the new aut...","[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4031,Oracle OpenWorld,oow18,"[{'fileId': '15411474157640018MMu', 'filename'...",45,[{'speakerId': '145746948919200355Sq_150393630...,None,"[{'sessionTimeID': '1531861888282001T846', 'se...",...,Y,N,N,N,N,N,Y,Y,Y,N
23,Get instant clarity to improve your business w...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4447,Oracle OpenWorld,oow18,"[{'fileId': '1539645493648001NyP5', 'filename'...",45,[{'speakerId': '1496418243721001rgfo_150393630...,None,"[{'sessionTimeID': '1534265354271001dNrc', 'se...",...,Y,N,N,N,N,N,Y,Y,Y,N
24,Should you refresh your current x86 hardware a...,"[{'value': 'Product Training Session', 'attrib...",TRN4782,Oracle OpenWorld,oow18,"[{'fileId': '1541718307822001nnE5', 'filename'...",45,[{'speakerId': '14574694661200015oeh_150393630...,None,"[{'sessionTimeID': '1535044864680001SZQw', 'se...",...,Y,N,N,N,N,N,N,N,N,N
25,In this session learn how the Application Cont...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4040,Oracle OpenWorld,oow18,"[{'fileId': '1540916912679001NCDY', 'filename'...",45,[{'speakerId': '14574694706970015WCZ_150393630...,None,"[{'sessionTimeID': '1532360846512001Jg89', 'se...",...,Y,N,N,N,N,N,Y,Y,Y,N
26,Are you planning on upgrading to Oracle Databa...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4029,Oracle OpenWorld,oow18,"[{'fileId': '15411473977700014loM', 'filename'...",45,[{'speakerId': '1457469435559001510o_150393630...,None,"[{'sessionTimeID': '1531945697704001z9Xg', 'se...",...,Y,N,N,N,N,N,Y,Y,Y,N
27,In this session take a quick look at the capab...,"[{'value': 'Product Training Session', 'attrib...",TRN6358,Oracle OpenWorld,oow18,"[{'fileId': '1540264358636001Dpe4', 'filename'...",45,[{'speakerId': '1467230528322001hGg0_150393630...,None,"[{'sessionTimeID': '1535315908676001BMSd', 'se...",...,Y,N,N,N,N,N,N,N,N,N
28,In this session learn about the need for a sec...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6450,Oracle OpenWorld,oow18,"[{'fileId': '1540237792021001Qzxw', 'filename'...",45,[{'speakerId': '1500578268510001KsST_150393630...,None,"[{'sessionTimeID': '1535317019542001B3US', 'se...",...,Y,N,Y,N,N,N,Y,Y,Y,N
29,"In this session learn how to use the seeded ""d...","[{'value': 'Product Training Session', 'attrib...",TRN6613,Oracle OpenWorld,oow18,"[{'fileId': '1539883753658001bTsN', 'filename'...",20,[{'speakerId': '1533151159169001TlLV_150393630...,None,"[{'sessionTimeID': '15381122228010018vej', 'se...",...,Y,N,N,N,N,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2309,"The definition of a data lake is broad, and al...","[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4240,Oracle OpenWorld,oow18,None,45,[{'speakerId': '1497022382803001UfPG_150393630...,NaN,"[{'sessionTimeID': '1533798600913001MVpw', 'se...",...,Y,N,N,N,N,N,Y,Y,Y,N
2310,In this session learn how to optimize your dev...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4059,Oracle OpenWorld,oow18,"[{'fileId': '15404732129110019SqF', 'filename'...",45,[{'speakerId': '14574694632330015RAG_150393630...,NaN,"[{'sessionTimeID': '1531853633428001fs9e', 'se...",...,Y,N,N,N,N,N,Y,Y,Y,N
2311,In this session learn best practice tips from ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4075,Oracle OpenWorld,oow18,"[{'fileId': '1540582354964001S0a5', 'filename'...",45,[{'speakerId': '1457469466837002549A_150393630...,NaN,"[{'sessionTimeID': '1532616542644001uj48', 'se...",...,Y,N,N,N,N,Y,Y,Y,Y,N
2312,Python is hot and desirable. The cx_Oracle API...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4076,Oracle OpenWorld,oow18,"[{'fileId': '1540587368643001asFG', 'filename'...",45,[{'speakerId': '14574694955970015EaV_150393630...,NaN,"[{'sessionTimeID': '1531848815373001fZrV', 'se...",...,Y,N,N,N,N,N,Y,Y,Y,N
2313,SmartDB lets just two teams build an OLTP appl...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4043,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694869630015cpB_150393630...,NaN,"[{'sessionTimeID': '1531934181904001zRcU', 'se...",...,Y,N,N,N,N,N,Y,Y,Y,N
2314,For today's fast-changing world with daily rel...,"[{'value': 'Intermediate', 'attributevalue_id'...",TIP4104,Oracle OpenWorld,oow18,"[{'fileId': '1540593605024001fN56', 'filename'...",45,[{'speakerId': '14574694946650025woD_150393630...,NaN,"[{'sessionTimeID': '1531769910855001TRQe', 'se...",...,Y,N,N,N,N,N,Y,N,Y,N
2315,Microservices are the de facto standard for an...,"[{'value': 'Intermediate', 'attributevalue_id'...",TIP4175,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694370360025gMe_150393630...,NaN,"[{'sessionTimeID': '1532734405803001VM1C', 'se...",...,Y,N,N,N,N,N,Y,N,N,N
2316,If you are planning to implement a microservic...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP3967,Oracle OpenWorld,oow18,None,45,[{'speakerId': '146825817935900162Bz_150393630...,NaN,"[{'sessionTimeID': '15355740659960012Vo1', 'se...",...,Y,N,N,N,N,N,Y,Y,N,N
2317,"Blockchain is hot, and if you have qualified u...","[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4592,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694677350015FG3_150393630...,NaN,"[{'sessionTimeID': '1533758908729001M4RV', 'se...",...,Y,N,N,N,N,N,Y,Y,N,N
2318,MySQLâ€™s NDB cluster is a partitioned distribut...,"[{'value': 'Intermediate', 'attributevalue_id'...",TIP3088,Oracle OpenWorld,oow18,None,45,[{'speakerId': '145746943753100158bb_150393630...,NaN,"[{'sessionTimeID': '15354013856230011AH2', 'se...",...,Y,N,N,N,N,N,Y,N,Y,N
2319,Modern web applications are based on hundreds ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4071,Oracle OpenWorld,oow18,"[{'fileId': '1540836337563001xvq2', 'filename'...",45,[{'speakerId': '14574694377280015QNA_150393630...,NaN,"[{'sessionTimeID': '1531854189516001TBzL', 'se...",...,Y,N,N,N,N,N,Y,Y,Y,N
2320,"MySQL InnoDB cluster provides a high-level, ea...","[{'value': 'Beginner', 'attributevalue_id': '1...",TIP3065,Oracle OpenWorld,oow18,"[{'fileId': '15414542866760017D8P', 'filename'...",45,[{'speakerId': '1464284608830001XvOn_150393630...,NaN,"[{'sessionTimeID': '153540152466000116sY', 'se...",...,Y,N,N,N,N,N,Y,Y,Y,N
2321,Database operations account for the larger par...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4068,Oracle OpenWorld,oow18,"[{'fileId': '1541102399809001xXug', 'filename'...",45,[{'speakerId': '14574694373590015wCR_150393630...,NaN,"[{'sessionTimeID': '1531853799352001aX4s', 'se...",...,Y,N,N,N,N,N,Y,Y,Y,N
2322,"During this tutorial, you will learn how to us...","[{'value': 'Beginner', 'attributevalue_id': '1...",TUT6303,Oracle OpenWorld,oow18,"[{'fileId': '1541454340556001bnq5', 'filename'...",120,[{'speakerId': '1464284608830001XvOn_150393630...,NaN,"[{'sessionTimeID': '15354064474310011Ozp', 'se...",...,Y,N,N,N,N,N,Y,Y,Y,N
2323,The Binary Log is primarily used as a logical ...,"[{'value': 'Intermediate', 'attributevalue_id'...",TUT6318,Oracle OpenWorld,oow18,"[{'fileId': '1540394988525001Jny2', 'filename'...",120,[{'speakerId': '14574694488840015fWR_150393630...,NaN,"[{'sessionTimeID': '1535406361002001B3sI', 'se...",...,Y,N,N,N,N,N,Y,N,Y,N
2324,The AdoptOpenJDK Build Farm is a new community...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT5283,Oracle Code One,oow18,"[{'fileId': '1540805960730001aPl2', 'filename'...",120,[{'speakerId': '14574694487160015jsC_150393630...,[],"[{'sessionTimeID': '15354105204170011IQG', 'se...",...,N,N,Y,N,Y,N,Y,Y,N,N
2325,Angular is one of the leading JavaScript frame...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT6265,Oracle Code One,oow18,"[{'fileId': '154099644451100189lR', 'filename'...",120,[{'speakerId': '1466805187131001h5uI_150393630...,None,"[{'sessionTimeID': '1536215006335001xh4l', 'se...",...,N,N,N,N,N,Y,Y,Y,N,N
2326,Apache Kafka is a key component in enterprise ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT5454,Oracle Code One,oow18,"[{'fileId': '15403907032850019EI6', 'filename'...",120,[{'speakerId': '14574697793320025Tmy_150393630...,None,"[{'sessionTimeID': '15354095719030012Aqq', 'se...",...,Y,N,N,N,N,N,Y,Y,N,N
2327,Joshua Bloch just gifted us with the third edi...,"[{'value': 'Intermediate', 'attributevalue_id'...",TUT6008,Oracle Code One,oow18,"[{'fileId': '1542406396165001BZTm', 'filename'...",120,[{'speakerId': '145746945596900156Hr_150393630...,[],"[{'sessionTimeID': '1535558709502001Bd4T', 'se...",...,N,N,N,N,Y,N,Y,N,N,N
2328,"This session discusses asynchronous, nonblocki...","[{'value': 'Intermediate', 'attributevalue_id'...",TUT5544,Oracle Code One,oow18,"[{'fileId': '154038926405800160jL', 'filename'...",120,[{'speakerId': '145746961848600154KH_150393630...,None,"[{'sessionTimeID': '1535410601734001BG6X', 'se...",...,Y,N,Y,N,Y,N,Y,N,N,N
2329,This session walks through all the steps of bu...,"[{'value': 'Intermediate', 'attributevalue_id'...",TUT5196,Oracle Code One,oow18,None,120,[{'speakerId': '1492717354362001LdzF_150393630...,None,"[{'sessionTimeID': '1535410707803001B52W', 'se...",...,N,N,Y,N,Y,N,Y,N,N,N
2330,The Binary Log is primarily used as a logical ...,"[{'value': 'Intermediate', 'attributevalue_id'...",TUT6318,Oracle OpenWorld,oow18,"[{'fileId': '1540394988525001Jny2', 'filename'...",120,[{'speakerId': '14574694488840015fWR_150393630...,None,"[{'sessionTimeID': '1535406361002001B3sI', 'se...",...,Y,N,N,N,N,N,Y,N,Y,N
2331,Mobile applications are becoming increasingly ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT4487,Oracle Code One,oow18,"[{'fileId': '1540579886517001sgdg', 'filename'...",120,[{'speakerId': '14574694443080015uUh_150393630...,None,"[{'sessionTimeID': '153540999564200129Qx', 'se...",...,N,N,N,N,Y,Y,N,Y,N,N
2332,The blockchain is an undeniably ingenious inve...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT4348,Oracle Code One,oow18,"[{'fileId': '15403909275900019ol6', 'filename'...",120,[{'speakerId': '14574694363170025wpx_150393630...,None,"[{'sessionTimeID': '1535410061473001Bakf', 'se...",...,N,N,Y,N,Y,Y,Y,Y,Y,N
2333,This deep-dive session takes you into the magi...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT4744,Oracle Code One,oow18,"[{'fileId': '1540677303171001PRnm', 'filename'...",120,[{'speakerId': '14713114256200019Xey_150393630...,None,"[{'sessionTimeID': '15354111248720012xEc', 'se...",...,N,N,N,N,N,N,Y,Y,N,N
2334,"Java is moving faster and faster, and a lot of...","[{'value': 'Beginner', 'attributevalue_id': '1...",TUT4828,Oracle Code One,oow18,"[{'fileId': '1540086019771001k4LD', 'filename'...",120,[{'speakerId': '1463271742329001nOLV_150393630...,None,"[{'sessionTimeID': '153618822712200139zu', 'se...",...,N,N,N,N,Y,Y,Y,Y,Y,N
2335,Youâ€™re a Java developer? Already familiar with...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT5930,Oracle Code One,oow18,"[{'fileId': '1540272055239001vAaw', 'filename'...",120,[{'speakerId': '1492999456284001PEDn_150393630...,None,"[{'sessionTimeID': '15362149378730013qhw', 'se...",...,N,N,N,N,N,N,Y,Y,N,N
2336,"Java 9 introduced JShell as a REPL tool, and v...","[{'value': 'Beginner', 'attributevalue_id': '1...",TUT5297,Oracle Code One,oow18,None,120,[{'speakerId': '14574694816540015LCz_150393630...,None,"[{'sessionTimeID': '1536188167148001xmdi', 'se...",...,N,N,N,N,N,N,N,Y,N,N
2337,"During this tutorial, you will learn how to us...","[{'value': 'Beginner', 'attributevalue_id': '1...",TUT6303,Oracle OpenWorld,oow18,"[{'fileId': '1541454340556001bnq5', 'filename'...",120,[{'speakerId': '1464284608830001XvOn_150393630...,None,"[{'sessionTimeID': '15354064474310011Ozp', 'se...",...,Y,N,N,N,N,N,Y,Y,Y,N
2338,"Are you tired of null pointer exceptions, unin...","[{'value': 'Beginner', 'attributevalue_id': '1...",TUT4991,Oracle Code One,oow18,"[{'fileId': '1540363608323001karC', 'filename'...",120,[{'speakerId': '145746944456700158Jh_150393630...,None,"[{'sessionTimeID': '1535411051423001Bw5D', 'se...",...,N,N,Y,N,N,N,N,Y,N,N

In [416]:
#function to derive track flag for a session
def session_track(session):

      result = ['abc']      
      # loop over attributevalues; if any exist with attribute_id == "SessionsbyExperienceLevel", and value == level
      for x in session["attributevalues"][:]:
        if "attribute_id" in x: 
            if x["attribute_id"]=="CodeOneTracks":
               result.append( x["value"])
            if x["attribute_id"]=="Track":               
               result.append( x["value"])
      del result[0]   
      return result

In [417]:
#set flags for designations
ss["track"] = ss.apply(session_track,  axis=1) 
print("Assigned Track")
ss

Assigned Track

,abstract,attributevalues,code,event,eventCode,files,length,participants,sponsors,times,...,file_flag,JavaOne Rockstar,Oracle ACE Director,Oracle Java Champion,Groundbreaker Ambassador,Intermediate,Beginner,Advanced,All,track
0,What if you could benefit from new database qu...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4070,Oracle OpenWorld,oow18,"[{'fileId': '1540594881063001PjdE', 'filename'...",45,[{'speakerId': '14574694377280015QNA_150393630...,None,"[{'sessionTimeID': '1532616475210001usPa', 'se...",...,N,N,N,N,N,Y,Y,Y,N,"[- Application Development, Oracle Cloud Platf..."
1,How does a real-world performance engineer int...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4026,Oracle OpenWorld,oow18,"[{'fileId': '1540053090863001JeFM', 'filename'...",45,[{'speakerId': '145746969078000151fg_150393630...,None,"[{'sessionTimeID': '1531945554973001z4Hi', 'se...",...,N,N,N,N,N,Y,Y,Y,N,"[- Application Development, Oracle Cloud Platf..."
2,Understand the tools and techniques available ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4567,Oracle OpenWorld,oow18,"[{'fileId': '1539988618000001VcCe', 'filename'...",45,[{'speakerId': '1468532302119001DtNf_150393630...,None,"[{'sessionTimeID': '15352384203600012G04', 'se...",...,N,N,N,N,N,Y,Y,Y,N,"[SMB Solutions, Oracle Cloud Platform, - Cloud..."
3,In order to derive value from the Internet of ...,"[{'value': 'Product Training Session', 'attrib...",TRN6363,Oracle OpenWorld,oow18,"[{'fileId': '1539982921144001RL4h', 'filename'...",45,[{'speakerId': '1500580326390001qTtd_150393630...,None,"[{'sessionTimeID': '1535223010412001BrNh', 'se...",...,N,N,N,N,N,N,N,N,N,[]
4,Oracle Linux powers tens of thousands of enter...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5828,Oracle OpenWorld,oow18,"[{'fileId': '1540152941675001kZHw', 'filename'...",45,[{'speakerId': '14574694616420015a7T_150393630...,None,"[{'sessionTimeID': '1535040668257001twFq', 'se...",...,N,N,N,N,N,Y,Y,Y,N,"[Your Cloud Transformation Roadmap, - Upgradin..."
5,"What do Oracle Database listener, dedicated se...","[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4073,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694719240015Rek_150393630...,None,"[{'sessionTimeID': '1531848510829001f1BX', 'se...",...,N,N,N,N,N,Y,Y,Y,N,"[- Application Development, Oracle Cloud Platf..."
6,Oracle Real Application Clusters (Oracle RAC) ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4022,Oracle OpenWorld,oow18,"[{'fileId': '1540866799064001PrBM', 'filename'...",45,[{'speakerId': '14574695066480015FSs_150393630...,None,"[{'sessionTimeID': '1532032980624001vrvB', 'se...",...,N,N,N,N,N,Y,Y,N,N,"[Oracle Cloud Platform, - Cloud Platform, - Or..."
7,"For more than 20 years, Oracle customers have ...","[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4219,Oracle OpenWorld,oow18,"[{'fileId': '1542318657574001slPL', 'filename'...",45,[{'speakerId': '14574697134790015Cey_150393630...,None,"[{'sessionTimeID': '15323599396290012ffV', 'se...",...,N,N,N,N,N,Y,Y,Y,N,"[Oracle Cloud Platform, - Cloud Platform, - Or..."
8,Join the Oracle SuperCluster solutions archite...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN3762,Oracle OpenWorld,oow18,"[{'fileId': '1540242496214001kHW9', 'filename'...",45,[{'speakerId': '14574696086150025iVM_150393630...,None,"[{'sessionTimeID': '1535041002002001jVWR', 'se...",...,N,N,N,N,N,Y,N,N,N,[Infrastructure Technologies (Data Center)]
9,Development teams are actively looking for new...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4051,Oracle OpenWorld,oow18,"[{'fileId': '1541678122503001g1k7', 'filename'...",45,[{'speakerId': '14574695065470015TFw_150393630...,None,"[{'sessionTimeID': '1531934399478001ts1H', 'se...",...,N,N,N,N,N,Y,Y,Y,N,"[- Application Development, Oracle Cloud Platf..."
10,In this session learn how to make client data ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6449,Oracle OpenWorld,oow18,"[{'fileId': '1540334126918001DZZj', 'filename'...",45,[{'speakerId': '1500578268510001KsST_150393630...,None,"[{'sessionTimeID': '1535610677698001BB58', 'se...",...,N,Y,N,N,N,Y,Y,Y,N,[]
11,Given the increasing popularity of chatbots an...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5793,Oracle OpenWorld,oow18,"[{'fileId': '1540696800751001fVXj', 'filename'...",45,[{'speakerId': '14574694572360015BYe_150393630...,None,"[{'sessionTimeID': '1533759208391001MgR9', 'se...",...,N,N,N,N,N,Y,Y,Y,N,"[- Mobile, - Chatbots and Dialog Systems, Emer..."
12,The Meltdown and Spectre vulnerabilities have ...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4072,Oracle OpenWorld,oow18,"[{'fileId': '15404056484970016EOs', 'filename'...",45,[{'speakerId': '14574694764920025gqH_150393630...,None,"[{'sessionTimeID': '1531946376143001tL1H', 'se...",...,N,N,N,N,N,Y,N,Y,N,"[SMB Solutions, Oracle Cloud Platform, - Cloud..."
13,This session covers the best practices for per...,"[{'value': 'Product Training Session', 'attrib...",TRN6620,Oracle OpenWorld,oow18,None,20,[{'speakerId': '1470698803884001CfwZ_150393630...,None,"[{'sessionTimeID': '1538112369718001MoR2', 'se...",...,N,N,N,N,N,N,N,N,N,[Core Java Platform]
14,The Real-World Performance team had the opport...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4025,Oracle OpenWorld,oow18,"[{'fileId': '154034529241500163Pr', 'filename'...",45,[{'speakerId': '14574694653030015toE_150393630...,None,"[{'sessionTimeID': '1531945751183001t4Yv', 'se...",...,N,N,N,N,N,Y,Y,Y,N,"[- Application Development, Oracle Cloud Platf..."
15,Oracle Database 12c Release 2 significantly im...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN1263,Oracle OpenWorld,oow18,"[{'fileId': '15403083170840019yL5', 'filename'...",45,[{'speakerId': '14574694431760015Rra_150393630...,None,"[{'sessionTimeID': '15352342403930012AGW', 'se...",...,N,N,Y,N,N,Y,N,N,N,"[Oracle Cloud Platform, - Business Intelligenc..."
16,Oracle Cloud Infrastructure Container Service ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4723,Oracle OpenWorld,oow18,"[{'fileId': '15414494303820010VyY', 'filename'...",45,[{'speakerId': '14574694616420015a7T_150393630...,None,"[{'sessionTimeID': '1535043544729001tjKO', 'se...",...,N,N,N,N,N,Y,Y,N,N,[Infrastructure Technologies (Data Center)]
17,"As technology changes, companies face a wideni...","[{'value': 'Product Training Session', 'attrib...",TRN6500,Oracle OpenWorld,oow18,None,45,[{'speakerId': '1474430990525001R0yi_150393630...,None,"[{'sessionTimeID': '15374742618600012uOv', 'se...",...,N,N,N,N,N,N,N,N,N,[Featured Customers]
18,Migrating on-premises live production database...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4410,Oracle OpenWorld,oow18,"[{'fileId': '1540318725969001Qpwz', 'filename'...",45,[{'speakerId': '1513311598012001gZ9f_150393630...,None,"[{'sessionTimeID': '15362459005080013QcA', 'se...",...,N,N,N,N,N,Y,N,Y,N,"[SMB Solutions, Your Cloud Transformation Road..."
19,In this session hear an Oracle University cust...,"[{'value': 'Product Training Session', 'attrib...",TRN6364,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574698040360015uCl_150393630...,None,"[{'sessionTimeID': '15352234763450012iJo', 'se...",...,N,N,N,N,N,N,N,N,N,[]
20,Your people are your biggest asset. A quick tr...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6721,Oracle OpenWorld,oow18,None,45,[{'speakerId': '145746956634500155ht_150393630...,None,"[{'sessionTimeID': '15376443148670016UPZ', 'se...",...,N,N,N,N,N,Y,Y,N,N,"[Featured Customers, Your Cloud Transformation..."
21,This year saw the introduction of Oracle Auton...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN3980,Oracle OpenWorld,oow18,"[{'fileId': '1541192406763001UgbK', 'filename'...",45,[{'speakerId': '14574694525770015tTj_150393630...,None,"[{'sessionTimeID': '1531859226336001fb21', 'se...",...,N,N,N,N,Y,Y,Y,Y,N,"[Oracle Cloud Platform, - Oracle Autonomous Da..."
22,"One-command database upgrade? Yes, the new aut...","[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4031,Oracle OpenWorld,oow18,"[{'fileId': '15411474157640018MMu', 'filename'...",45,[{'speakerId': '145746948919200355Sq_150393630...,None,"[{'sessionTimeID': '1531861888282001T846', 'se...",...,N,N,N,N,N,Y,Y,Y,N,"[Oracle Cloud Platform, - Cloud Platform, - Or..."
23,Get instant clarity to improve your business w...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4447,Oracle OpenWorld,oow18,"[{'fileId': '1539645493648001NyP5', 'filename'...",45,[{'speakerId': '1496418243721001rgfo_150393630...,None,"[{'sessionTimeID': '1534265354271001dNrc', 'se...",...,N,N,N,N,N,Y,Y,Y,N,"[SMB Solutions, Oracle Cloud Platform, - Busin..."
24,Should you refresh your current x86 hardware a...,"[{'value': 'Product Training Session', 'attrib...",TRN4782,Oracle OpenWorld,oow18,"[{'fileId': '1541718307822001nnE5', 'filename'...",45,[{'speakerId': '14574694661200015oeh_150393630...,None,"[{'sessionTimeID': '1535044864680001SZQw', 'se...",...,N,N,N,N,N,N,N,N,N,[Infrastructure Technologies (Data Center)]
25,In this session learn how the Application Cont...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4040,Oracle OpenWorld,oow18,"[{'fileId': '1540916912679001NCDY', 'filename'...",45,[{'speakerId': '14574694706970015WCZ_150393630...,None,"[{'sessionTimeID': '1532360846512001Jg89', 'se...",...,N,N,N,N,N,Y,Y,Y,N,"[- Application Development, Featured Customers..."
26,Are you planning on upgrading to Oracle Databa...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4029,Oracle OpenWorld,oow18,"[{'fileId': '15411473977700014loM', 'filename'...",45,[{'speakerId': '1457469435559001510o_150393630...,None,"[{'sessionTimeID': '1531945697704001z9Xg', 'se...",...,N,N,N,N,N,Y,Y,Y,N,"[Featured Customers, Oracle Cloud Platform, - ..."
27,In this session take a quick look at the capab...,"[{'value': 'Product Training Session', 'attrib...",TRN6358,Oracle OpenWorld,oow18,"[{'fileId': '1540264358636001Dpe4', 'filename'...",45,[{'speakerId': '1467230528322001hGg0_150393630...,None,"[{'sessionTimeID': '1535315908676001BMSd', 'se...",...,N,N,N,N,N,N,N,N,N,[]
28,In this session learn about the need for a sec...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6450,Oracle OpenWorld,oow18,"[{'fileId': '1540237792021001Qzxw', 'filename'...",45,[{'speakerId': '1500578268510001KsST_150393630...,None,"[{'sessionTimeID': '1535317019542001B3US', 'se...",...,N,Y,N,N,N,Y,Y,Y,N,[]
29,"In this session learn how to use the seeded ""d...","[{'value': 'Product Training Session', 'attrib...",TRN6613,Oracle OpenWorld,oow18,"[{'fileId': '1539883753658001bTsN', 'filename'...",20,[{'speakerId': '1533151159169001TlLV_150393630...,None,"[{'sessionTimeID': '15381122228010018vej', 'se...",...,N,N,N,N,N,N,N,N,N,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2309,"The definition of a data lake is broad, and al...","[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4240,Oracle OpenWorld,oow18,None,45,[{'speakerId': '1497022382803001UfPG_150393630...,NaN,"[{'sessionTimeID': '1533798600913001MVpw', 'se...",...,N,N,N,N,N,Y,Y,Y,N,"[- Integration, Containers, Serverless, and Cl..."
2310,In this session learn how to optimize your dev...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4059,Oracle OpenWorld,oow18,"[{'fileId': '15404732129110019SqF', 'filename'...",45,[{'speakerId': '14574694632330015RAG_150393630...,NaN,"[{'sessionTimeID': '1531853633428001fs9e', 'se...",...,N,N,N,N,N,Y,Y,Y,N,"[- Application Development, Database, Big Data..."
2311,In this session learn best practice tips from ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4075,Oracle OpenWorld,oow18,"[{'fileId': '1540582354964001S0a5', 'filename'...",45,[{'speakerId': '1457469466837002549A_150393630...,NaN,"[{'sessionTimeID': '1532616542644001uj48', 'se...",...,N,N,N,N,Y,Y,Y,Y,N,"[- Application Development, Database, Big Data..."
2312,Python is hot and desirable. The cx_Oracle API...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4076,Oracle OpenWorld,oow18,"[{'fileId': '1540587368643001asFG', 'filename'...",45,[{'speakerId': '14574694955970015EaV_150393630...,NaN,"[{'sessionTimeID': '1531848815373001fZrV', 'se...",...,N,N,N,N,N,Y,Y,Y,N,"[- Application Development, Database, Big Data..."
2313,SmartDB lets just two teams build an OLTP appl...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4043,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694869630015cpB_150393630...,NaN,"[{'sessionTimeID': '1531934181904001zRcU', 'se...",...,N,N,N,N,N,Y,Y,Y,N,"[- Application Development, Database, Big Data..."
2314,For today's fast-changing world with daily rel...,"[{'value': 'Intermediate', 'attributevalue_id'...",TIP4104,Oracle OpenWorld,oow18,"[{'fileId': '1540593605024001fN56', 'filename'...",45,[{'speakerId': '14574694946650025woD_150393630...,NaN,"[{'sessionTimeID': '1531769910855001TRQe', 'se...",...,N,N,N,N,N,Y,N,Y,N,"[- Application Development, - Identity and Sec..."
2315,Microservices are the de facto standard for an...,"[{'value': 'Intermediate', 'attributevalue_id'...",TIP4175,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694370360025gMe_150393630...,NaN,"[{'sessionTimeID': '1532734405803001VM1C', 'se...",...,N,N,N,N,N,Y,N,N,N,"[- Application Development, Database, Big Data..."
2316,If you are planning to implement a microservic...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP3967,Oracle OpenWorld,oow18,None,45,[{'speakerId': '146825817935900162Bz_150393630...,NaN,"[{'sessionTimeID': '15355740659960012Vo1', 'se...",...,N,N,N,N,N,Y,Y,N,N,"[DevOps and Pipelines, Your Cloud Transformati..."
2317,"Blockchain is hot, and if you have qualified u...","[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4592,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694677350015FG3_150393630...,NaN,"[{'sessionTimeID': '1533758908729001M4RV', 'se...",...,N,N,N,N,N,Y,Y,N,N,"[- Application Development, - Blockchain, Emer..."
2318,MySQLâ€™s NDB cluster is a partitioned distribut...,"[{'value': 'Intermediate', 'attributevalue_id'...",TIP3088,Oracle OpenWorld,oow18,None,45,[{'speakerId': '145746943753100158bb_150393630...,NaN,"[{'sessionTimeID': '15354013856230011AH2', 'se...",...,N,N,N,N,N,Y,N,Y,N,"[Featured Customers, Oracle Cloud Platform, - ..."
2319,Modern web applications are based on hundreds ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4071,Oracle OpenWorld,oow18,"[{'fileId': '1540836337563001xvq2', 'filename'...",45,[{'speakerId': '14574694377280015QNA_150393630...,NaN,"[{'sessionTimeID': '1531854189516001TBzL', 'se...",...,N,N,N,N,N,Y,Y,Y,N,"[- Application Development, Database, Big Data..."
2320,"MySQL InnoDB cluster provides a high-level, ea...","[{'value': 'Beginner', 'attributevalue_id': '1...",TIP3065,Oracle OpenWorld,oow18,"[{'fileId': '15414542866760017D8P', 'filename'...",45,[{'speakerId': '1464284608830001XvOn_150393630...,NaN,"[{'sessionTimeID': '153540152466000116sY', 'se...",...,N,N,N,N,N,Y,Y,Y,N,"[Oracle Cloud Platform, - MySQL, MySQL]"
2321,Database operations account for the larger par...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4068,Oracle OpenWorld,oow18,"[{'fileId': '1541102399809001xXug', 'filename'...",45,[{'speakerId': '14574694373590015wCR_150393630...,NaN,"[{'sessionTimeID': '1531853799352001aX4s', 'se...",...,N,N,N,N,N,Y,Y,Y,N,"[- Application Development, Database, Big Data..."
2322,"During this tutorial, you will learn how to us...","[{'value': 'Beginner', 'attributevalue_id': '1...",TUT6303,Oracle OpenWorld,oow18,"[{'fileId': '1541454340556001bnq5', 'filename'...",120,[{'speakerId': '1464284608830001XvOn_150393630...,NaN,"[{'sessionTimeID': '15354064474310011Ozp', 'se...",...,N,N,N,N,N,Y,Y,Y,N,"[Oracle Cloud Platform, - MySQL, MySQL]"
2323,The Binary Log is primarily used as a logical ...,"[{'value': 'Intermediate', 'attributevalue_id'...",TUT6318,Oracle OpenWorld,oow18,"[{'fileId': '1540394988525001Jny2', 'filename'...",120,[{'speakerId': '14574694488840015fWR_150393630...,NaN,"[{'sessionTimeID': '1535406361002001B3sI', 'se...",...,N,N,N,N,N,Y,N,Y,N,"[Oracle Cloud Platform, - MySQL, MySQL]"
2324,The AdoptOpenJDK Build Farm is a new community...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT5283,Oracle Code One,oow18,"[{'fileId': '1540805960730001aPl2', 'filename'...",120,[{'speakerId': '14574694487160015jsC_150393630...,[],"[{'sessionTimeID': '15354105204170011IQG', 'se...",...,N,Y,N,Y,N,Y,Y,N,N,"[Containers, Serverless, and Cloud, Core Java ..."
2325,Angular is one of the leading JavaScript frame...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT6265,Oracle Code One,oow18,"[{'fileId': '154099644451100189lR', 'filename'...",120,[{'speakerId': '1466805187131001h5uI_150393630...,None,"[{'sessionTimeID': '1536215006335001xh4l', 'se...",...,N,N,N,N,Y,Y,Y,N,N,"[Containers, Serverless, and Cloud, Developmen..."
2326,Apache Kafka is a key component in enterprise ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT5454,Oracle Code One,oow18,"[{'fileId': '15403907032850019EI6', 'filename'...",120,[{'speakerId': '14574697793320025Tmy_150393630...,None,"[{'sessionTimeID': '15354095719030012Aqq', 'se...",...,N,N,N,N,N,Y,Y,N,N,"[Database, Big Data, and Data Science]"
2327,Joshua Bloch just gifted us with the third edi...,"[{'value': 'Intermediate', 'attributevalue_id'...",TUT6008,Oracle Code One,oow18,"[{'fileId': '1542406396165001BZTm', 'filename'...",120,[{'speakerId': '145746945596900156Hr_150393630...,[],"[{'sessionTimeID': '1535558709502001Bd4T', 'se...",...,N,N,N,Y,N,Y,N,N,N,"[Core Java Platform, Development Tools]"
2328,"This session discusses asynchronous, nonblocki...","[{'value': 'Intermediate', 'attributevalue_id'...",TUT5544,Oracle Code One,oow18,"[{'fileId': '154038926405800160jL', 'filename'...",120,[{'speakerId': '145746961848600154KH_150393630...,None,"[{'sessionTimeID': '1535410601734001BG6X', 'se...",...,N,Y,N,Y,N,Y,N,N,N,"[Containers, Serverless, and Cloud]"
2329,This session walks through all the steps of bu...,"[{'value': 'Intermediate', 'attributevalue_id'...",TUT5196,Oracle Code One,oow18,None,120,[{'speakerId': '1492717354362001LdzF_150393630...,None,"[{'sessionTimeID': '1535410707803001B52W', 'se...",...,N,Y,N,Y,N,Y,N,N,N,"[Core Java Platform, Development Tools]"
2330,The Binary Log is primarily used as a logical ...,"[{'value': 'Intermediate', 'attributevalue_id'...",TUT6318,Oracle OpenWorld,oow18,"[{'fileId': '1540394988525001Jny2', 'filename'...",120,[{'speakerId': '14574694488840015fWR_150393630...,None,"[{'sessionTimeID': '1535406361002001B3sI', 'se...",...,N,N,N,N,N,Y,N,Y,N,"[Oracle Cloud Platform, - MySQL, MySQL]"
2331,Mobile applications are becoming increasingly ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT4487,Oracle Code One,oow18,"[{'fileId': '1540579886517001sgdg', 'filename'...",120,[{'speakerId': '14574694443080015uUh_150393630...,None,"[{'sessionTimeID': '153540999564200129Qx', 'se...",...,N,N,N,Y,Y,N,Y,N,N,"[Containers, Serverless, and Cloud, Java Ecosy..."
2332,The blockchain is an undeniably ingenious inve...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT4348,Oracle Code One,oow18,"[{'fileId': '15403909275900019ol6', 'filename'...",120,[{'speakerId': '14574694363170025wpx_150393630...,None,"[{'sessionTimeID': '1535410061473001Bakf', 'se...",...,N,Y,N,Y,Y,Y,Y,Y,N,[Emerging Technologies]
2333,This deep-dive session takes you into the magi...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT4744,Oracle Code One,oow18,"[{'fileId': '1540677303171001PRnm', 'filename'...",120,[{'speakerId': '14713114256200019Xey_150393630...,None,"[{'sessionTimeID': '15354111248720012xEc', 'se...",...,N,N,N,N,N,Y,Y,N,N,"[Emerging Technologies, Modern Web]"

In [418]:
#set number of speakers for each session by taking the length of the list in the participants column
ss["speaker_count"] = ss['participants'].apply(lambda x: len(x))
ss

,abstract,attributevalues,code,event,eventCode,files,length,participants,sponsors,times,...,JavaOne Rockstar,Oracle ACE Director,Oracle Java Champion,Groundbreaker Ambassador,Intermediate,Beginner,Advanced,All,track,speaker_count
0,What if you could benefit from new database qu...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4070,Oracle OpenWorld,oow18,"[{'fileId': '1540594881063001PjdE', 'filename'...",45,[{'speakerId': '14574694377280015QNA_150393630...,None,"[{'sessionTimeID': '1532616475210001usPa', 'se...",...,N,N,N,N,Y,Y,Y,N,"[- Application Development, Oracle Cloud Platf...",3
1,How does a real-world performance engineer int...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4026,Oracle OpenWorld,oow18,"[{'fileId': '1540053090863001JeFM', 'filename'...",45,[{'speakerId': '145746969078000151fg_150393630...,None,"[{'sessionTimeID': '1531945554973001z4Hi', 'se...",...,N,N,N,N,Y,Y,Y,N,"[- Application Development, Oracle Cloud Platf...",2
2,Understand the tools and techniques available ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4567,Oracle OpenWorld,oow18,"[{'fileId': '1539988618000001VcCe', 'filename'...",45,[{'speakerId': '1468532302119001DtNf_150393630...,None,"[{'sessionTimeID': '15352384203600012G04', 'se...",...,N,N,N,N,Y,Y,Y,N,"[SMB Solutions, Oracle Cloud Platform, - Cloud...",1
3,In order to derive value from the Internet of ...,"[{'value': 'Product Training Session', 'attrib...",TRN6363,Oracle OpenWorld,oow18,"[{'fileId': '1539982921144001RL4h', 'filename'...",45,[{'speakerId': '1500580326390001qTtd_150393630...,None,"[{'sessionTimeID': '1535223010412001BrNh', 'se...",...,N,N,N,N,N,N,N,N,[],1
4,Oracle Linux powers tens of thousands of enter...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5828,Oracle OpenWorld,oow18,"[{'fileId': '1540152941675001kZHw', 'filename'...",45,[{'speakerId': '14574694616420015a7T_150393630...,None,"[{'sessionTimeID': '1535040668257001twFq', 'se...",...,N,N,N,N,Y,Y,Y,N,"[Your Cloud Transformation Roadmap, - Upgradin...",2
5,"What do Oracle Database listener, dedicated se...","[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4073,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694719240015Rek_150393630...,None,"[{'sessionTimeID': '1531848510829001f1BX', 'se...",...,N,N,N,N,Y,Y,Y,N,"[- Application Development, Oracle Cloud Platf...",1
6,Oracle Real Application Clusters (Oracle RAC) ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4022,Oracle OpenWorld,oow18,"[{'fileId': '1540866799064001PrBM', 'filename'...",45,[{'speakerId': '14574695066480015FSs_150393630...,None,"[{'sessionTimeID': '1532032980624001vrvB', 'se...",...,N,N,N,N,Y,Y,N,N,"[Oracle Cloud Platform, - Cloud Platform, - Or...",1
7,"For more than 20 years, Oracle customers have ...","[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4219,Oracle OpenWorld,oow18,"[{'fileId': '1542318657574001slPL', 'filename'...",45,[{'speakerId': '14574697134790015Cey_150393630...,None,"[{'sessionTimeID': '15323599396290012ffV', 'se...",...,N,N,N,N,Y,Y,Y,N,"[Oracle Cloud Platform, - Cloud Platform, - Or...",2
8,Join the Oracle SuperCluster solutions archite...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN3762,Oracle OpenWorld,oow18,"[{'fileId': '1540242496214001kHW9', 'filename'...",45,[{'speakerId': '14574696086150025iVM_150393630...,None,"[{'sessionTimeID': '1535041002002001jVWR', 'se...",...,N,N,N,N,Y,N,N,N,[Infrastructure Technologies (Data Center)],2
9,Development teams are actively looking for new...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4051,Oracle OpenWorld,oow18,"[{'fileId': '1541678122503001g1k7', 'filename'...",45,[{'speakerId': '14574695065470015TFw_150393630...,None,"[{'sessionTimeID': '1531934399478001ts1H', 'se...",...,N,N,N,N,Y,Y,Y,N,"[- Application Development, Oracle Cloud Platf...",1
10,In this session learn how to make client data ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6449,Oracle OpenWorld,oow18,"[{'fileId': '1540334126918001DZZj', 'filename'...",45,[{'speakerId': '1500578268510001KsST_150393630...,None,"[{'sessionTimeID': '1535610677698001BB58', 'se...",...,Y,N,N,N,Y,Y,Y,N,[],1
11,Given the increasing popularity of chatbots an...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5793,Oracle OpenWorld,oow18,"[{'fileId': '1540696800751001fVXj', 'filename'...",45,[{'speakerId': '14574694572360015BYe_150393630...,None,"[{'sessionTimeID': '1533759208391001MgR9', 'se...",...,N,N,N,N,Y,Y,Y,N,"[- Mobile, - Chatbots and Dialog Systems, Emer...",2
12,The Meltdown and Spectre vulnerabilities have ...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4072,Oracle OpenWorld,oow18,"[{'fileId': '15404056484970016EOs', 'filename'...",45,[{'speakerId': '14574694764920025gqH_150393630...,None,"[{'sessionTimeID': '1531946376143001tL1H', 'se...",...,N,N,N,N,Y,N,Y,N,"[SMB Solutions, Oracle Cloud Platform, - Cloud...",2
13,This session covers the best practices for per...,"[{'value': 'Product Training Session', 'attrib...",TRN6620,Oracle OpenWorld,oow18,None,20,[{'speakerId': '1470698803884001CfwZ_150393630...,None,"[{'sessionTimeID': '1538112369718001MoR2', 'se...",...,N,N,N,N,N,N,N,N,[Core Java Platform],1
14,The Real-World Performance team had the opport...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4025,Oracle OpenWorld,oow18,"[{'fileId': '154034529241500163Pr', 'filename'...",45,[{'speakerId': '14574694653030015toE_150393630...,None,"[{'sessionTimeID': '1531945751183001t4Yv', 'se...",...,N,N,N,N,Y,Y,Y,N,"[- Application Development, Oracle Cloud Platf...",1
15,Oracle Database 12c Release 2 significantly im...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN1263,Oracle OpenWorld,oow18,"[{'fileId': '15403083170840019yL5', 'filename'...",45,[{'speakerId': '14574694431760015Rra_150393630...,None,"[{'sessionTimeID': '15352342403930012AGW', 'se...",...,N,Y,N,N,Y,N,N,N,"[Oracle Cloud Platform, - Business Intelligenc...",1
16,Oracle Cloud Infrastructure Container Service ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4723,Oracle OpenWorld,oow18,"[{'fileId': '15414494303820010VyY', 'filename'...",45,[{'speakerId': '14574694616420015a7T_150393630...,None,"[{'sessionTimeID': '1535043544729001tjKO', 'se...",...,N,N,N,N,Y,Y,N,N,[Infrastructure Technologies (Data Center)],1
17,"As technology changes, companies face a wideni...","[{'value': 'Product Training Session', 'attrib...",TRN6500,Oracle OpenWorld,oow18,None,45,[{'speakerId': '1474430990525001R0yi_150393630...,None,"[{'sessionTimeID': '15374742618600012uOv', 'se...",...,N,N,N,N,N,N,N,N,[Featured Customers],3
18,Migrating on-premises live production database...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4410,Oracle OpenWorld,oow18,"[{'fileId': '1540318725969001Qpwz', 'filename'...",45,[{'speakerId': '1513311598012001gZ9f_150393630...,None,"[{'sessionTimeID': '15362459005080013QcA', 'se...",...,N,N,N,N,Y,N,Y,N,"[SMB Solutions, Your Cloud Transformation Road...",1
19,In this session hear an Oracle University cust...,"[{'value': 'Product Training Session', 'attrib...",TRN6364,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574698040360015uCl_150393630...,None,"[{'sessionTimeID': '15352234763450012iJo', 'se...",...,N,N,N,N,N,N,N,N,[],3
20,Your people are your biggest asset. A quick tr...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6721,Oracle OpenWorld,oow18,None,45,[{'speakerId': '145746956634500155ht_150393630...,None,"[{'sessionTimeID': '15376443148670016UPZ', 'se...",...,N,N,N,N,Y,Y,N,N,"[Featured Customers, Your Cloud Transformation...",4
21,This year saw the introduction of Oracle Auton...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN3980,Oracle OpenWorld,oow18,"[{'fileId': '1541192406763001UgbK', 'filename'...",45,[{'speakerId': '14574694525770015tTj_150393630...,None,"[{'sessionTimeID': '1531859226336001fb21', 'se...",...,N,N,N,Y,Y,Y,Y,N,"[Oracle Cloud Platform, - Oracle Autonomous Da...",3
22,"One-command database upgrade? Yes, the new aut...","[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4031,Oracle OpenWorld,oow18,"[{'fileId': '15411474157640018MMu', 'filename'...",45,[{'speakerId': '145746948919200355Sq_150393630...,None,"[{'sessionTimeID': '1531861888282001T846', 'se...",...,N,N,N,N,Y,Y,Y,N,"[Oracle Cloud Platform, - Cloud Platform, - Or...",2
23,Get instant clarity to improve your business w...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4447,Oracle OpenWorld,oow18,"[{'fileId': '1539645493648001NyP5', 'filename'...",45,[{'speakerId': '1496418243721001rgfo_150393630...,None,"[{'sessionTimeID': '1534265354271001dNrc', 'se...",...,N,N,N,N,Y,Y,Y,N,"[SMB Solutions, Oracle Cloud Platform, - Busin...",1
24,Should you refresh your current x86 hardware a...,"[{'value': 'Product Training Session', 'attrib...",TRN4782,Oracle OpenWorld,oow18,"[{'fileId': '1541718307822001nnE5', 'filename'...",45,[{'speakerId': '14574694661200015oeh_150393630...,None,"[{'sessionTimeID': '1535044864680001SZQw', 'se...",...,N,N,N,N,N,N,N,N,[Infrastructure Technologies (Data Center)],2
25,In this session learn how the Application Cont...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4040,Oracle OpenWorld,oow18,"[{'fileId': '1540916912679001NCDY', 'filename'...",45,[{'speakerId': '14574694706970015WCZ_150393630...,None,"[{'sessionTimeID': '1532360846512001Jg89', 'se...",...,N,N,N,N,Y,Y,Y,N,"[- Application Development, Featured Customers...",3
26,Are you planning on upgrading to Oracle Databa...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4029,Oracle OpenWorld,oow18,"[{'fileId': '15411473977700014loM', 'filename'...",45,[{'speakerId': '1457469435559001510o_150393630...,None,"[{'sessionTimeID': '1531945697704001z9Xg', 'se...",...,N,N,N,N,Y,Y,Y,N,"[Featured Customers, Oracle Cloud Platform, - ...",3
27,In this session take a quick look at the capab...,"[{'value': 'Product Training Session', 'attrib...",TRN6358,Oracle OpenWorld,oow18,"[{'fileId': '1540264358636001Dpe4', 'filename'...",45,[{'speakerId': '1467230528322001hGg0_150393630...,None,"[{'sessionTimeID': '1535315908676001BMSd', 'se...",...,N,N,N,N,N,N,N,N,[],1
28,In this session learn about the need for a sec...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6450,Oracle OpenWorld,oow18,"[{'fileId': '1540237792021001Qzxw', 'filename'...",45,[{'speakerId': '1500578268510001KsST_150393630...,None,"[{'sessionTimeID': '1535317019542001B3US', 'se...",...,Y,N,N,N,Y,Y,Y,N,[],1
29,"In this session learn how to use the seeded ""d...","[{'value': 'Product Training Session', 'attrib...",TRN6613,Oracle OpenWorld,oow18,"[{'fileId': '1539883753658001bTsN', 'filename'...",20,[{'speakerId': '1533151159169001TlLV_150393630...,None,"[{'sessionTimeID': '15381122228010018vej', 'se...",...,N,N,N,N,N,N,N,N,[],1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2309,"The definition of a data lake is broad, and al...","[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4240,Oracle OpenWorld,oow18,None,45,[{'speakerId': '1497022382803001UfPG_150393630...,NaN,"[{'sessionTimeID': '1533798600913001MVpw', 'se...",...,N,N,N,N,Y,Y,Y,N,"[- Integration, Containers, Serverless, and Cl...",1
2310,In this session learn how to optimize your dev...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4059,Oracle OpenWorld,oow18,"[{'fileId': '15404732129110019SqF', 'filename'...",45,[{'speakerId': '14574694632330015RAG_150393630...,NaN,"[{'sessionTimeID': '1531853633428001fs9e', 'se...",...,N,N,N,N,Y,Y,Y,N,"[- Application Development, Database, Big Data...",1
2311,In this session learn best practice tips from ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4075,Oracle OpenWorld,oow18,"[{'fileId': '1540582354964001S0a5', 'filename'...",45,[{'speakerId': '1457469466837002549A_150393630...,NaN,"[{'sessionTimeID': '1532616542644001uj48', 'se...",...,N,N,N,Y,Y,Y,Y,N,"[- Application Development, Database, Big Data...",1
2312,Python is hot and desirable. The cx_Oracle API...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4076,Oracle OpenWorld,oow18,"[{'fileId': '1540587368643001asFG', 'filename'...",45,[{'speakerId': '14574694955970015EaV_150393630...,NaN,"[{'sessionTimeID': '1531848815373001fZrV', 'se...",...,N,N,N,N,Y,Y,Y,N,"[- Application Development, Database, Big Data...",2
2313,SmartDB lets just two teams build an OLTP appl...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4043,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694869630015cpB_150393630...,NaN,"[{'sessionTimeID': '1531934181904001zRcU', 'se...",...,N,N,N,N,Y,Y,Y,N,"[- Application Development, Database, Big Data...",1
2314,For today's fast-changing world with daily rel...,"[{'value': 'Intermediate', 'attributevalue_id'...",TIP4104,Oracle OpenWorld,oow18,"[{'fileId': '1540593605024001fN56', 'filename'...",45,[{'speakerId': '14574694946650025woD_150393630...,NaN,"[{'sessionTimeID': '1531769910855001TRQe', 'se...",...,N,N,N,N,Y,N,Y,N,"[- Application Development, - Identity and Sec...",1
2315,Microservices are the de facto standard for an...,"[{'value': 'Intermediate', 'attributevalue_id'...",TIP4175,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694370360025gMe_150393630...,NaN,"[{'sessionTimeID': '1532734405803001VM1C', 'se...",...,N,N,N,N,Y,N,N,N,"[- Application Development, Database, Big Data...",1
2316,If you are planning to implement a microservic...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP3967,Oracle OpenWorld,oow18,None,45,[{'speakerId': '146825817935900162Bz_150393630...,NaN,"[{'sessionTimeID': '15355740659960012Vo1', 'se...",...,N,N,N,N,Y,Y,N,N,"[DevOps and Pipelines, Your Cloud Transformati...",1
2317,"Blockchain is hot, and if you have qualified u...","[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4592,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694677350015FG3_150393630...,NaN,"[{'sessionTimeID': '1533758908729001M4RV', 'se...",...,N,N,N,N,Y,Y,N,N,"[- Application Development, - Blockchain, Emer...",3
2318,MySQLâ€™s NDB cluster is a partitioned distribut...,"[{'value': 'Intermediate', 'attributevalue_id'...",TIP3088,Oracle OpenWorld,oow18,None,45,[{'speakerId': '145746943753100158bb_150393630...,NaN,"[{'sessionTimeID': '15354013856230011AH2', 'se...",...,N,N,N,N,Y,N,Y,N,"[Featured Customers, Oracle Cloud Platform, - ...",2
2319,Modern web applications are based on hundreds ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4071,Oracle OpenWorld,oow18,"[{'fileId': '1540836337563001xvq2', 'filename'...",45,[{'speakerId': '14574694377280015QNA_150393630...,NaN,"[{'sessionTimeID': '1531854189516001TBzL', 'se...",...,N,N,N,N,Y,Y,Y,N,"[- Application Development, Database, Big Data...",1
2320,"MySQL InnoDB cluster provides a high-level, ea...","[{'value': 'Beginner', 'attributevalue_id': '1...",TIP3065,Oracle OpenWorld,oow18,"[{'fileId': '15414542866760017D8P', 'filename'...",45,[{'speakerId': '1464284608830001XvOn_150393630...,NaN,"[{'sessionTimeID': '153540152466000116sY', 'se...",...,N,N,N,N,Y,Y,Y,N,"[Oracle Cloud Platform, - MySQL, MySQL]",2
2321,Database operations account for the larger par...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4068,Oracle OpenWorld,oow18,"[{'fileId': '1541102399809001xXug', 'filename'...",45,[{'speakerId': '14574694373590015wCR_150393630...,NaN,"[{'sessionTimeID': '1531853799352001aX4s', 'se...",...,N,N,N,N,Y,Y,Y,N,"[- Application Development, Database, Big Data...",3
2322,"During this tutorial, you will learn how to us...","[{'value': 'Beginner', 'attributevalue_id': '1...",TUT6303,Oracle OpenWorld,oow18,"[{'fileId': '1541454340556001bnq5', 'filename'...",120,[{'speakerId': '1464284608830001XvOn_150393630...,NaN,"[{'sessionTimeID': '15354064474310011Ozp', 'se...",...,N,N,N,N,Y,Y,Y,N,"[Oracle Cloud Platform, - MySQL, MySQL]",1
2323,The Binary Log is primarily used as a logical ...,"[{'value': 'Intermediate', 'attributevalue_id'...",TUT6318,Oracle OpenWorld,oow18,"[{'fileId': '1540394988525001Jny2', 'filename'...",120,[{'speakerId': '14574694488840015fWR_150393630...,NaN,"[{'sessionTimeID': '1535406361002001B3sI', 'se...",...,N,N,N,N,Y,N,Y,N,"[Oracle Cloud Platform, - MySQL, MySQL]",1
2324,The AdoptOpenJDK Build Farm is a new community...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT5283,Oracle Code One,oow18,"[{'fileId': '1540805960730001aPl2', 'filename'...",120,[{'speakerId': '14574694487160015jsC_150393630...,[],"[{'sessionTimeID': '15354105204170011IQG', 'se...",...,Y,N,Y,N,Y,Y,N,N,"[Containers, Serverless, and Cloud, Core Java ...",2
2325,Angular is one of the leading JavaScript frame...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT6265,Oracle Code One,oow18,"[{'fileId': '154099644451100189lR', 'filename'...",120,[{'speakerId': '1466805187131001h5uI_150393630...,None,"[{'sessionTimeID': '1536215006335001xh4l', 'se...",...,N,N,N,Y,Y,Y,N,N,"[Containers, Serverless, and Cloud, Developmen...",1
2326,Apache Kafka is a key component in enterprise ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT5454,Oracle Code One,oow18,"[{'fileId': '15403907032850019EI6', 'filename'...",120,[{'speakerId': '14574697793320025Tmy_150393630...,None,"[{'sessionTimeID': '15354095719030012Aqq', 'se...",...,N,N,N,N,Y,Y,N,N,"[Database, Big Data, and Data Science]",1
2327,Joshua Bloch just gifted us with the third edi...,"[{'value': 'Intermediate', 'attributevalue_id'...",TUT6008,Oracle Code One,oow18,"[{'fileId': '1542406396165001BZTm', 'filename'...",120,[{'speakerId': '145746945596900156Hr_150393630...,[],"[{'sessionTimeID': '1535558709502001Bd4T', 'se...",...,N,N,Y,N,Y,N,N,N,"[Core Java Platform, Development Tools]",1
2328,"This session discusses asynchronous, nonblocki...","[{'value': 'Intermediate', 'attributevalue_id'...",TUT5544,Oracle Code One,oow18,"[{'fileId': '154038926405800160jL', 'filename'...",120,[{'speakerId': '145746961848600154KH_150393630...,None,"[{'sessionTimeID': '1535410601734001BG6X', 'se...",...,Y,N,Y,N,Y,N,N,N,"[Containers, Serverless, and Cloud]",2
2329,This session walks through all the steps of bu...,"[{'value': 'Intermediate', 'attributevalue_id'...",TUT5196,Oracle Code One,oow18,None,120,[{'speakerId': '1492717354362001LdzF_150393630...,None,"[{'sessionTimeID': '1535410707803001B52W', 'se...",...,Y,N,Y,N,Y,N,N,N,"[Core Java Platform, Development Tools]",1
2330,The Binary Log is primarily used as a logical ...,"[{'value': 'Intermediate', 'attributevalue_id'...",TUT6318,Oracle OpenWorld,oow18,"[{'fileId': '1540394988525001Jny2', 'filename'...",120,[{'speakerId': '14574694488840015fWR_150393630...,None,"[{'sessionTimeID': '1535406361002001B3sI', 'se...",...,N,N,N,N,Y,N,Y,N,"[Oracle Cloud Platform, - MySQL, MySQL]",1
2331,Mobile applications are becoming increasingly ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT4487,Oracle Code One,oow18,"[{'fileId': '1540579886517001sgdg', 'filename'...",120,[{'speakerId': '14574694443080015uUh_150393630...,None,"[{'sessionTimeID': '153540999564200129Qx', 'se...",...,N,N,Y,Y,N,Y,N,N,"[Containers, Serverless, and Cloud, Java Ecosy...",2
2332,The blockchain is an undeniably ingenious inve...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT4348,Oracle Code One,oow18,"[{'fileId': '15403909275900019ol6', 'filename'...",120,[{'speakerId': '14574694363170025wpx_150393630...,None,"[{'sessionTimeID': '1535410061473001Bakf', 'se...",...,Y,N,Y,Y,Y,Y,Y,N,[Emerging Technologies],1
2333,This deep-dive session takes you into the magi...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT4744,Oracle Code One,oow18,"[{'fileId': '1540677303171001PRnm', 'filename'...",120,[{'speakerId': '14713114256200019Xey_150393630...,None,"[{'sessionTimeID': '15354111248720012xEc', 'se...",...,N,N,N,N,Y,Y,N,N,"[Emerging Technologies, Modern Web]",1

In [421]:
#set number of instancesfor each session by taking the length of the list in the times column
ss["instance_count"] = ss['times'].apply(lambda x: len(x) if x else None)
ss

,abstract,attributevalues,code,event,eventCode,files,length,participants,sponsors,times,...,Oracle ACE Director,Oracle Java Champion,Groundbreaker Ambassador,Intermediate,Beginner,Advanced,All,track,speaker_count,instance_count
0,What if you could benefit from new database qu...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4070,Oracle OpenWorld,oow18,"[{'fileId': '1540594881063001PjdE', 'filename'...",45,[{'speakerId': '14574694377280015QNA_150393630...,None,"[{'sessionTimeID': '1532616475210001usPa', 'se...",...,N,N,N,Y,Y,Y,N,"[- Application Development, Oracle Cloud Platf...",3,1.0
1,How does a real-world performance engineer int...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4026,Oracle OpenWorld,oow18,"[{'fileId': '1540053090863001JeFM', 'filename'...",45,[{'speakerId': '145746969078000151fg_150393630...,None,"[{'sessionTimeID': '1531945554973001z4Hi', 'se...",...,N,N,N,Y,Y,Y,N,"[- Application Development, Oracle Cloud Platf...",2,1.0
2,Understand the tools and techniques available ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4567,Oracle OpenWorld,oow18,"[{'fileId': '1539988618000001VcCe', 'filename'...",45,[{'speakerId': '1468532302119001DtNf_150393630...,None,"[{'sessionTimeID': '15352384203600012G04', 'se...",...,N,N,N,Y,Y,Y,N,"[SMB Solutions, Oracle Cloud Platform, - Cloud...",1,1.0
3,In order to derive value from the Internet of ...,"[{'value': 'Product Training Session', 'attrib...",TRN6363,Oracle OpenWorld,oow18,"[{'fileId': '1539982921144001RL4h', 'filename'...",45,[{'speakerId': '1500580326390001qTtd_150393630...,None,"[{'sessionTimeID': '1535223010412001BrNh', 'se...",...,N,N,N,N,N,N,N,[],1,1.0
4,Oracle Linux powers tens of thousands of enter...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5828,Oracle OpenWorld,oow18,"[{'fileId': '1540152941675001kZHw', 'filename'...",45,[{'speakerId': '14574694616420015a7T_150393630...,None,"[{'sessionTimeID': '1535040668257001twFq', 'se...",...,N,N,N,Y,Y,Y,N,"[Your Cloud Transformation Roadmap, - Upgradin...",2,1.0
5,"What do Oracle Database listener, dedicated se...","[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4073,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694719240015Rek_150393630...,None,"[{'sessionTimeID': '1531848510829001f1BX', 'se...",...,N,N,N,Y,Y,Y,N,"[- Application Development, Oracle Cloud Platf...",1,1.0
6,Oracle Real Application Clusters (Oracle RAC) ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4022,Oracle OpenWorld,oow18,"[{'fileId': '1540866799064001PrBM', 'filename'...",45,[{'speakerId': '14574695066480015FSs_150393630...,None,"[{'sessionTimeID': '1532032980624001vrvB', 'se...",...,N,N,N,Y,Y,N,N,"[Oracle Cloud Platform, - Cloud Platform, - Or...",1,1.0
7,"For more than 20 years, Oracle customers have ...","[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4219,Oracle OpenWorld,oow18,"[{'fileId': '1542318657574001slPL', 'filename'...",45,[{'speakerId': '14574697134790015Cey_150393630...,None,"[{'sessionTimeID': '15323599396290012ffV', 'se...",...,N,N,N,Y,Y,Y,N,"[Oracle Cloud Platform, - Cloud Platform, - Or...",2,1.0
8,Join the Oracle SuperCluster solutions archite...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN3762,Oracle OpenWorld,oow18,"[{'fileId': '1540242496214001kHW9', 'filename'...",45,[{'speakerId': '14574696086150025iVM_150393630...,None,"[{'sessionTimeID': '1535041002002001jVWR', 'se...",...,N,N,N,Y,N,N,N,[Infrastructure Technologies (Data Center)],2,1.0
9,Development teams are actively looking for new...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4051,Oracle OpenWorld,oow18,"[{'fileId': '1541678122503001g1k7', 'filename'...",45,[{'speakerId': '14574695065470015TFw_150393630...,None,"[{'sessionTimeID': '1531934399478001ts1H', 'se...",...,N,N,N,Y,Y,Y,N,"[- Application Development, Oracle Cloud Platf...",1,1.0
10,In this session learn how to make client data ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6449,Oracle OpenWorld,oow18,"[{'fileId': '1540334126918001DZZj', 'filename'...",45,[{'speakerId': '1500578268510001KsST_150393630...,None,"[{'sessionTimeID': '1535610677698001BB58', 'se...",...,N,N,N,Y,Y,Y,N,[],1,1.0
11,Given the increasing popularity of chatbots an...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5793,Oracle OpenWorld,oow18,"[{'fileId': '1540696800751001fVXj', 'filename'...",45,[{'speakerId': '14574694572360015BYe_150393630...,None,"[{'sessionTimeID': '1533759208391001MgR9', 'se...",...,N,N,N,Y,Y,Y,N,"[- Mobile, - Chatbots and Dialog Systems, Emer...",2,1.0
12,The Meltdown and Spectre vulnerabilities have ...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4072,Oracle OpenWorld,oow18,"[{'fileId': '15404056484970016EOs', 'filename'...",45,[{'speakerId': '14574694764920025gqH_150393630...,None,"[{'sessionTimeID': '1531946376143001tL1H', 'se...",...,N,N,N,Y,N,Y,N,"[SMB Solutions, Oracle Cloud Platform, - Cloud...",2,1.0
13,This session covers the best practices for per...,"[{'value': 'Product Training Session', 'attrib...",TRN6620,Oracle OpenWorld,oow18,None,20,[{'speakerId': '1470698803884001CfwZ_150393630...,None,"[{'sessionTimeID': '1538112369718001MoR2', 'se...",...,N,N,N,N,N,N,N,[Core Java Platform],1,1.0
14,The Real-World Performance team had the opport...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4025,Oracle OpenWorld,oow18,"[{'fileId': '154034529241500163Pr', 'filename'...",45,[{'speakerId': '14574694653030015toE_150393630...,None,"[{'sessionTimeID': '1531945751183001t4Yv', 'se...",...,N,N,N,Y,Y,Y,N,"[- Application Development, Oracle Cloud Platf...",1,1.0
15,Oracle Database 12c Release 2 significantly im...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN1263,Oracle OpenWorld,oow18,"[{'fileId': '15403083170840019yL5', 'filename'...",45,[{'speakerId': '14574694431760015Rra_150393630...,None,"[{'sessionTimeID': '15352342403930012AGW', 'se...",...,Y,N,N,Y,N,N,N,"[Oracle Cloud Platform, - Business Intelligenc...",1,1.0
16,Oracle Cloud Infrastructure Container Service ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4723,Oracle OpenWorld,oow18,"[{'fileId': '15414494303820010VyY', 'filename'...",45,[{'speakerId': '14574694616420015a7T_150393630...,None,"[{'sessionTimeID': '1535043544729001tjKO', 'se...",...,N,N,N,Y,Y,N,N,[Infrastructure Technologies (Data Center)],1,1.0
17,"As technology changes, companies face a wideni...","[{'value': 'Product Training Session', 'attrib...",TRN6500,Oracle OpenWorld,oow18,None,45,[{'speakerId': '1474430990525001R0yi_150393630...,None,"[{'sessionTimeID': '15374742618600012uOv', 'se...",...,N,N,N,N,N,N,N,[Featured Customers],3,1.0
18,Migrating on-premises live production database...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4410,Oracle OpenWorld,oow18,"[{'fileId': '1540318725969001Qpwz', 'filename'...",45,[{'speakerId': '1513311598012001gZ9f_150393630...,None,"[{'sessionTimeID': '15362459005080013QcA', 'se...",...,N,N,N,Y,N,Y,N,"[SMB Solutions, Your Cloud Transformation Road...",1,1.0
19,In this session hear an Oracle University cust...,"[{'value': 'Product Training Session', 'attrib...",TRN6364,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574698040360015uCl_150393630...,None,"[{'sessionTimeID': '15352234763450012iJo', 'se...",...,N,N,N,N,N,N,N,[],3,1.0
20,Your people are your biggest asset. A quick tr...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6721,Oracle OpenWorld,oow18,None,45,[{'speakerId': '145746956634500155ht_150393630...,None,"[{'sessionTimeID': '15376443148670016UPZ', 'se...",...,N,N,N,Y,Y,N,N,"[Featured Customers, Your Cloud Transformation...",4,1.0
21,This year saw the introduction of Oracle Auton...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN3980,Oracle OpenWorld,oow18,"[{'fileId': '1541192406763001UgbK', 'filename'...",45,[{'speakerId': '14574694525770015tTj_150393630...,None,"[{'sessionTimeID': '1531859226336001fb21', 'se...",...,N,N,Y,Y,Y,Y,N,"[Oracle Cloud Platform, - Oracle Autonomous Da...",3,1.0
22,"One-command database upgrade? Yes, the new aut...","[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4031,Oracle OpenWorld,oow18,"[{'fileId': '15411474157640018MMu', 'filename'...",45,[{'speakerId': '145746948919200355Sq_150393630...,None,"[{'sessionTimeID': '1531861888282001T846', 'se...",...,N,N,N,Y,Y,Y,N,"[Oracle Cloud Platform, - Cloud Platform, - Or...",2,1.0
23,Get instant clarity to improve your business w...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4447,Oracle OpenWorld,oow18,"[{'fileId': '1539645493648001NyP5', 'filename'...",45,[{'speakerId': '1496418243721001rgfo_150393630...,None,"[{'sessionTimeID': '1534265354271001dNrc', 'se...",...,N,N,N,Y,Y,Y,N,"[SMB Solutions, Oracle Cloud Platform, - Busin...",1,1.0
24,Should you refresh your current x86 hardware a...,"[{'value': 'Product Training Session', 'attrib...",TRN4782,Oracle OpenWorld,oow18,"[{'fileId': '1541718307822001nnE5', 'filename'...",45,[{'speakerId': '14574694661200015oeh_150393630...,None,"[{'sessionTimeID': '1535044864680001SZQw', 'se...",...,N,N,N,N,N,N,N,[Infrastructure Technologies (Data Center)],2,1.0
25,In this session learn how the Application Cont...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4040,Oracle OpenWorld,oow18,"[{'fileId': '1540916912679001NCDY', 'filename'...",45,[{'speakerId': '14574694706970015WCZ_150393630...,None,"[{'sessionTimeID': '1532360846512001Jg89', 'se...",...,N,N,N,Y,Y,Y,N,"[- Application Development, Featured Customers...",3,1.0
26,Are you planning on upgrading to Oracle Databa...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4029,Oracle OpenWorld,oow18,"[{'fileId': '15411473977700014loM', 'filename'...",45,[{'speakerId': '1457469435559001510o_150393630...,None,"[{'sessionTimeID': '1531945697704001z9Xg', 'se...",...,N,N,N,Y,Y,Y,N,"[Featured Customers, Oracle Cloud Platform, - ...",3,1.0
27,In this session take a quick look at the capab...,"[{'value': 'Product Training Session', 'attrib...",TRN6358,Oracle OpenWorld,oow18,"[{'fileId': '1540264358636001Dpe4', 'filename'...",45,[{'speakerId': '1467230528322001hGg0_150393630...,None,"[{'sessionTimeID': '1535315908676001BMSd', 'se...",...,N,N,N,N,N,N,N,[],1,1.0
28,In this session learn about the need for a sec...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6450,Oracle OpenWorld,oow18,"[{'fileId': '1540237792021001Qzxw', 'filename'...",45,[{'speakerId': '1500578268510001KsST_150393630...,None,"[{'sessionTimeID': '1535317019542001B3US', 'se...",...,N,N,N,Y,Y,Y,N,[],1,1.0
29,"In this session learn how to use the seeded ""d...","[{'value': 'Product Training Session', 'attrib...",TRN6613,Oracle OpenWorld,oow18,"[{'fileId': '1539883753658001bTsN', 'filename'...",20,[{'speakerId': '1533151159169001TlLV_150393630...,None,"[{'sessionTimeID': '15381122228010018vej', 'se...",...,N,N,N,N,N,N,N,[],1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2309,"The definition of a data lake is broad, and al...","[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4240,Oracle OpenWorld,oow18,None,45,[{'speakerId': '1497022382803001UfPG_150393630...,NaN,"[{'sessionTimeID': '1533798600913001MVpw', 'se...",...,N,N,N,Y,Y,Y,N,"[- Integration, Containers, Serverless, and Cl...",1,1.0
2310,In this session learn how to optimize your dev...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4059,Oracle OpenWorld,oow18,"[{'fileId': '15404732129110019SqF', 'filename'...",45,[{'speakerId': '14574694632330015RAG_150393630...,NaN,"[{'sessionTimeID': '1531853633428001fs9e', 'se...",...,N,N,N,Y,Y,Y,N,"[- Application Development, Database, Big Data...",1,1.0
2311,In this session learn best practice tips from ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4075,Oracle OpenWorld,oow18,"[{'fileId': '1540582354964001S0a5', 'filename'...",45,[{'speakerId': '1457469466837002549A_150393630...,NaN,"[{'sessionTimeID': '1532616542644001uj48', 'se...",...,N,N,Y,Y,Y,Y,N,"[- Application Development, Database, Big Data...",1,1.0
2312,Python is hot and desirable. The cx_Oracle API...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4076,Oracle OpenWorld,oow18,"[{'fileId': '1540587368643001asFG', 'filename'...",45,[{'speakerId': '14574694955970015EaV_150393630...,NaN,"[{'sessionTimeID': '1531848815373001fZrV', 'se...",...,N,N,N,Y,Y,Y,N,"[- Application Development, Database, Big Data...",2,1.0
2313,SmartDB lets just two teams build an OLTP appl...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4043,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694869630015cpB_150393630...,NaN,"[{'sessionTimeID': '1531934181904001zRcU', 'se...",...,N,N,N,Y,Y,Y,N,"[- Application Development, Database, Big Data...",1,1.0
2314,For today's fast-changing world with daily rel...,"[{'value': 'Intermediate', 'attributevalue_id'...",TIP4104,Oracle OpenWorld,oow18,"[{'fileId': '1540593605024001fN56', 'filename'...",45,[{'speakerId': '14574694946650025woD_150393630...,NaN,"[{'sessionTimeID': '1531769910855001TRQe', 'se...",...,N,N,N,Y,N,Y,N,"[- Application Development, - Identity and Sec...",1,1.0
2315,Microservices are the de facto standard for an...,"[{'value': 'Intermediate', 'attributevalue_id'...",TIP4175,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694370360025gMe_150393630...,NaN,"[{'sessionTimeID': '1532734405803001VM1C', 'se...",...,N,N,N,Y,N,N,N,"[- Application Development, Database, Big Data...",1,1.0
2316,If you are planning to implement a microservic...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP3967,Oracle OpenWorld,oow18,None,45,[{'speakerId': '146825817935900162Bz_150393630...,NaN,"[{'sessionTimeID': '15355740659960012Vo1', 'se...",...,N,N,N,Y,Y,N,N,"[DevOps and Pipelines, Your Cloud Transformati...",1,1.0
2317,"Blockchain is hot, and if you have qualified u...","[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4592,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694677350015FG3_150393630...,NaN,"[{'sessionTimeID': '1533758908729001M4RV', 'se...",...,N,N,N,Y,Y,N,N,"[- Application Development, - Blockchain, Emer...",3,1.0
2318,MySQLâ€™s NDB cluster is a partitioned distribut...,"[{'value': 'Intermediate', 'attributevalue_id'...",TIP3088,Oracle OpenWorld,oow18,None,45,[{'speakerId': '145746943753100158bb_150393630...,NaN,"[{'sessionTimeID': '15354013856230011AH2', 'se...",...,N,N,N,Y,N,Y,N,"[Featured Customers, Oracle Cloud Platform, - ...",2,1.0
2319,Modern web applications are based on hundreds ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4071,Oracle OpenWorld,oow18,"[{'fileId': '1540836337563001xvq2', 'filename'...",45,[{'speakerId': '14574694377280015QNA_150393630...,NaN,"[{'sessionTimeID': '1531854189516001TBzL', 'se...",...,N,N,N,Y,Y,Y,N,"[- Application Development, Database, Big Data...",1,1.0
2320,"MySQL InnoDB cluster provides a high-level, ea...","[{'value': 'Beginner', 'attributevalue_id': '1...",TIP3065,Oracle OpenWorld,oow18,"[{'fileId': '15414542866760017D8P', 'filename'...",45,[{'speakerId': '1464284608830001XvOn_150393630...,NaN,"[{'sessionTimeID': '153540152466000116sY', 'se...",...,N,N,N,Y,Y,Y,N,"[Oracle Cloud Platform, - MySQL, MySQL]",2,1.0
2321,Database operations account for the larger par...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4068,Oracle OpenWorld,oow18,"[{'fileId': '1541102399809001xXug', 'filename'...",45,[{'speakerId': '14574694373590015wCR_150393630...,NaN,"[{'sessionTimeID': '1531853799352001aX4s', 'se...",...,N,N,N,Y,Y,Y,N,"[- Application Development, Database, Big Data...",3,1.0
2322,"During this tutorial, you will learn how to us...","[{'value': 'Beginner', 'attributevalue_id': '1...",TUT6303,Oracle OpenWorld,oow18,"[{'fileId': '1541454340556001bnq5', 'filename'...",120,[{'speakerId': '1464284608830001XvOn_150393630...,NaN,"[{'sessionTimeID': '15354064474310011Ozp', 'se...",...,N,N,N,Y,Y,Y,N,"[Oracle Cloud Platform, - MySQL, MySQL]",1,1.0
2323,The Binary Log is primarily used as a logical ...,"[{'value': 'Intermediate', 'attributevalue_id'...",TUT6318,Oracle OpenWorld,oow18,"[{'fileId': '1540394988525001Jny2', 'filename'...",120,[{'speakerId': '14574694488840015fWR_150393630...,NaN,"[{'sessionTimeID': '1535406361002001B3sI', 'se...",...,N,N,N,Y,N,Y,N,"[Oracle Cloud Platform, - MySQL, MySQL]",1,1.0
2324,The AdoptOpenJDK Build Farm is a new community...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT5283,Oracle Code One,oow18,"[{'fileId': '1540805960730001aPl2', 'filename'...",120,[{'speakerId': '14574694487160015jsC_150393630...,[],"[{'sessionTimeID': '15354105204170011IQG', 'se...",...,N,Y,N,Y,Y,N,N,"[Containers, Serverless, and Cloud, Core Java ...",2,1.0
2325,Angular is one of the leading JavaScript frame...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT6265,Oracle Code One,oow18,"[{'fileId': '154099644451100189lR', 'filename'...",120,[{'speakerId': '1466805187131001h5uI_150393630...,None,"[{'sessionTimeID': '1536215006335001xh4l', 'se...",...,N,N,Y,Y,Y,N,N,"[Containers, Serverless, and Cloud, Developmen...",1,1.0
2326,Apache Kafka is a key component in enterprise ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT5454,Oracle Code One,oow18,"[{'fileId': '15403907032850019EI6', 'filename'...",120,[{'speakerId': '14574697793320025Tmy_150393630...,None,"[{'sessionTimeID': '15354095719030012Aqq', 'se...",...,N,N,N,Y,Y,N,N,"[Database, Big Data, and Data Science]",1,1.0
2327,Joshua Bloch just gifted us with the third edi...,"[{'value': 'Intermediate', 'attributevalue_id'...",TUT6008,Oracle Code One,oow18,"[{'fileId': '1542406396165001BZTm', 'filename'...",120,[{'speakerId': '145746945596900156Hr_150393630...,[],"[{'sessionTimeID': '1535558709502001Bd4T', 'se...",...,N,Y,N,Y,N,N,N,"[Core Java Platform, Development Tools]",1,1.0
2328,"This session discusses asynchronous, nonblocki...","[{'value': 'Intermediate', 'attributevalue_id'...",TUT5544,Oracle Code One,oow18,"[{'fileId': '154038926405800160jL', 'filename'...",120,[{'speakerId': '145746961848600154KH_150393630...,None,"[{'sessionTimeID': '1535410601734001BG6X', 'se...",...,N,Y,N,Y,N,N,N,"[Containers, Serverless, and Cloud]",2,1.0
2329,This session walks through all the steps of bu...,"[{'value': 'Intermediate', 'attributevalue_id'...",TUT5196,Oracle Code One,oow18,None,120,[{'speakerId': '1492717354362001LdzF_150393630...,None,"[{'sessionTimeID': '1535410707803001B52W', 'se...",...,N,Y,N,Y,N,N,N,"[Core Java Platform, Development Tools]",1,1.0
2330,The Binary Log is primarily used as a logical ...,"[{'value': 'Intermediate', 'attributevalue_id'...",TUT6318,Oracle OpenWorld,oow18,"[{'fileId': '1540394988525001Jny2', 'filename'...",120,[{'speakerId': '14574694488840015fWR_150393630...,None,"[{'sessionTimeID': '1535406361002001B3sI', 'se...",...,N,N,N,Y,N,Y,N,"[Oracle Cloud Platform, - MySQL, MySQL]",1,1.0
2331,Mobile applications are becoming increasingly ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT4487,Oracle Code One,oow18,"[{'fileId': '1540579886517001sgdg', 'filename'...",120,[{'speakerId': '14574694443080015uUh_150393630...,None,"[{'sessionTimeID': '153540999564200129Qx', 'se...",...,N,Y,Y,N,Y,N,N,"[Containers, Serverless, and Cloud, Java Ecosy...",2,1.0
2332,The blockchain is an undeniably ingenious inve...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT4348,Oracle Code One,oow18,"[{'fileId': '15403909275900019ol6', 'filename'...",120,[{'speakerId': '14574694363170025wpx_150393630...,None,"[{'sessionTimeID': '1535410061473001Bakf', 'se...",...,N,Y,Y,Y,Y,Y,N,[Emerging Technologies],1,1.0
2333,This deep-dive session takes you into the magi...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT4744,Oracle Code One,oow18,"[{'fileId': '1540677303171001PRnm', 'filename'...",120,[{'speakerId': '14713114256200019Xey_150393630...,None,"[{'sessionTimeID': '15354111248720012xEc', 'se...",...,N,N,N,Y,Y,N,N,"[Emerging Technologies, Modern Web]",1,1.0

In [424]:
#set the room capacity based on the capacity of the room of the first entry in the times list
# note: when the session is scheduled multiple times, not all rooms may have the same capacity; that detail gets lost
ss["room_capacity"]= ss['times'].apply(lambda x:x[0]['capacity'] if x else None)
#likewise derive day, time and room - from the first occurrence of the session
ss["day"]= ss['times'].apply(lambda x:x[0]['dayName'] if x else None)
ss["room"]= ss['times'].apply(lambda x:x[0]['room'] if x else None)
ss["time"]= ss['times'].apply(lambda x:x[0]['time'] if x else None)
ss

,abstract,attributevalues,code,event,eventCode,files,length,participants,sponsors,times,...,Beginner,Advanced,All,track,speaker_count,instance_count,room_capacity,day,room,time
0,What if you could benefit from new database qu...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4070,Oracle OpenWorld,oow18,"[{'fileId': '1540594881063001PjdE', 'filename'...",45,[{'speakerId': '14574694377280015QNA_150393630...,None,"[{'sessionTimeID': '1532616475210001usPa', 'se...",...,Y,Y,N,"[- Application Development, Oracle Cloud Platf...",3,1.0,308,Wednesday,Moscone West - Room 3009,11:15
1,How does a real-world performance engineer int...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4026,Oracle OpenWorld,oow18,"[{'fileId': '1540053090863001JeFM', 'filename'...",45,[{'speakerId': '145746969078000151fg_150393630...,None,"[{'sessionTimeID': '1531945554973001z4Hi', 'se...",...,Y,Y,N,"[- Application Development, Oracle Cloud Platf...",2,1.0,313,Monday,Moscone West - Room 3004,15:45
2,Understand the tools and techniques available ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4567,Oracle OpenWorld,oow18,"[{'fileId': '1539988618000001VcCe', 'filename'...",45,[{'speakerId': '1468532302119001DtNf_150393630...,None,"[{'sessionTimeID': '15352384203600012G04', 'se...",...,Y,Y,N,"[SMB Solutions, Oracle Cloud Platform, - Cloud...",1,1.0,312,Monday,Moscone West - Room 3006,11:30
3,In order to derive value from the Internet of ...,"[{'value': 'Product Training Session', 'attrib...",TRN6363,Oracle OpenWorld,oow18,"[{'fileId': '1539982921144001RL4h', 'filename'...",45,[{'speakerId': '1500580326390001qTtd_150393630...,None,"[{'sessionTimeID': '1535223010412001BrNh', 'se...",...,N,N,N,[],1,1.0,173,Monday,Moscone West - Room 3000,12:30
4,Oracle Linux powers tens of thousands of enter...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5828,Oracle OpenWorld,oow18,"[{'fileId': '1540152941675001kZHw', 'filename'...",45,[{'speakerId': '14574694616420015a7T_150393630...,None,"[{'sessionTimeID': '1535040668257001twFq', 'se...",...,Y,Y,N,"[Your Cloud Transformation Roadmap, - Upgradin...",2,1.0,50000,Monday,Moscone South - Room 154,10:30
5,"What do Oracle Database listener, dedicated se...","[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4073,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694719240015Rek_150393630...,None,"[{'sessionTimeID': '1531848510829001f1BX', 'se...",...,Y,Y,N,"[- Application Development, Oracle Cloud Platf...",1,1.0,308,Monday,Moscone West - Room 3009,15:45
6,Oracle Real Application Clusters (Oracle RAC) ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4022,Oracle OpenWorld,oow18,"[{'fileId': '1540866799064001PrBM', 'filename'...",45,[{'speakerId': '14574695066480015FSs_150393630...,None,"[{'sessionTimeID': '1532032980624001vrvB', 'se...",...,Y,N,N,"[Oracle Cloud Platform, - Cloud Platform, - Or...",1,1.0,308,Tuesday,Moscone West - Room 3007,11:15
7,"For more than 20 years, Oracle customers have ...","[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4219,Oracle OpenWorld,oow18,"[{'fileId': '1542318657574001slPL', 'filename'...",45,[{'speakerId': '14574697134790015Cey_150393630...,None,"[{'sessionTimeID': '15323599396290012ffV', 'se...",...,Y,Y,N,"[Oracle Cloud Platform, - Cloud Platform, - Or...",2,1.0,308,Monday,Moscone West - Room 3007,17:45
8,Join the Oracle SuperCluster solutions archite...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN3762,Oracle OpenWorld,oow18,"[{'fileId': '1540242496214001kHW9', 'filename'...",45,[{'speakerId': '14574696086150025iVM_150393630...,None,"[{'sessionTimeID': '1535041002002001jVWR', 'se...",...,N,N,N,[Infrastructure Technologies (Data Center)],2,1.0,154,Monday,Moscone South - Room 214,17:45
9,Development teams are actively looking for new...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4051,Oracle OpenWorld,oow18,"[{'fileId': '1541678122503001g1k7', 'filename'...",45,[{'speakerId': '14574695065470015TFw_150393630...,None,"[{'sessionTimeID': '1531934399478001ts1H', 'se...",...,Y,Y,N,"[- Application Development, Oracle Cloud Platf...",1,1.0,308,Thursday,Moscone West - Room 3005,12:00
10,In this session learn how to make client data ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6449,Oracle OpenWorld,oow18,"[{'fileId': '1540334126918001DZZj', 'filename'...",45,[{'speakerId': '1500578268510001KsST_150393630...,None,"[{'sessionTimeID': '1535610677698001BB58', 'se...",...,Y,Y,N,[],1,1.0,314,Tuesday,Moscone West - Room 3002,15:45
11,Given the increasing popularity of chatbots an...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5793,Oracle OpenWorld,oow18,"[{'fileId': '1540696800751001fVXj', 'filename'...",45,[{'speakerId': '14574694572360015BYe_150393630...,None,"[{'sessionTimeID': '1533759208391001MgR9', 'se...",...,Y,Y,N,"[- Mobile, - Chatbots and Dialog Systems, Emer...",2,1.0,310,Wednesday,Moscone West - Room 3020,15:45
12,The Meltdown and Spectre vulnerabilities have ...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4072,Oracle OpenWorld,oow18,"[{'fileId': '15404056484970016EOs', 'filename'...",45,[{'speakerId': '14574694764920025gqH_150393630...,None,"[{'sessionTimeID': '1531946376143001tL1H', 'se...",...,N,Y,N,"[SMB Solutions, Oracle Cloud Platform, - Cloud...",2,1.0,313,Wednesday,Moscone West - Room 3004,16:45
13,This session covers the best practices for per...,"[{'value': 'Product Training Session', 'attrib...",TRN6620,Oracle OpenWorld,oow18,None,20,[{'speakerId': '1470698803884001CfwZ_150393630...,None,"[{'sessionTimeID': '1538112369718001MoR2', 'se...",...,N,N,N,[Core Java Platform],1,1.0,75,Monday,The Exchange @ Moscone South - OU Mini Theater,17:25
14,The Real-World Performance team had the opport...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4025,Oracle OpenWorld,oow18,"[{'fileId': '154034529241500163Pr', 'filename'...",45,[{'speakerId': '14574694653030015toE_150393630...,None,"[{'sessionTimeID': '1531945751183001t4Yv', 'se...",...,Y,Y,N,"[- Application Development, Oracle Cloud Platf...",1,1.0,313,Tuesday,Moscone West - Room 3004,12:30
15,Oracle Database 12c Release 2 significantly im...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN1263,Oracle OpenWorld,oow18,"[{'fileId': '15403083170840019yL5', 'filename'...",45,[{'speakerId': '14574694431760015Rra_150393630...,None,"[{'sessionTimeID': '15352342403930012AGW', 'se...",...,N,N,N,"[Oracle Cloud Platform, - Business Intelligenc...",1,1.0,312,Tuesday,Moscone West - Room 3006,16:45
16,Oracle Cloud Infrastructure Container Service ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4723,Oracle OpenWorld,oow18,"[{'fileId': '15414494303820010VyY', 'filename'...",45,[{'speakerId': '14574694616420015a7T_150393630...,None,"[{'sessionTimeID': '1535043544729001tjKO', 'se...",...,Y,N,N,[Infrastructure Technologies (Data Center)],1,1.0,169,Wednesday,Moscone West - Room 2000,12:30
17,"As technology changes, companies face a wideni...","[{'value': 'Product Training Session', 'attrib...",TRN6500,Oracle OpenWorld,oow18,None,45,[{'speakerId': '1474430990525001R0yi_150393630...,None,"[{'sessionTimeID': '15374742618600012uOv', 'se...",...,N,N,N,[Featured Customers],3,1.0,305,Monday,Moscone West - Room 3014,10:30
18,Migrating on-premises live production database...,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4410,Oracle OpenWorld,oow18,"[{'fileId': '1540318725969001Qpwz', 'filename'...",45,[{'speakerId': '1513311598012001gZ9f_150393630...,None,"[{'sessionTimeID': '15362459005080013QcA', 'se...",...,N,Y,N,"[SMB Solutions, Your Cloud Transformation Road...",1,1.0,168,Wednesday,Moscone North - Room 22,16:45
19,In this session hear an Oracle University cust...,"[{'value': 'Product Training Session', 'attrib...",TRN6364,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574698040360015uCl_150393630...,None,"[{'sessionTimeID': '15352234763450012iJo', 'se...",...,N,N,N,[],3,1.0,280,Monday,Moscone West - Room 2003,17:45
20,Your people are your biggest asset. A quick tr...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6721,Oracle OpenWorld,oow18,None,45,[{'speakerId': '145746956634500155ht_150393630...,None,"[{'sessionTimeID': '15376443148670016UPZ', 'se...",...,Y,N,N,"[Featured Customers, Your Cloud Transformation...",4,1.0,304,Monday,Moscone West - Room 3022,10:30
21,This year saw the introduction of Oracle Auton...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN3980,Oracle OpenWorld,oow18,"[{'fileId': '1541192406763001UgbK', 'filename'...",45,[{'speakerId': '14574694525770015tTj_150393630...,None,"[{'sessionTimeID': '1531859226336001fb21', 'se...",...,Y,Y,N,"[Oracle Cloud Platform, - Oracle Autonomous Da...",3,1.0,308,Tuesday,Moscone West - Room 3003,16:45
22,"One-command database upgrade? Yes, the new aut...","[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4031,Oracle OpenWorld,oow18,"[{'fileId': '15411474157640018MMu', 'filename'...",45,[{'speakerId': '145746948919200355Sq_150393630...,None,"[{'sessionTimeID': '1531861888282001T846', 'se...",...,Y,Y,N,"[Oracle Cloud Platform, - Cloud Platform, - Or...",2,1.0,313,Monday,Moscone West - Room 3004,09:00
23,Get instant clarity to improve your business w...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4447,Oracle OpenWorld,oow18,"[{'fileId': '1539645493648001NyP5', 'filename'...",45,[{'speakerId': '1496418243721001rgfo_150393630...,None,"[{'sessionTimeID': '1534265354271001dNrc', 'se...",...,Y,Y,N,"[SMB Solutions, Oracle Cloud Platform, - Busin...",1,1.0,94,Monday,Marriott Marquis (Golden Gate Level) - Golden ...,12:30
24,Should you refresh your current x86 hardware a...,"[{'value': 'Product Training Session', 'attrib...",TRN4782,Oracle OpenWorld,oow18,"[{'fileId': '1541718307822001nnE5', 'filename'...",45,[{'speakerId': '14574694661200015oeh_150393630...,None,"[{'sessionTimeID': '1535044864680001SZQw', 'se...",...,N,N,N,[Infrastructure Technologies (Data Center)],2,1.0,190,Tuesday,Moscone South - Room 208,16:45
25,In this session learn how the Application Cont...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4040,Oracle OpenWorld,oow18,"[{'fileId': '1540916912679001NCDY', 'filename'...",45,[{'speakerId': '14574694706970015WCZ_150393630...,None,"[{'sessionTimeID': '1532360846512001Jg89', 'se...",...,Y,Y,N,"[- Application Development, Featured Customers...",3,1.0,308,Wednesday,Moscone West - Room 3007,11:15
26,Are you planning on upgrading to Oracle Databa...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4029,Oracle OpenWorld,oow18,"[{'fileId': '15411473977700014loM', 'filename'...",45,[{'speakerId': '1457469435559001510o_150393630...,None,"[{'sessionTimeID': '1531945697704001z9Xg', 'se...",...,Y,Y,N,"[Featured Customers, Oracle Cloud Platform, - ...",3,1.0,313,Tuesday,Moscone West - Room 3004,11:15
27,In this session take a quick look at the capab...,"[{'value': 'Product Training Session', 'attrib...",TRN6358,Oracle OpenWorld,oow18,"[{'fileId': '1540264358636001Dpe4', 'filename'...",45,[{'speakerId': '1467230528322001hGg0_150393630...,None,"[{'sessionTimeID': '1535315908676001BMSd', 'se...",...,N,N,N,[],1,1.0,266,Wednesday,Moscone South - Room 160,11:15
28,In this session learn about the need for a sec...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6450,Oracle OpenWorld,oow18,"[{'fileId': '1540237792021001Qzxw', 'filename'...",45,[{'speakerId': '1500578268510001KsST_150393630...,None,"[{'sessionTimeID': '1535317019542001B3US', 'se...",...,Y,Y,N,[],1,1.0,169,Monday,Moscone West - Room 2000,16:45
29,"In this session learn how to use the seeded ""d...","[{'value': 'Product Training Session', 'attrib...",TRN6613,Oracle OpenWorld,oow18,"[{'fileId': '1539883753658001bTsN', 'filename'...",20,[{'speakerId': '1533151159169001TlLV_150393630...,None,"[{'sessionTimeID': '15381122228010018vej', 'se...",...,N,N,N,[],1,1.0,75,Monday,The Exchange @ Moscone South - OU Mini Theater,11:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2309,"The definition of a data lake is broad, and al...","[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4240,Oracle OpenWorld,oow18,None,45,[{'speakerId': '1497022382803001UfPG_150393630...,NaN,"[{'sessionTimeID': '1533798600913001MVpw', 'se...",...,Y,Y,N,"[- Integration, Containers, Serverless, and Cl...",1,1.0,303,Thursday,Moscone West - Room 2002,13:00
2310,In this session learn how to optimize your dev...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4059,Oracle OpenWorld,oow18,"[{'fileId': '15404732129110019SqF', 'filename'...",45,[{'speakerId': '14574694632330015RAG_150393630...,NaN,"[{'sessionTimeID': '1531853633428001fs9e', 'se...",...,Y,Y,N,"[- Application Development, Database, Big Data...",1,1.0,308,Wednesday,Moscone West - Room 3009,12:30
2311,In this session learn best practice tips from ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4075,Oracle OpenWorld,oow18,"[{'fileId': '1540582354964001S0a5', 'filename'...",45,[{'speakerId': '1457469466837002549A_150393630...,NaN,"[{'sessionTimeID': '1532616542644001uj48', 'se...",...,Y,Y,N,"[- Application Development, Database, Big Data...",1,1.0,308,Thursday,Moscone West - Room 3009,12:00
2312,Python is hot and desirable. The cx_Oracle API...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4076,Oracle OpenWorld,oow18,"[{'fileId': '1540587368643001asFG', 'filename'...",45,[{'speakerId': '14574694955970015EaV_150393630...,NaN,"[{'sessionTimeID': '1531848815373001fZrV', 'se...",...,Y,Y,N,"[- Application Development, Database, Big Data...",2,1.0,280,Tuesday,Moscone West - Room 2007,12:30
2313,SmartDB lets just two teams build an OLTP appl...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4043,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694869630015cpB_150393630...,NaN,"[{'sessionTimeID': '1531934181904001zRcU', 'se...",...,Y,Y,N,"[- Application Development, Database, Big Data...",1,1.0,308,Wednesday,Moscone West - Room 3005,12:30
2314,For today's fast-changing world with daily rel...,"[{'value': 'Intermediate', 'attributevalue_id'...",TIP4104,Oracle OpenWorld,oow18,"[{'fileId': '1540593605024001fN56', 'filename'...",45,[{'speakerId': '14574694946650025woD_150393630...,NaN,"[{'sessionTimeID': '1531769910855001TRQe', 'se...",...,N,Y,N,"[- Application Development, - Identity and Sec...",1,1.0,312,Thursday,Moscone West - Room 3006,11:00
2315,Microservices are the de facto standard for an...,"[{'value': 'Intermediate', 'attributevalue_id'...",TIP4175,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694370360025gMe_150393630...,NaN,"[{'sessionTimeID': '1532734405803001VM1C', 'se...",...,N,N,N,"[- Application Development, Database, Big Data...",1,1.0,308,Monday,Moscone West - Room 3003,17:45
2316,If you are planning to implement a microservic...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP3967,Oracle OpenWorld,oow18,None,45,[{'speakerId': '146825817935900162Bz_150393630...,NaN,"[{'sessionTimeID': '15355740659960012Vo1', 'se...",...,Y,N,N,"[DevOps and Pipelines, Your Cloud Transformati...",1,1.0,94,Tuesday,Marriott Marquis (Golden Gate Level) - Golden ...,11:15
2317,"Blockchain is hot, and if you have qualified u...","[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4592,Oracle OpenWorld,oow18,None,45,[{'speakerId': '14574694677350015FG3_150393630...,NaN,"[{'sessionTimeID': '1533758908729001M4RV', 'se...",...,Y,N,N,"[- Application Development, - Blockchain, Emer...",3,1.0,310,Tuesday,Moscone West - Room 3020,12:30
2318,MySQLâ€™s NDB cluster is a partitioned distribut...,"[{'value': 'Intermediate', 'attributevalue_id'...",TIP3088,Oracle OpenWorld,oow18,None,45,[{'speakerId': '145746943753100158bb_150393630...,NaN,"[{'sessionTimeID': '15354013856230011AH2', 'se...",...,N,Y,N,"[Featured Customers, Oracle Cloud Platform, - ...",2,1.0,69,Tuesday,Park Central (Floor 3) - Franciscan II,17:45
2319,Modern web applications are based on hundreds ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4071,Oracle OpenWorld,oow18,"[{'fileId': '1540836337563001xvq2', 'filename'...",45,[{'speakerId': '14574694377280015QNA_150393630...,NaN,"[{'sessionTimeID': '1531854189516001TBzL', 'se...",...,Y,Y,N,"[- Application Development, Database, Big Data...",1,1.0,251,Tuesday,Moscone West - Room 3010,17:45
2320,"MySQL InnoDB cluster provides a high-level, ea...","[{'value': 'Beginner', 'attributevalue_id': '1...",TIP3065,Oracle OpenWorld,oow18,"[{'fileId': '15414542866760017D8P', 'filename'...",45,[{'speakerId': '1464284608830001XvOn_150393630...,NaN,"[{'sessionTimeID': '153540152466000116sY', 'se...",...,Y,Y,N,"[Oracle Cloud Platform, - MySQL, MySQL]",2,1.0,69,Wednesday,Park Central (Floor 3) - Franciscan II,16:45
2321,Database operations account for the larger par...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TIP4068,Oracle OpenWorld,oow18,"[{'fileId': '1541102399809001xXug', 'filename'...",45,[{'speakerId': '14574694373590015wCR_150393630...,NaN,"[{'sessionTimeID': '1531853799352001aX4s', 'se...",...,Y,Y,N,"[- Application Development, Database, Big Data...",3,1.0,308,Thursday,Moscone West - Room 3009,09:00
2322,"During this tutorial, you will learn how to us...","[{'value': 'Beginner', 'attributevalue_id': '1...",TUT6303,Oracle OpenWorld,oow18,"[{'fileId': '1541454340556001bnq5', 'filename'...",120,[{'speakerId': '1464284608830001XvOn_150393630...,NaN,"[{'sessionTimeID': '15354064474310011Ozp', 'se...",...,Y,Y,N,"[Oracle Cloud Platform, - MySQL, MySQL]",1,1.0,301,Tuesday,Moscone West - Room 2016,08:45
2323,The Binary Log is primarily used as a logical ...,"[{'value': 'Intermediate', 'attributevalue_id'...",TUT6318,Oracle OpenWorld,oow18,"[{'fileId': '1540394988525001Jny2', 'filename'...",120,[{'speakerId': '14574694488840015fWR_150393630...,NaN,"[{'sessionTimeID': '1535406361002001B3sI', 'se...",...,N,Y,N,"[Oracle Cloud Platform, - MySQL, MySQL]",1,1.0,285,Tuesday,Moscone West - Room 2014,08:45
2324,The AdoptOpenJDK Build Farm is a new community...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT5283,Oracle Code One,oow18,"[{'fileId': '1540805960730001aPl2', 'filename'...",120,[{'speakerId': '14574694487160015jsC_150393630...,[],"[{'sessionTimeID': '15354105204170011IQG', 'se...",...,Y,N,N,"[Containers, Serverless, and Cloud, Core Java ...",2,1.0,280,Tuesday,Moscone West - Room 2007,08:45
2325,Angular is one of the leading JavaScript frame...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT6265,Oracle Code One,oow18,"[{'fileId': '154099644451100189lR', 'filename'...",120,[{'speakerId': '1466805187131001h5uI_150393630...,None,"[{'sessionTimeID': '1536215006335001xh4l', 'se...",...,Y,N,N,"[Containers, Serverless, and Cloud, Developmen...",1,1.0,169,Tuesday,Moscone West - Room 2000,08:45
2326,Apache Kafka is a key component in enterprise ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",TUT5454,Oracle Code One,oow18,"[{'fileId': '15403907032850019EI6', 'filename'...",120,[{'speakerId': '14574697793320025Tmy_150393630...,None,"[{'sessionTimeID': '15354095719030012Aqq', 'se...",...,Y,N,N,"[Database, Big Data, and Data Science]",1,1.0,298,Tuesday,Moscone West - Room 2001,08:45
2327,Joshua Bloch just gifted us with the third edi...,"[{'value': 'Intermediate', 'attributevalue_id'...",TUT6008,Oracle Code One,oow18,"[{'fileId': '1542406396165001BZTm', 'filename'...",120,[{'speakerId': '145746945596900156Hr_150393630...,[],"[{'sessionTimeID': '1535558709502001Bd4T', 'se...",...,N,N,N,"[Core Java Platform, Development Tools]",1,1.0,298,Tuesday,Moscone West - Room 2011,08:45
2328,"This session discusses asynchronous, nonblocki...","[{'value': 'Intermediate', 'attributevalue_id'...",TUT5544,Oracle Code One,oow18,"[{'fileId': '154038926405800160jL', 'filename'...",120,[{'speakerId': '145746961848600154KH_150393630...,None,"[{'sessionTimeID': '1535410601734001BG6X', 'se...",...,N,N,N,"[Containers, Serverless, and Cloud]",2,1.0,289,Tuesday,Moscone West - Room 2022,08:45

In [425]:
#Drop duplicates - identifying rows by their code
ss.drop_duplicates(subset=['code'], keep='first', inplace=True)

#Persist Pandas Dataframe

One thing we want to be able to do with the data we gather, is to persist it for future use. We could store the data in a NoSQL database, a cloud storage service or simply as a local file. For now, let's do the latter: store the cleansed and reshaped data in a local JSON file for further enrichment, visualization and machine learning purposes.

In [426]:
ss.to_json("oow2018-sessions-wrangled.json", force_ascii=False)

In [427]:
dubss = pd.read_json("oow2018-sessions-wrangled.json")
dubss

,Advanced,All,Beginner,Groundbreaker Ambassador,Intermediate,JavaOne Rockstar,Oracle ACE Director,Oracle Java Champion,abstract,attributevalues,...,room,room_capacity,speaker_count,sponsors,time,times,title,title_sort,track,type
0,Y,N,Y,N,Y,N,N,N,What if you could benefit from new database qu...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 3009,308.0,3,None,11:15,"[{'sessionTimeID': '1532616475210001usPa', 'se...",A Database Proxy for Transparent High Availabi...,adatabaseproxyfortransparenthi,"[- Application Development, Oracle Cloud Platf...",Product Training Session
1,Y,N,Y,N,Y,N,N,N,How does a real-world performance engineer int...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 3004,313.0,2,None,15:45,"[{'sessionTimeID': '1531945554973001z4Hi', 'se...",A Day in the Life of a Real-World Performance ...,adayinthelifeofarealworldperfo,"[- Application Development, Oracle Cloud Platf...",Product Training Session
10,Y,N,Y,N,Y,Y,N,N,In this session learn how to make client data ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 3002,314.0,1,None,15:45,"[{'sessionTimeID': '1535610677698001BB58', 'se...",Providing High Availability of Data by Using C...,providinghighavailabilityofdat,[],Product Training Session
100,N,N,N,N,N,N,N,N,In this session learn how to transfer your st...,"[{'value': 'Product Training Session', 'attrib...",...,The Exchange @ Moscone South - OU Mini Theater,75.0,1,None,16:25,"[{'sessionTimeID': '15381128815670018LA1', 'se...",How to Transfer Storage to Oracle Storage,howtotransferstoragetooraclest,[],Product Training Session
1000,Y,N,N,N,Y,N,N,Y,With Java Flight Recorder (JFR) and Java Missi...,"[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2024,283.0,1,None,11:30,"[{'sessionTimeID': '15355059853370011rXS', 'se...",Three Productive Ways to Use Open Source Java ...,threeproductivewaystouseopenso,"[Developer Community, Development Tools, Java ...",Developer Session
1002,N,N,N,N,Y,N,N,N,Failure is not an option in services that need...,"[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2010,243.0,2,None,12:00,"[{'sessionTimeID': '1535566931714001Bodf', 'se...",Three Resilience Patterns Out of the Box with ...,threeresiliencepatternsoutofth,[Java Server-Side Development and Microservices],Developer Session
1005,N,N,Y,N,N,N,Y,N,One of the most important factors influencing ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 2005,280.0,3,None,14:00,"[{'sessionTimeID': '1535417091221001BkmK', 'se...",Tracking Spare Parts with Blockchain Featuring...,trackingsparepartswithblockcha,"[Containers, Serverless, and Cloud, Database, ...",Developer Session
1006,N,N,N,N,Y,N,N,N,The long-awaited Transport Layer Security (TLS...,"[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2004,285.0,2,None,11:30,"[{'sessionTimeID': '1536180227506001xIyD', 'se...",Transport Layer Security (TLS) v1.3 support in...,transportlayersecuritytlsv13su,[Core Java Platform],Developer Session
1007,N,N,N,N,Y,Y,N,N,"Apart from the Java heap and the metaspace, wh...","[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2008,303.0,1,None,09:00,"[{'sessionTimeID': '1535488178716001Bb9j', 'se...",Troubleshooting Native Memory Leaks in Java Ap...,troubleshootingnativememorylea,"[Containers, Serverless, and Cloud, Core Java ...",Developer Session
1008,N,N,Y,N,N,N,N,N,Planning to build microservices? The best prac...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 2003,280.0,1,[],13:30,"[{'sessionTimeID': '15355648119050012ZTw', 'se...",Build a 12-Factor Microservice with MicroProfile,builda12factormicroservicewith,"[Java Ecosystem, Java Server-Side Development ...",Developer Session
1009,Y,N,N,Y,N,Y,N,Y,"With the release of Java 9, our beloved mostly...","[{'value': 'Advanced', 'attributevalue_id': '1...",...,Moscone West - Room 2005,280.0,1,None,13:30,"[{'sessionTimeID': '1536182335297001xDIa', 'se...",Tuning G1G,tuningg1g,[Core Java Platform],Developer Session
101,Y,N,Y,N,Y,N,N,N,In this session join development and product m...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Marriott Marquis (Golden Gate Level) - Golden ...,94.0,3,None,12:00,"[{'sessionTimeID': '15343996004640012QHh', 'se...",Ask the Oracle Analytics Product Management an...,asktheoracleanalyticsproductma,"[Oracle Cloud Platform, - Business Intelligenc...",Product Training Session
1010,Y,N,N,N,Y,N,N,N,Embracing microservice architecture in a new p...,"[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2008,303.0,2,None,16:00,"[{'sessionTimeID': '153549490208800119By', 'se...","Turning Maven into a Highly Scalable, Resource...",turningmavenintoahighlyscalabl,"[Containers, Serverless, and Cloud, Developer ...",Developer Session
1011,N,N,N,Y,Y,N,N,N,Application development in the cloud has alrea...,"[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2006,303.0,1,None,10:30,"[{'sessionTimeID': '15354229880710012nHQ', 'se...",Turning Your Java EE App Cloud-Native,turningyourjavaeeappcloudnativ,"[Containers, Serverless, and Cloud, Java Ecosy...",Developer Session
1012,N,N,N,N,Y,Y,N,Y,We all have seen our share of bad code and som...,"[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2003,280.0,1,None,14:30,"[{'sessionTimeID': '15355659529030011WBH', 'se...",Twelve Ways to Make Code Suck Less,twelvewaystomakecodesuckless,[Development Tools],Developer Session
1013,N,N,N,N,Y,Y,N,Y,"Java 10 has local variable type inference, but...","[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2004,285.0,1,None,13:30,"[{'sessionTimeID': '1536180457202001YqTz', 'se...",Type Inference: Friend or Foe,typeinferencefriendorfoe,[Core Java Platform],Developer Session
1014,N,N,Y,N,Y,N,N,Y,"The selection of the right toolset to develop,...","[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 2003,280.0,2,None,14:00,"[{'sessionTimeID': '15355689154530011ov2', 'se...",Type-Safe Approach to Invoking RESTful Service...,typesafeapproachtoinvokingrest,"[Emerging Technologies, Java Ecosystem, Java S...",Developer Session
1015,N,N,N,N,Y,N,N,N,Is it possible to create and consume a standar...,"[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2020,301.0,2,None,09:00,"[{'sessionTimeID': '15355636398080012YbK', 'se...",Ultralow Latency with Java 11 and Terabytes of...,ultralowlatencywithjava11andte,[Development Tools],Developer Session
1016,Y,N,Y,N,Y,N,N,N,Coming into a GDPR-project where youâ€™re suppos...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 2001,298.0,1,None,10:30,"[{'sessionTimeID': '1535497028706001BbNf', 'se...",Unknown PL/SQL Code? Use PL/Scope to Gain Control,unknownplsqlcodeuseplscopetoga,"[Database, Big Data, and Data Science]",Developer Session
1017,N,N,Y,N,Y,N,N,N,Intel and Oracle have been collaborating to co...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 2004,285.0,2,[],09:00,"[{'sessionTimeID': '15361800990440013L6T', 'se...",Up and Away: JDK Optimizations Beyond JDK 9,upandawayjdkoptimizationsbeyon,[Core Java Platform],Developer Session
1018,N,N,N,N,Y,N,N,Y,Be honest: you don't want to learn another fra...,"[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2008,303.0,2,None,09:00,"[{'sessionTimeID': '1535495552252001BiJW', 'se...",Use Your Favorite Language in the Cloud with S...,useyourfavoritelanguageinthecl,"[Containers, Serverless, and Cloud, Developer ...",Developer Session
1019,N,N,N,N,Y,N,Y,N,With just a web browser and minimal coding ski...,"[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2001,298.0,1,None,09:00,"[{'sessionTimeID': '15354224379650011CSC', 'se...",Build a Front-End Application in 45 Minutes,buildafrontendapplicationin45m,"[Database, Big Data, and Data Science, Develop...",Developer Session
102,N,N,N,N,N,N,N,N,In this session get an overview of the compone...,"[{'value': 'Product Training Session', 'attrib...",...,The Exchange @ Moscone South - OU Mini Theater,75.0,1,None,13:15,"[{'sessionTimeID': '1538112768805001MlTd', 'se...",How to Understand the Components and Workflow ...,howtounderstandthecomponentsan,[],Product Training Session
1021,N,N,N,N,Y,N,N,N,Java 8 introduced java.util.concurrent.Complet...,"[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2005,280.0,2,None,12:00,"[{'sessionTimeID': '15361841396010013zs1', 'se...",Using Java CompletionStage in Asynchronous Pro...,usingjavacompletionstageinasyn,[Core Java Platform],Developer Session
1023,N,N,N,N,Y,N,N,Y,"A few years ago, moving data between applicati...","[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2008,303.0,1,None,12:00,"[{'sessionTimeID': '153549570381200123FD', 'se...",Using Open Source Tech to Swap Out Components ...,usingopensourcetechtoswapoutco,"[Containers, Serverless, and Cloud, Developmen...",Developer Session
1024,N,N,Y,N,N,Y,N,N,Java 10 introduced a feature called local vari...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 2004,285.0,1,None,12:30,"[{'sessionTimeID': '15361807418530013PiH', 'se...",Var with Style: Local Variable Type Inference ...,varwithstylelocalvariabletypei,[Core Java Platform],Developer Session
1025,Y,N,N,N,Y,Y,N,N,Machine learning and big data applications are...,"[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2005,280.0,2,[],13:30,"[{'sessionTimeID': '15361827183470013DVL', 'se...",Vector API for Java,vectorapiforjava,"[Core Java Platform, Featured Customers]",Developer Session
1026,N,N,N,N,Y,Y,N,N,GC logs contain very useful information about ...,"[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2018,289.0,1,None,09:00,"[{'sessionTimeID': '15355020542730011SZ5', 'se...",Visualizing and Analyzing GC Logs with R,visualizingandanalyzinggclogsw,"[Core Java Platform, Emerging Technologies]",Developer Session
1027,Y,N,Y,N,Y,N,N,N,"Although itâ€™s very popular, the JavaScript/HTM...","[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 2011,298.0,1,None,11:30,"[{'sessionTimeID': '15355715337180011adc', 'se...",Visualizing JavaScript Development: Making JS ...,visualizingjavascriptdevelopme,"[Development Tools, Modern Web]",Developer Session
1028,N,N,Y,Y,N,Y,N,Y,Vue.js is described as a â€œprogressive web fram...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 2007,280.0,1,[],16:00,"[{'sessionTimeID': '15354253878290012rW3', 'se...",Vue.js: Power and Flexiblity,vuejspowerandflexiblity,[Modern Web],Developer Session
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,N,N,Y,Y,Y,N,Y,N,"After his first steps into robotics and IoT, t...","[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 2011,298.0,1,None,10:30,"[{'sessionTimeID': '15354202717350011PKP', 'se...","Talk to Me, Goose: Going Beyond Your Regular C...",talktomegoosegoingbeyondyourre,[Emerging Technologies],Developer Session
972,N,N,Y,N,N,Y,N,Y,TDD is one of the most popular techniques for ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 2018,289.0,2,[],13:30,"[{'sessionTimeID': '15355017331770011F2y', 'se...",TDD: From Java to Go and Back Again,tddfromjavatogoandbackagain,"[Core Java Platform, Development Tools, Emergi...",Developer Session
973,N,N,Y,N,N,N,N,Y,Learning to program can be fun and rewarding f...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 2022,289.0,1,None,13:30,"[{'sessionTimeID': '15355053579370012Gd3', 'se...",Teaching the Next Generation of Kids to Progra...,teachingthenextgenerationofkid,[Developer Community],Developer Session
974,Y,N,Y,N,Y,N,N,N,As AI-based chatbots continue to grow in popul...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 2010,243.0,2,None,10:30,"[{'sessionTimeID': '15354209826060012cOm', 'se...",Ten Commandments of Delivering Enterprise-Grad...,tencommandmentsofdeliveringent,"[Emerging Technologies, Featured Customers]",Developer Session
975,Y,N,Y,N,Y,N,N,N,Blockchain will dramatically change healthcare...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 2012,149.0,3,None,11:00,"[{'sessionTimeID': '1536682366308001fRoz', 'se...",Blockchain Breathes New Life into the Medical ...,blockchainbreathesnewlifeintot,[Emerging Technologies],Developer Session
976,N,N,N,Y,Y,N,N,N,"In Java 8, functional-style programming was in...","[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2005,280.0,1,None,09:00,"[{'sessionTimeID': '15361820915990013Rqk', 'se...",Ten Common Mistakes Made in Functional Java,tencommonmistakesmadeinfunctio,[Core Java Platform],Developer Session
977,N,N,Y,N,N,N,N,Y,With support for every major browser (includin...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 2024,283.0,1,None,13:30,"[{'sessionTimeID': '1535475331251001BPZj', 'se...","Test Automation with Selenium WebDriver, Java,...",testautomationwithseleniumwebd,"[Development Tools, Modern Web]",Developer Session
978,Y,N,N,N,N,Y,N,Y,A microservices architecture has many benefits...,"[{'value': 'Advanced', 'attributevalue_id': '1...",...,Moscone West - Room 2001,298.0,1,None,13:30,"[{'sessionTimeID': '15355647239610011KCt', 'se...",Testing Distributed Systems in Production,testingdistributedsystemsinpro,[Java Server-Side Development and Microservices],Developer Session
979,Y,N,Y,N,Y,Y,N,Y,Testing microservices is challenging. Dividing...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 2020,301.0,2,None,11:00,"[{'sessionTimeID': '15355656280190012zr0', 'se...",Testing Java Microservices: From Development t...,testingjavamicroservicesfromde,[Java Server-Side Development and Microservices],Developer Session
98,N,N,N,N,N,N,N,N,In this session learn how to set up patch mana...,"[{'value': 'Product Training Session', 'attrib...",...,The Exchange @ Moscone South - OU Mini Theater,75.0,1,None,15:30,"[{'sessionTimeID': '15381125049510018fYh', 'se...",How to Set Up Patch Management,howtosetuppatchmanagement,[],Product Training Session
980,N,N,Y,Y,N,N,N,N,Are you a Java developer whoâ€™s curious about f...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 2010,243.0,1,None,09:00,"[{'sessionTimeID': '1535419636817001BD1A', 'se...",The Diabolical Developerâ€™s Intro to Function a...,thediabolicaldevelopersintroto,"[Containers, Serverless, and Cloud]",Developer Session
981,Y,N,Y,N,Y,N,N,N,"With the growing adoption of microservices, or...","[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 2020,301.0,1,None,12:30,"[{'sessionTimeID': '15355671154420011cMn', 'se...",The Diamond Model: A Sane Approach to Microser...,thediamondmodelasaneapproachto,"[DevOps and Pipelines, Development Tools, Java...",Developer Session
982,N,N,Y,N,N,Y,N,N,With the new late binding of features to a rel...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 2004,285.0,2,None,09:00,"[{'sessionTimeID': '15361815176030013SRc', 'se...",The Future of Java SE,thefutureofjavase,[Core Java Platform],Developer Session
983,N,N,N,N,Y,Y,N,Y,"The next iteration of Java Message Service, te...","[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2016,301.0,2,None,13:30,"[{'sessionTimeID': '15355689967320011RNo', 'se...",The Future of JMS 3.0,thefutureofjms30,"[Emerging Technologies, Java Ecosystem, Java S...",Developer Session
985,N,N,Y,N,N,N,N,N,Letâ€™s Go! See why the Go language has been gai...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 2001,298.0,2,None,12:30,"[{'sessionTimeID': '15354970760940011Uwh', 'se...",The Go Language: Principles and Practices for ...,thegolanguageprinciplesandprac,"[Database, Big Data, and Data Science]",Developer Session
986,N,N,Y,Y,Y,Y,N,Y,Swing has been the standard for Java client UI...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 2016,301.0,2,None,14:30,"[{'sessionTimeID': '1535567115436001Bz6e', 'se...",Bridging Swing and JavaFX on an Enterprise Scale,bridgingswingandjavafxonanente,[Java Ecosystem],Developer Session
987,N,N,Y,Y,N,Y,N,Y,"In this session, the two speakers take turns p...","[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 2014,285.0,2,None,10:30,"[{'sessionTimeID': '1535571370808001BBgc', 'se...",The Good Cop/Bad Cop Guide to Java (up to 11 N...,thegoodcopbadcopguidetojavaupt,[Core Java Platform],Developer Session
988,N,N,N,N,Y,N,N,N,Injection is the all-time #1 security vulnerab...,"[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2016,301.0,1,None,10:30,"[{'sessionTimeID': '15354978030100012gkt', 'se...",The Hackerâ€™s Guide to NoSQL Injection,thehackersguidetonosqlinjectio,"[Database, Big Data, and Data Science]",Developer Session
989,N,N,N,N,Y,N,N,N,Cross-site scripting (XSS) is among the most ...,"[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2016,301.0,1,None,09:00,"[{'sessionTimeID': '1535562718978001B6Oo', 'se...",The Hackerâ€™s Guide to XSS,thehackersguidetoxss,[Modern Web],Developer Session
99,N,N,N,N,N,N,N,N,In this session learn how to set up revenue pr...,"[{'value': 'Product Training Session', 'attrib...",...,The Exchange @ Moscone South - OU Mini Theater,75.0,1,None,13:15,"[{'sessionTimeID': '1538112477476001PxoX', 'se...",How to Set Up Revenue Price Profiles,howtosetuprevenuepriceprofiles,[],Product Training Session
990,Y,N,Y,N,Y,N,N,N,Do you remember last yearâ€™s JavaOne? Several J...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 2022,289.0,1,None,09:00,"[{'sessionTimeID': '15355047378340012OhT', 'se...",The Japanese Java Community and Engineers,thejapanesejavacommunityandeng,[Developer Community],Developer Session
991,N,N,Y,N,N,N,N,N,"In theory, the idea of having infrastructure t...","[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 2011,298.0,1,None,16:00,"[{'sessionTimeID': '1535420621179001Bgdg', 'se...",The Myth of Cloud Agnosticism,themythofcloudagnosticism,[DevOps and Pipelines],Developer Session
992,N,N,N,N,Y,N,N,N,"The new HTTP Client API, incubated in JDK 9 an...","[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2004,285.0,1,None,16:00,"[{'sessionTimeID': '15361809126230013KYX', 'se...",The New HTTP Client API in Java 11,thenewhttpclientapiinjava11,[Core Java Platform],Developer Session
993,Y,N,N,Y,Y,Y,N,Y,So many cool new technologies at the conferenc...,"[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2022,289.0,2,None,09:00,"[{'sessionTimeID': '1535505450519001BtTg', 'se...",The One Skill Developers Need to Design Their ...,theoneskilldevelopersneedtodes,[Developer Community],Developer Session
994,N,N,N,N,Y,N,N,N,Microservices as an architectural approach has...,"[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2008,303.0,1,[],12:30,"[{'sessionTimeID': '1535488571827001BLu1', 'se...",There and Back Again: A Microservices Tale,thereandbackagainamicroservice,"[Containers, Serverless, and Cloud, Core Java ...",Developer Session
995,N,N,N,Y,Y,N,Y,N,There is no doubt that web APIs have become a ...,"[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2020,301.0,1,[],16:00,"[{'sessionTimeID': '15355678784210011c3m', 'se...",The Seven Deadly Sins of API Design,thesevendeadlysinsofapidesign,"[Development Tools, Emerging Technologies, Mod...",Developer Session