# Retrieving raw JSON data for Oracle OpenWorld & CodeOne Session Catalog into local JSON Files

The session catalog data is available from a REST API whose root is https://events.rainfocus.com/api/search.

A typical call to this API uses Headers (rfwidgetid: 'KKA8rC3VuZo5clh8gX5Aq07XFonUTLyU',rfapiprofileid: 'uGiII5rYGOjoHXOZx0ch4r7f1KzFC0zd') and Form values to retrieve specific session information.

In [4]:
import requests
import pandas as pd
import json
url = "https://events.rainfocus.com/api/search" # rooturl for session catalog
#headers required in each API call
querystring = {"search.sessiontype":"1518466139979001dQkv"} #session type corresponds to BOF

payload = "------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"size\"\r\n\r\n50\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"type\"\r\n\r\nsession\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW--"
headers = {
    'content-type': "multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW",
    'rfapiprofileid': "uGiII5rYGOjoHXOZx0ch4r7f1KzFC0zd",
    'rfwidgetid': "KKA8rC3VuZo5clh8gX5Aq07XFonUTLyU",
    'cache-control': "no-cache"
}
# OOW
OOW_rfapiprofileid ="K9HkkU5es180AVTifYUgYembIKJ15CMM"
OOW_rfwidgetid= "VEsNDADSTFH5azU4dH1QslO3lhpQTy4U"

# CodeOne
CodeOne_rfapiprofileid= "uGiII5rYGOjoHXOZx0ch4r7f1KzFC0zd"
CodeOne_rfwidgetid =  "KKA8rC3VuZo5clh8gX5Aq07XFonUTLyU"

Data should be collected for all session types. The list of session types is shown  below :

In [5]:
sessionTypes =  {'BOF': '1518466139979001dQkv'
    , 'BQS': 'bqs'
    , 'BUS': '1519240082595001EpMm'
    , 'CAS': 'casestudy'
    , 'DEV': '1522435540042001BxTD'
    , 'ESS': 'ess'
    , 'FLP': 'flp'
    , 'GEN': 'general'
    , 'HOL': 'hol'
    , 'HOM': 'hom'
    , 'IGN': 'ignite'
    , 'KEY': 'option_1508950285425'
    , 'MTE':'1523906206279002QAu9'
    , 'PKN': '1527614217434001RBfj'
    , 'PRO': '1518464344082003KVWZ'
    , 'PRM': '1518464344082002KM3k'
    , 'TRN': '1518464344082001KHky'
    , 'SIG': 'sig'
    , 'THT': 'ts'
    , 'TLD': '1537894888625001RriS'
    , 'TIP': '1517517756579001F3CR'
    , 'TUT': 'tutorial'
    , 'TRN': '1518464344082001KHky'
                }
                
print("Mapping of Session Type to header-code", sessionTypes)

Mapping of Session Type to header-code {'BOF': '1518466139979001dQkv', 'BQS': 'bqs', 'BUS': '1519240082595001EpMm', 'CAS': 'casestudy', 'DEV': '1522435540042001BxTD', 'ESS': 'ess', 'FLP': 'flp', 'GEN': 'general', 'HOL': 'hol', 'HOM': 'hom', 'IGN': 'ignite', 'KEY': 'option_1508950285425', 'MTE': '1523906206279002QAu9', 'PKN': '1527614217434001RBfj', 'PRO': '1518464344082003KVWZ', 'PRM': '1518464344082002KM3k', 'TRN': '1518464344082001KHky', 'SIG': 'sig', 'THT': 'ts', 'TLD': '1537894888625001RriS', 'TIP': '1517517756579001F3CR', 'TUT': 'tutorial'}

In [6]:
def loadSessionDataForSessionType(key,sessionType):
    print("loading data for session type: ", key)
    querystring = {"search.sessiontype":sessionType} #session type corresponds to BOF
    response = requests.request("POST", url, data=payload, headers=headers, params=querystring)
    tempDict = json.loads(response.text)
    sl= tempDict ["sectionList"][0]
    #the JSON object is converted to a Dict; this Dict contains scalar values such as strings and more complex values such as Arrarys and nested Dicts)
    sessions = sl["items"]
    ss = pd.DataFrame(sessions)
    return ss;

In [9]:
#loop over all session types and invoke function loadSessionDataForSessionType
print("Loading CodeOne details")
headers['rfapiprofileid'] = CodeOne_rfapiprofileid
headers['rfwidgetid'] = CodeOne_rfwidgetid
for key, value in sessionTypes.items():
    ss = loadSessionDataForSessionType(key, value)
    ss.to_json("oow2018-sessions_codeone_{0}.json".format(key), force_ascii=False)

print("Loading OOW details")
headers['rfapiprofileid'] = OOW_rfapiprofileid
headers['rfwidgetid'] = OOW_rfwidgetid
for key, value in sessionTypes.items():
    ss = loadSessionDataForSessionType(key, value)
    ss.to_json("oow2018-sessions_oow_{0}.json".format(key), force_ascii=False)

Loading CodeOne details
loading data for session type:  BOF
loading data for session type:  BQS
loading data for session type:  BUS
loading data for session type:  CAS
loading data for session type:  DEV
loading data for session type:  ESS
loading data for session type:  FLP
loading data for session type:  GEN
loading data for session type:  HOL
loading data for session type:  HOM
loading data for session type:  IGN
loading data for session type:  KEY
loading data for session type:  MTE
loading data for session type:  PKN
loading data for session type:  PRO
loading data for session type:  PRM
loading data for session type:  TRN
loading data for session type:  SIG
loading data for session type:  THT
loading data for session type:  TLD
loading data for session type:  TIP
loading data for session type:  TUT
Loading OOW details
loading data for session type:  BOF
loading data for session type:  BQS
loading data for session type:  BUS
loading data for session type:  CAS
loading data for session type:  DEV
loading data for session type:  ESS
loading data for session type:  FLP
loading data for session type:  GEN
loading data for session type:  HOL
loading data for session type:  HOM
loading data for session type:  IGN
loading data for session type:  KEY
loading data for session type:  MTE
loading data for session type:  PKN
loading data for session type:  PRO
loading data for session type:  PRM
loading data for session type:  TRN
loading data for session type:  SIG
loading data for session type:  THT
loading data for session type:  TLD
loading data for session type:  TIP
loading data for session type:  TUT

Below is the result of making a request for session details. The really interesting stuff is hidden in the first element of the sectionList array.

In [10]:
import pathlib

# define the path
currentDirectory = pathlib.Path('.')

for currentFile in currentDirectory.iterdir():  
    print(currentFile)

oow2018-sessions_codeone_PKN.json
oow2018-sessions_oow_ESS.json
oow2018-sessions_codeone_PRO.json
oow2018-sessions_oow_TIP.json
OOW2018 Session Catalog - retrieving raw session data in JSON files.ipynb
oow2018-sessions_oow_THT.json
.ipynb_checkpoints
oow2018-sessions_codeone_DEV.json
oow2018-sessions_codeone_BOF.json
oow2018-sessions_codeone_BUS.json
oow2018-sessions_codeone_MTE.json
oow2018-sessions_oow_PKN.json
oow2018-sessions_codeone_PRM.json
oow2018-sessions_codeone_TLD.json
oow2018-sessions_oow_PRM.json
oow2018-sessions_codeone_HOL.json
oow2018-sessions_codeone_KEY.json
oow2018-sessions_oow_TRN.json
oow2018-sessions_oow_HOM.json
oow2018-sessions_codeone_BQS.json
oow2018-sessions_oow_TLD.json
oow2018-sessions_codeone_TRN.json
oow2018-sessions_oow_KEY.json
oow2018-sessions_codeone_ESS.json
oow2018-sessions.json
oow2018-sessions_oow_CAS.json
oow2018-sessions_oow_FLP.json
oow2018-sessions_oow_BQS.json
OOW2018 Session Catalog - retrieving raw session data.ipynb
oow2018-sessions_codeone_TIP.json
oow2018-sessions_codeone_CAS.json
oow2018-sessions_oow_HOL.json
oow2018-sessions_oow_BOF.json
oow2018-sessions_codeone_THT.json
oow2018-sessions_oow_MTE.json
OOW2018 Session Catalog - Explorations.ipynb
oow2018-sessions_codeone_TUT.json
oow2018-sessions_oow_PRO.json
oow2018-sessions_oow_DEV.json
oow2018-sessions_codeone_GEN.json
oow2018-sessions_oow_TUT.json
oow2018-sessions_codeone_SIG.json
oow2018-sessions_codeone_IGN.json
oow2018-sessions_oow_GEN.json
oow2018-sessions-bof.json
oow2018-sessions_codeone_FLP.json
oow2018-sessions_oow_BUS.json
oow2018-sessions_codeone_HOM.json
oow2018-sessions_oow_IGN.json
oow2018-sessions_oow_SIG.json

In [12]:
#as a test, try to load data from one of the generated files 
dubss = pd.read_json("oow2018-sessions_oow_TRN.json")
dubss

,abbreviation,abstract,allowDoubleBooking,attributevalues,code,codeParts,code_id,es_metadata_id,event,eventCode,...,type_displayorder,type_displayorder_string,useDoubleBooking,useWaitingList,videos,viewAccess,viewAccessPublic,viewFileAccess,waitlistAccess,waitlistLimit
0,TRN4070,What if you could benefit from new database qu...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4070,"{'alpha0': 'TRN', 'numeric1': '4070'}",trn4070,1523650128750001VI1i,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
1,TRN4026,How does a real-world performance engineer int...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4026,"{'alpha0': 'TRN', 'numeric1': '4026'}",trn4026,1523576222383001pdRl,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
10,TRN4567,Understand the tools and techniques available ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4567,"{'alpha0': 'TRN', 'numeric1': '4567'}",trn4567,1524514304383001hANs,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
11,TRN6620,This session covers the best practices for per...,0,"[{'value': 'Product Training Session', 'attrib...",TRN6620,"{'alpha0': 'TRN', 'numeric1': '6620'}",trn6620,1536229519095001xpnW,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
12,TRN4782,Should you refresh your current x86 hardware a...,0,"[{'value': 'Product Training Session', 'attrib...",TRN4782,"{'alpha0': 'TRN', 'numeric1': '4782'}",trn4782,1525201315264001Q57I,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
13,TRN1795,Oracle Linux 7 offers the ability to natively ...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN1795,"{'alpha0': 'TRN', 'numeric1': '1795'}",trn1795,1521584393410001jJxz,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
14,TRN4081,Real-time data is an increasingly popular topi...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4081,"{'alpha0': 'TRN', 'numeric1': '4081'}",trn4081,1523652232625001KxHD,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
15,TRN5774,Enterprises need to rapidly react to the chang...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5774,"{'alpha0': 'TRN', 'numeric1': '5774'}",trn5774,1526173783263001pwyK,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
16,TRN5777,Digital assistant and chatbot support for any ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5777,"{'alpha0': 'TRN', 'numeric1': '5777'}",trn5777,1526178982547001cT4x,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
17,TRN5792,Do you wish Oracle Digital Assistant could ask...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5792,"{'alpha0': 'TRN', 'numeric1': '5792'}",trn5792,1526263337829001cLQF,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
18,TRN4568,In this session learn how to implement and use...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4568,"{'alpha0': 'TRN', 'numeric1': '4568'}",trn4568,1524514522390001dt1A,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
19,TRN6615,In this session learn how to set up a simple r...,0,"[{'value': 'Product Training Session', 'attrib...",TRN6615,"{'alpha0': 'TRN', 'numeric1': '6615'}",trn6615,1536229518365001xr6g,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
2,TRN4631,This session takes a deep dive into how the Or...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4631,"{'alpha0': 'TRN', 'numeric1': '4631'}",trn4631,1524589840877001mdKy,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
20,TRN6616,In this session learn how to shape enterprise ...,0,"[{'value': 'Product Training Session', 'attrib...",TRN6616,"{'alpha0': 'TRN', 'numeric1': '6616'}",trn6616,1536229518524001xOAR,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
21,TRN6154,The word “integration” has always conjured up ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6154,"{'alpha0': 'TRN', 'numeric1': '6154'}",trn6154,1527101771724001fyyh,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
22,TRN5157,Consolidating databases requires configuring t...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5157,"{'alpha0': 'TRN', 'numeric1': '5157'}",trn5157,1525883960936001hOlX,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
23,TRN6461,This four-hour session will provide an overvie...,0,"[{'value': 'Product Training Session', 'attrib...",TRN6461,"{'alpha0': 'TRN', 'numeric1': '6461'}",trn6461,1533296972502001hjO2,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
24,TRN6458,In this four-hour session learn how to meet yo...,0,"[{'value': '- Integration', 'attributevalue_id...",TRN6458,"{'alpha0': 'TRN', 'numeric1': '6458'}",trn6458,1533296972098001hW6u,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
25,TRN6463,This four-hour session covers secure coding be...,0,"[{'value': 'Product Training Session', 'attrib...",TRN6463,"{'alpha0': 'TRN', 'numeric1': '6463'}",trn6463,1533296972761001hvsN,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
26,TRN6460,In this four-hour session learn about Oracle B...,0,"[{'value': 'Product Training Session', 'attrib...",TRN6460,"{'alpha0': 'TRN', 'numeric1': '6460'}",trn6460,1533296972366001hvbt,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
27,TRN6462,In this session take a deep-dive into the late...,0,"[{'value': 'Product Training Session', 'attrib...",TRN6462,"{'alpha0': 'TRN', 'numeric1': '6462'}",trn6462,1533296972632001hQFL,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
28,TRN6459,In this four-hour session learn how to use the...,0,"[{'value': 'Product Training Session', 'attrib...",TRN6459,"{'alpha0': 'TRN', 'numeric1': '6459'}",trn6459,1533296972233001h2qF,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
29,TRN4096,Developers are under increasing pressure to d...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4096,"{'alpha0': 'TRN', 'numeric1': '4096'}",trn4096,1523654165761001O6rW,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
3,TRN3979,Who says setting up and operating mission crit...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN3979,"{'alpha0': 'TRN', 'numeric1': '3979'}",trn3979,1523249994892001tVzz,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
30,TRN6451,RESTful web services are gaining popularity be...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6451,"{'alpha0': 'TRN', 'numeric1': '6451'}",trn6451,1533153452046001TCWu,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
31,TRN6619,This session covers how to use Lambda Expressi...,0,"[{'value': 'Product Training Session', 'attrib...",TRN6619,"{'alpha0': 'TRN', 'numeric1': '6619'}",trn6619,1536229518955001xd8d,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
32,TRN6356,Take advantage of the free SaaS application tr...,0,"[{'value': 'Product Training Session', 'attrib...",TRN6356,"{'alpha0': 'TRN', 'numeric1': '6356'}",trn6356,15321279150520012lS8,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
33,TRN1743,"Hardware is cheap, the cloud is here, and reso...",0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN1743,"{'alpha0': 'TRN', 'numeric1': '1743'}",trn1743,1521566926420001ErhG,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
34,TRN4086,Oracle Database brings unprecedented high avai...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4086,"{'alpha0': 'TRN', 'numeric1': '4086'}",trn4086,1523652867452001fmnB,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
35,TRN4106,Encrypting sensitive data has become a must in...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4106,"{'alpha0': 'TRN', 'numeric1': '4106'}",trn4106,1523674440886001eVbL,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
36,TRN6963,Integrating Oracle Fusion Applications such as...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6963,"{'alpha0': 'TRN', 'numeric1': '6963'}",trn6963,1538758498611001RBJV,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
37,TRN6618,This session explores how to quickly add a RES...,0,"[{'value': 'Product Training Session', 'attrib...",TRN6618,"{'alpha0': 'TRN', 'numeric1': '6618'}",trn6618,1536229518815001xCqF,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
38,TRN6617,"In this session learn how to filter, compute, ...",0,"[{'value': 'Product Training Session', 'attrib...",TRN6617,"{'alpha0': 'TRN', 'numeric1': '6617'}",trn6617,1536229518666001xW1J,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
39,TRN4088,DevOps has become a common practice in the IT ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4088,"{'alpha0': 'TRN', 'numeric1': '4088'}",trn4088,15236532902550010MO8,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
4,TRN6446,Oracle Approvals Management is a highly extens...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6446,"{'alpha0': 'TRN', 'numeric1': '6446'}",trn6446,1533151030443001fXL7,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
40,TRN4499,In this session learn how to unlock even more ...,0,"[{'value': 'Advanced', 'attributevalue_id': '1...",TRN4499,"{'alpha0': 'TRN', 'numeric1': '4499'}",trn4499,1524383723620001yLva,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
41,TRN4095,Oracle technologies make it easy to include lo...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4095,"{'alpha0': 'TRN', 'numeric1': '4095'}",trn4095,1523654117819001O4x1,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
42,TRN4082,How do you get started using Visual Studio to ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4082,"{'alpha0': 'TRN', 'numeric1': '4082'}",trn4082,1523652330881001pJVZ,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
43,TRN4032,Do you need global availability and scalabilit...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4032,"{'alpha0': 'TRN', 'numeric1': '4032'}",trn4032,1523580486933001BeDM,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
44,TRN4099,In this session gain new insights into your an...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4099,"{'alpha0': 'TRN', 'numeric1': '4099'}",trn4099,1523655277489001m9pi,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
45,TRN6511,In this session learn how to apply policies to...,0,"[{'value': 'Product Training Session', 'attrib...",TRN6511,"{'alpha0': 'TRN', 'numeric1': '6511'}",trn6511,15342556258820018kgU,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
46,TRN1918,During this deep-dive session learn how to bui...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN1918,"{'alpha0': 'TRN', 'numeric1': '1918'}",trn1918,1521635484691001CmT7,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
47,TRN6520,In this session learn how to combine data from...,0,"[{'value': 'Product Training Session', 'attrib...",TRN6520,"{'alpha0': 'TRN', 'numeric1': '6520'}",trn6520,153425562711200186T0,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
48,TRN6522,In this session learn how to create a user-man...,0,"[{'value': 'Product Training Session', 'attrib...",TRN6522,"{'alpha0': 'TRN', 'numeric1': '6522'}",trn6522,15342556273860018WtJ,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
49,TRN6516,In this session learn how to create a web appl...,0,"[{'value': 'Product Training Session', 'attrib...",TRN6516,"{'alpha0': 'TRN', 'numeric1': '6516'}",trn6516,15342556265770018lWA,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
5,TRN4078,Make your applications run without interruptio...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4078,"{'alpha0': 'TRN', 'numeric1': '4078'}",trn4078,1523651831516001Bgvj,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
6,TRN6352,In this session learn how to meet your applica...,0,"[{'value': 'Product Training Session', 'attrib...",TRN6352,"{'alpha0': 'TRN', 'numeric1': '6352'}",trn6352,15321279145360012ViL,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
7,TRN6168,In this session join development and product m...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN6168,"{'alpha0': 'TRN', 'numeric1': '6168'}",trn6168,1527206231045001JiNQ,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
8,TRN4162,In this session learn how to enable the autono...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4162,"{'alpha0': 'TRN', 'numeric1': '4162'}",trn4162,1523842112107001Ac1K,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
9,TRN4163,In this session learn about the latest autonom...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",TRN4163,"{'alpha0': 'TRN', 'numeric1': '4163'}",trn4163,1523842475121001AGpg,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0

#Resources

Dataquest Data Science Blog — Jupyter Notebook for Beginners: A Tutorial https://www.dataquest.io/blog/jupyter-notebook-tutorial/

The Pandas DataFrame – loading, editing, and viewing data in Python - by Shane Lynn https://www.shanelynn.ie/using-pandas-dataframe-creating-editing-viewing-data-in-python/