# Load, merge and wrangle Oracle OpenWorld & CodeOne Session Data - Phase 1

The session catalog data is available from a REST API whose root is https://events.rainfocus.com/api/search. Check out Notebook OOW2018 Session Catalog - retrieving raw session data in JSON files.ipynb on how to fetch that data into (raw) local files

This notebook describes how to load, combine and wrangle the data from these files. This notebook shows for example how to load and merge data from dozens of (same formatted) JSON files, discard undesired attributes, deduplicate the record set, derive attributes for easier business intelligence & machine learning and write the resulting data set to a single JSON file.

## Load and merge data from raw JSON files
This first section describes how the session data from Oracle OpenWorld 2018 is loaded from over 30 individual files with the raw JSON session data. These files are organized by session type and event (oow and codeone) - and have been produced by a different notebook (OOW2018 Session Catalog - retrieving raw session data in JSON files.ipynb) from the Oracle OpenWorld Session Catalog API.

The files are read into individual Pandas Data Frame objects. These Data Frames are concatenated. The end result from reading over 30 files is a single Pandas Data Frame - called *ss* (session schedule).

In [158]:
#read a single session data file and parse the JSON content into a Pandas Data Frame
import pandas as pd
import json

#as a test, try to load data from one of the generated files 
ss = pd.read_json("oow2018-sessions_oow_TRN.json")
ss = ss.assign(catalog='oow')
ss.head(5)

,abbreviation,abstract,allowDoubleBooking,attributevalues,code,codeParts,code_id,es_metadata_id,event,eventCode,...,type_displayorder_string,useDoubleBooking,useWaitingList,videos,viewAccess,viewAccessPublic,viewFileAccess,waitlistAccess,waitlistLimit,catalog
0,TRN4070,What if you could benefit from new database qu...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4070,"{'alpha0': 'TRN', 'numeric1': '4070'}",trn4070,1523650128750001VI1i,Oracle OpenWorld,oow18,...,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0,oow
1,TRN4026,How does a real-world performance engineer int...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4026,"{'alpha0': 'TRN', 'numeric1': '4026'}",trn4026,1523576222383001pdRl,Oracle OpenWorld,oow18,...,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0,oow
10,TRN4567,Understand the tools and techniques available ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4567,"{'alpha0': 'TRN', 'numeric1': '4567'}",trn4567,1524514304383001hANs,Oracle OpenWorld,oow18,...,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0,oow
100,TRN6363,In order to derive value from the Internet of ...,0,"[{'value': 'Product Training Session', 'attrib...",TRN6363,"{'alpha0': 'TRN', 'numeric1': '6363'}",trn6363,15321279159350012tnD,Oracle OpenWorld,oow18,...,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0,oow
101,TRN5828,Oracle Linux powers tens of thousands of enter...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5828,"{'alpha0': 'TRN', 'numeric1': '5828'}",trn5828,1526317377636001I2Ll,Oracle OpenWorld,oow18,...,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0,oow

In [159]:
#as a test, try to load data from another file  
ss2 = pd.read_json("oow2018-sessions_codeone_TRN.json")
ss2 = ss2.assign(catalog='codeone')

ss2.head(5)

,abbreviation,abstract,allowDoubleBooking,attributevalues,code,codeParts,code_id,es_metadata_id,event,eventCode,...,type_displayorder_string,useDoubleBooking,useWaitingList,videos,viewAccess,viewAccessPublic,viewFileAccess,waitlistAccess,waitlistLimit,catalog
0,TRN4631,This session takes a deep dive into how the Or...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4631,"{'alpha0': 'TRN', 'numeric1': '4631'}",trn4631,1524589840877001mdKy,Oracle OpenWorld,oow18,...,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0,codeone
1,TRN4081,Real-time data is an increasingly popular topi...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4081,"{'alpha0': 'TRN', 'numeric1': '4081'}",trn4081,1523652232625001KxHD,Oracle OpenWorld,oow18,...,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0,codeone
10,TRN4084,.NET Core allows .NET applications to run cros...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4084,"{'alpha0': 'TRN', 'numeric1': '4084'}",trn4084,1523652635507001BgE3,Oracle OpenWorld,oow18,...,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0,codeone
11,TRN4065,Zero downtime or the ability to sustain planne...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN4065,"{'alpha0': 'TRN', 'numeric1': '4065'}",trn4065,1523646070146001VKUN,Oracle OpenWorld,oow18,...,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0,codeone
2,TRN5774,Enterprises need to rapidly react to the chang...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",TRN5774,"{'alpha0': 'TRN', 'numeric1': '5774'}",trn5774,1526173783263001pwyK,Oracle OpenWorld,oow18,...,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0,codeone

In [160]:
#add ss and ss2 together
#see https://pandas.pydata.org/pandas-docs/stable/merging.html
ss = pd.concat([ss,ss2],  ignore_index=True)
ss.head(8)

,abbreviation,abstract,allowDoubleBooking,attributevalues,catalog,code,codeParts,code_id,es_metadata_id,event,...,type_displayorder,type_displayorder_string,useDoubleBooking,useWaitingList,videos,viewAccess,viewAccessPublic,viewFileAccess,waitlistAccess,waitlistLimit
0,TRN4070,What if you could benefit from new database qu...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN4070,"{'alpha0': 'TRN', 'numeric1': '4070'}",trn4070,1523650128750001VI1i,Oracle OpenWorld,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
1,TRN4026,How does a real-world performance engineer int...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN4026,"{'alpha0': 'TRN', 'numeric1': '4026'}",trn4026,1523576222383001pdRl,Oracle OpenWorld,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
2,TRN4567,Understand the tools and techniques available ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN4567,"{'alpha0': 'TRN', 'numeric1': '4567'}",trn4567,1524514304383001hANs,Oracle OpenWorld,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
3,TRN6363,In order to derive value from the Internet of ...,0,"[{'value': 'Product Training Session', 'attrib...",oow,TRN6363,"{'alpha0': 'TRN', 'numeric1': '6363'}",trn6363,15321279159350012tnD,Oracle OpenWorld,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
4,TRN5828,Oracle Linux powers tens of thousands of enter...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN5828,"{'alpha0': 'TRN', 'numeric1': '5828'}",trn5828,1526317377636001I2Ll,Oracle OpenWorld,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
5,TRN4073,"What do Oracle Database listener, dedicated se...",0,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN4073,"{'alpha0': 'TRN', 'numeric1': '4073'}",trn4073,1523650870534001B9V8,Oracle OpenWorld,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
6,TRN4022,Oracle Real Application Clusters (Oracle RAC) ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN4022,"{'alpha0': 'TRN', 'numeric1': '4022'}",trn4022,1523572455776001BxBi,Oracle OpenWorld,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
7,TRN4219,"For more than 20 years, Oracle customers have ...",0,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN4219,"{'alpha0': 'TRN', 'numeric1': '4219'}",trn4219,152392541435100177jo,Oracle OpenWorld,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0

Overhead, two files were loaded, parsed into a Data Frame and added together into a single Data Frame. The next step is to load the session data from the raw JSON file for all files - for the two events and for all session types. The session types are defined in the Dict object *sessionTypes* . The code loops over the keys in this Dict and reads the corresponding JSON file for each of the two events.

In [161]:
sessionTypes =  {'BOF': '1518466139979001dQkv'
    , 'BQS': 'bqs'
    , 'BUS': '1519240082595001EpMm'
    , 'CAS': 'casestudy'
    , 'DEV': '1522435540042001BxTD'
    , 'ESS': 'ess'
    , 'FLP': 'flp'
    , 'GEN': 'general'
    , 'HOL': 'hol'
    , 'HOM': 'hom'
    , 'IGN': 'ignite'
    , 'KEY': 'option_1508950285425'
    , 'MTE':'1523906206279002QAu9'
    , 'PKN': '1527614217434001RBfj'
    , 'PRO': '1518464344082003KVWZ'
    , 'PRM': '1518464344082002KM3k'
    , 'TRN': '1518464344082001KHky'
    , 'SIG': 'sig'
    , 'THT': 'ts'
    , 'TLD': '1537894888625001RriS'
    , 'TIP': '1517517756579001F3CR'
    , 'TUT': 'tutorial'
#commented out because TRN is dealt with earlier on, 'TRN': '1518464344082001KHky'
}
#loop over all session types and read the corresponding files for both events codeone and oow
for key,value in sessionTypes.items():
    ssoow = pd.read_json("oow2018-sessions_oow_{0}.json".format(key))
    ssoow = ssoow.assign(catalog='oow')
    sscodeone = pd.read_json("oow2018-sessions_codeone_{0}.json".format(key))
    sscodeone = sscodeone.assign(catalog='codeone')
    ss = pd.concat([ss,ssoow,sscodeone],  ignore_index=True)

## Discard unneeded attributes
Early inspection of the JSON document and the session catalog website has provided insight in the available attributes and their relevance. Below, you will see an overview of all columns in the Data Frame - corresponding with the top level items in the JSON document. The subsequent step removes from the Data Frame all columns that seem irrelevant for our task at hand. 

These column seem relevant for the web frontend developers, for planned but not realized objectives or for unknown purposes. In order to not carry more weight than necessary - because of performance, resource usage and lurking complexity we get rid of columns that seem irrelevant. If we need them after all, they are still available in the data lake.

Remove the unwanted columns from the Dataframe
(allowDoubleBooking .'codeParts', 'code_id', 'es_metadata_id',type_displayorder	type_displayorder_string	useDoubleBooking	useWaitingList	videos	viewAccess	viewAccessPublic, ...)

In [162]:
#list all columns in the Dataframe
ss.columns

Index(['abbreviation', 'abstract', 'allowDoubleBooking', 'attributevalues',
       'catalog', 'code', 'codeParts', 'code_id', 'es_metadata_id', 'event',
       'eventCode', 'eventId', 'eventName', 'externalID', 'featured_value',
       'files', 'highlight', 'length', 'participants',
       'publicViewPrivateSchedule', 'published', 'scheduleAccess', 'sessionID',
       'sponsors', 'status', 'times', 'title', 'title_sort', 'type',
       'type_displayorder', 'type_displayorder_string', 'useDoubleBooking',
       'useWaitingList', 'videos', 'viewAccess', 'viewAccessPublic',
       'viewFileAccess', 'waitlistAccess', 'waitlistLimit'],
      dtype='object')

In [163]:
# remove columns
# Note that the original 'data' object is changed when inplace=True
ss.drop([
    'allowDoubleBooking'
         ,'codeParts', 'code_id', 'es_metadata_id','type_displayorder'
       ,'type_displayorder_string', 'useDoubleBooking'
       ,'useWaitingList', 'videos'
      , 'viewAccess', 'viewAccessPublic','viewFileAccess', 'waitlistAccess', 'waitlistLimit'
    ,  'eventId','eventName','featured_value','publicViewPrivateSchedule','published', 'scheduleAccess','sessionID','status'
    ,'externalID','highlight','abbreviation'
        ]
        , axis=1, inplace=True)

## Exploring the Data
Let's briefly look at the data we now have in the Pandas Data Frame. What does the data look like? What values do we have in the columns? And what complexity is hiding in some columns with nested values, such as participants, attributevalues and files.

Note: https://morphocode.com/pandas-cheat-sheet/ provides a quick overview of commands used for inspecting and manipulating the data frame.

In [164]:
#an overview of the current contents of the data frame
ss.head(6)

,abstract,attributevalues,catalog,code,event,eventCode,files,length,participants,sponsors,times,title,title_sort,type
0,What if you could benefit from new database qu...,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN4070,Oracle OpenWorld,oow18,"[{'fileId': '1540594881063001PjdE', 'filename'...",45.0,[{'speakerId': '14574694377280015QNA_150393630...,None,"[{'sessionTimeID': '1532616475210001usPa', 'se...",A Database Proxy for Transparent High Availabi...,adatabaseproxyfortransparenthi,Product Training Session
1,How does a real-world performance engineer int...,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN4026,Oracle OpenWorld,oow18,"[{'fileId': '1540053090863001JeFM', 'filename'...",45.0,[{'speakerId': '145746969078000151fg_150393630...,None,"[{'sessionTimeID': '1531945554973001z4Hi', 'se...",A Day in the Life of a Real-World Performance ...,adayinthelifeofarealworldperfo,Product Training Session
2,Understand the tools and techniques available ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN4567,Oracle OpenWorld,oow18,"[{'fileId': '1539988618000001VcCe', 'filename'...",45.0,[{'speakerId': '1468532302119001DtNf_150393630...,None,"[{'sessionTimeID': '15352384203600012G04', 'se...",Best Practices for Diagnosing and Troubleshoot...,bestpracticesfordiagnosingandt,Product Training Session
3,In order to derive value from the Internet of ...,"[{'value': 'Product Training Session', 'attrib...",oow,TRN6363,Oracle OpenWorld,oow18,"[{'fileId': '1539982921144001RL4h', 'filename'...",45.0,[{'speakerId': '1500580326390001qTtd_150393630...,None,"[{'sessionTimeID': '1535223010412001BrNh', 'se...",Oracle Internet of Things Cloud Service and En...,oracleinternetofthingscloudser,Product Training Session
4,Oracle Linux powers tens of thousands of enter...,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN5828,Oracle OpenWorld,oow18,"[{'fileId': '1540152941675001kZHw', 'filename'...",45.0,[{'speakerId': '14574694616420015a7T_150393630...,None,"[{'sessionTimeID': '1535040668257001twFq', 'se...",Oracle Linux and Oracle VM: Get Trained for Cl...,oraclelinuxandoraclevmgettrain,Product Training Session
5,"What do Oracle Database listener, dedicated se...","[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN4073,Oracle OpenWorld,oow18,None,45.0,[{'speakerId': '14574694719240015Rek_150393630...,None,"[{'sessionTimeID': '1531848510829001f1BX', 'se...",Oracle Net Services: Best Practices for Databa...,oraclenetservicesbestpractices,Product Training Session

In [165]:
# and this overview of the rows and columns in the data frame.
print(ss.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2339 entries, 0 to 2338
Data columns (total 14 columns):
abstract           2339 non-null object
attributevalues    2339 non-null object
catalog            2339 non-null object
code               2339 non-null object
event              2339 non-null object
eventCode          2339 non-null object
files              1615 non-null object
length             2339 non-null float64
participants       2339 non-null object
sponsors           244 non-null object
times              2338 non-null object
title              2339 non-null object
title_sort         2339 non-null object
type               2339 non-null object
dtypes: float64(1), object(13)
memory usage: 255.9+ KB
None

In [166]:
#let's look at all different values for length (the duration of each session in minutes)
ss['length'].unique()
# yes - it is that simple!

array([  45.,   20.,  240.,  180.,   90.,  120.,   75.,   60.,   30.,
        105.,   50.,   25.,   55.,   15.])

In [167]:
# and what about (session) type?
ss['type'].unique()

array(['Product Training Session', 'Birds of a Feather (BOF) Session',
       'Burning Questions Session', 'Business Use Case Session',
       'Customer Case Study Session', 'Developer Session',
       'Executive Solution Session', 'Flipped Session', 'General Session',
       'HOL (Hands-on Lab) Session', 'Home Room Session', 'Ignite Session',
       'Keynote Session', 'Meet the Experts', 'Product Keynote Session',
       'Product Overview Session', 'Product Roadmap Session',
       'Special Interest Group (SIG) Meeting', 'Theater Session',
       'Thought Leader Session', 'Tips and Tricks Session',
       'Tutorial Session'], dtype=object)

In [168]:
#some of the columns or attributes have nested values. It seems useful to take a closer look at them. 
#show nested array attributevalues for first record in Dataframe - this is an attribute which contains an array of objects that each define a specific characteristic of the session, 
# such as date and time, track, topic, level, role, company market size, 

ss['attributevalues'][100]

[{'attribute': 'Session Type',
  'attribute_id': 'SessionType',
  'attributevalue_code': '1518464344082001KHky',
  'attributevalue_id': '1518464344082001KHky',
  'dataForm': '1503936308L8ef50df64',
  'displayorder': 26.0,
  'published': 1.0,
  'rf_attributevalue_id': '1518464344506001KUj0',
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': 'Product Training Session',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'Your Cloud Success: Training and End to End Support',
  'attribute_id': 'YourCloudSuccessTrainingandEndtoEndSupport',
  'attributevalue_code': '1532623698924002WFNS',
  'attributevalue_id': '1532623698924002WFNS',
  'dataForm': '1503936308L8ef50df64',
  'displayorder': 1.0,
  'published': 1.0,
  'rf_attributevalue_id': '1532623701201001WXTO',
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': 'Your Cloud Success, Today (Product Training and Support)',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'The "Suite Spot": Connected and Intelligent Business',
  'attribute_id': 'TheSuiteSpotConnectedandIntelligentBusiness',
  'attributevalue_code': '1533847773927002McLi',
  'attributevalue_id': '1533847773927002McLi',
  'dataForm': '1503936308L8ef50df64',
  'displayorder': 0.0,
  'published': 1.0,
  'rf_attributevalue_id': '1533847776395001M8iE',
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': 'Connected Business Solutions',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'unreserved',
  'attribute_id': 'unreserved',
  'attributevalue_code': 'Unreserved',
  'attributevalue_id': 'Unreserved',
  'dataForm': '1503936308L8ef50df64',
  'displayorder': 1.0,
  'published': 1.0,
  'rf_attributevalue_id': '1472142522207001wMQl',
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': 'Unreserved',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'Event',
  'attribute_id': 'Event',
  'attributevalue_code': 'openworld',
  'attributevalue_id': 'openworld',
  'dataForm': '1503936308L8ef50df64',
  'displayorder': 4.0,
  'published': 1.0,
  'rf_attributevalue_id': '1459962405839002bE2x',
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': 'Oracle OpenWorld',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'Day',
  'attribute_id': 'Day',
  'attributevalue_id': '20181024',
  'dataForm': 'default',
  'published': 1.0,
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': 'Wednesday, Oct 24',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True},
 {'attribute': 'Time',
  'attribute_id': 'DayTime',
  'attributevalue_id': '20181024t16',
  'dataForm': 'default',
  'published': 1.0,
  'scheduleAccess': ['1533141196635001EZdJ', '1533143193464001uQsQ'],
  'value': '4:00 p.m. Wednesday, Oct 24',
  'viewAccess': ['1533140082245001une2',
   '1533141196635001EZdJ',
   '1533143193464001uQsQ',
   '1533146325902001u9v6'],
  'viewAccessPublic': True}]

In [169]:
#show nested array participants for first record in Dataframe
ss['participants'][10]

[{'Speaker-Photo-Published': 'Published',
  'attributevalues': [{'attribute': 'Special Designations',
    'attribute_id': 'specialdesignations',
    'attributevalue_id': 'sdoraclecertified',
    'dataForm': '1503936308F8c7e51a2e',
    'value': 'Oracle Certified'},
   {'attribute': 'Special Designations',
    'attribute_id': 'specialdesignations',
    'attributevalue_id': 'sdjavaonerockstar',
    'dataForm': '1503936308F8c7e51a2e',
    'value': 'JavaOne Rockstar'}],
  'bio': 'My name is Ron Soltani, and I am a Sr. Principal Instructor at Oracle University.  I have been with Oracle University for over 14 Years teaching, Oracle Database, MYSQL, and Times Ten Database courses and I am the lead instructor for Oracle Database New Features, Oracle Database Security, and MYSQL Administration courses.  I am based in Southern Oregon and enjoy spending my spare time outdoors and working on our farm. ',
  'companyName': 'Oracle',
  'displayorder': 0.0,
  'es_metadata_id': '1500578268510001KsST_150393630796000oow18',
  'firstName': 'Ron',
  'fullName': 'Ron Soltani',
  'globalBio': 'My name is Ron Soltani, and I am a Sr. Principal Instructor at Oracle University.  I have been with Oracle University for over 14 Years teaching, Oracle Database, MYSQL, and Times Ten Database courses and I am the lead instructor for Oracle Database New Features, Oracle Database Security, and MYSQL Administration courses.  I am based in Southern Oregon and enjoy spending my spare time outdoors and working on our farm. ',
  'globalFirstname': 'Ron',
  'globalFullName': 'Ron Soltani',
  'globalJobtitle': 'Senior Principal Instructor',
  'globalLastname': 'Soltani',
  'globalPhotoURL': 'https://static.rainfocus.com/oracle/oow18/att/1500578268510001KsST/attprofile/Ron_Soltani_Headshot_1538595194670001C3jN.jpg',
  'jobTitle': 'Senior Principal Instructor',
  'lastName': 'Soltani',
  'photoURL': 'https://static.rainfocus.com/oracle/oow18/att/1500578268510001KsST/attprofile/Ron_Soltani_Headshot_1538595194670001C3jN.jpg',
  'published': 1.0,
  'roles': 'Speaker',
  'session': [{'abbreviation': 'TRN6449',
    'published': 'true',
    'sessionID': '1533152180387001ThDu',
    'speakerRole': 'Speaker',
    'status': 'Accepted',
    'times': [{'capacity': '314',
      'date': '2018-10-23',
      'day': '23',
      'dayDisplayName': 'Tuesday October 23',
      'dayName': 'Tuesday',
      'daySort': '20181023',
      'dayTimeHour': '20181023t15',
      'dayTimeSort': '20181023t1545',
      'endTime': '16:30',
      'endTimeFormatted': '4:30 p.m.',
      'endTimeMin': 990.0,
      'length': 45.0,
      'longMonth': 'October',
      'room': 'Moscone West - Room 3002',
      'sessionID': '1533152180387001ThDu',
      'sessionTimeID': '1535610677698001BB58',
      'shortMonth': 'Oct',
      'startTime': '15:45',
      'startTimeFormatted': '3:45 p.m.',
      'startTimeMin': 945.0,
      'time': '15:45',
      'waitlistLimit': '0'}],
    'title': 'Providing High Availability of Data by Using Container Databases'},
   {'abbreviation': 'TRN6450',
    'published': 'true',
    'sessionID': '1533152736465001m0kY',
    'speakerRole': 'Speaker',
    'status': 'Accepted',
    'times': [{'capacity': '169',
      'date': '2018-10-22',
      'day': '22',
      'dayDisplayName': 'Monday October 22',
      'dayName': 'Monday',
      'daySort': '20181022',
      'dayTimeHour': '20181022t16',
      'dayTimeSort': '20181022t1645',
      'endTime': '17:30',
      'endTimeFormatted': '5:30 p.m.',
      'endTimeMin': 1050.0,
      'length': 45.0,
      'longMonth': 'October',
      'room': 'Moscone West - Room 2000',
      'sessionID': '1533152736465001m0kY',
      'sessionTimeID': '1535317019542001B3US',
      'shortMonth': 'Oct',
      'startTime': '16:45',
      'startTimeFormatted': '4:45 p.m.',
      'startTimeMin': 1005.0,
      'time': '16:45',
      'waitlistLimit': '0'}],
    'title': 'Using an Oracle Database 18c Security Schema to Manage and Secure User Data'},
   {'abbreviation': 'TRN6462',
    'published': 'true',
    'sessionID': '1533296972632001hQFL',
    'speakerRole': 'Speaker',
    'status': 'Accepted',
    'times': [{'capacity': '52',
      'date': '2018-10-24',
      'day': '24',
      'dayDisplayName': 'Wednesday October 24',
      'dayName': 'Wednesday',
      'daySort': '20181024',
      'dayTimeHour': '20181024t08',
      'dayTimeSort': '20181024t0830',
      'endTime': '12:30',
      'endTimeFormatted': '12:30 p.m.',
      'endTimeMin': 750.0,
      'length': 240.0,
      'longMonth': 'October',
      'room': 'Marriott Marquis (Atrium Level) - Foothill G',
      'sessionID': '1533296972632001hQFL',
      'sessionTimeID': '1537150669415001Foxx',
      'shortMonth': 'Oct',
      'startTime': '08:30',
      'startTimeFormatted': '8:30 a.m.',
      'startTimeMin': 510.0,
      'time': '08:30',
      'waitlistLimit': '0'}],
    'title': 'Deep Dive: Oracle Database 18c New Features: Continuing Database Innovations'},
   {'abbreviation': 'THT6796',
    'published': 'true',
    'sessionID': '1537809642963001uZrU',
    'speakerRole': 'Speaker',
    'status': 'Accepted',
    'times': [{'capacity': '50',
      'date': '2018-10-23',
      'day': '23',
      'dayDisplayName': 'Tuesday October 23',
      'dayName': 'Tuesday',
      'daySort': '20181023',
      'dayTimeHour': '20181023t12',
      'dayTimeSort': '20181023t1230',
      'endTime': '12:45',
      'endTimeFormatted': '12:45 p.m.',
      'endTimeMin': 765.0,
      'length': 15.0,
      'longMonth': 'October',
      'room': 'Moscone West, 3rd Floor - Oracle Support Stars Bar Theater',
      'sessionID': '1537809642963001uZrU',
      'sessionTimeID': '1537936945817001Kenn',
      'shortMonth': 'Oct',
      'startTime': '12:30',
      'startTimeFormatted': '12:30 p.m.',
      'startTimeMin': 750.0,
      'time': '12:30',
      'waitlistLimit': '0'}],
    'title': 'Align Your Past Skills with the New Capabilities of Oracle Database 18c'},
   {'abbreviation': 'THT6798',
    'published': 'true',
    'sessionID': '1537810700092001pZTv',
    'speakerRole': 'Speaker',
    'status': 'Accepted',
    'times': [{'capacity': '50',
      'date': '2018-10-24',
      'day': '24',
      'dayDisplayName': 'Wednesday October 24',
      'dayName': 'Wednesday',
      'daySort': '20181024',
      'dayTimeHour': '20181024t16',
      'dayTimeSort': '20181024t1600',
      'endTime': '16:15',
      'endTimeFormatted': '4:15 p.m.',
      'endTimeMin': 975.0,
      'length': 15.0,
      'longMonth': 'October',
      'room': 'Moscone West, 3rd Floor - Oracle Support Stars Bar Theater',
      'sessionID': '1537810700092001pZTv',
      'sessionTimeID': '1537940668880001AGrM',
      'shortMonth': 'Oct',
      'startTime': '16:00',
      'startTimeFormatted': '4:00 p.m.',
      'startTimeMin': 960.0,
      'time': '16:00',
      'waitlistLimit': '0'}],
    'title': 'What Is Oracle Database Sharding and What Is It Used For?'}],
  'speakerId': '1500578268510001KsST_150393630796000oow18',
  'userRef': '1500578268510001KsST'}]

In [170]:
#show nested array files
ss['files'][0]

[{'fileId': '1540594881063001PjdE',
  'filename': 'TRN4070_A-Database-Proxy-for-Transparent-High-Availability-Performance-Routing-and-Security.pdf',
  'url': 'https://static.rainfocus.com/oracle/oow18/sess/1523650128750001VI1i/PF/TRN4070_A-Database-Proxy-for-Transparent-High-Availability-Performance-Routing-and-Security_1540594881049001PwHW.pdf',
  'viewFileAccess': []}]

## Enriching the data
In this section we are engineering the data to produce some attributes or features that are easier to work with once we start doing data science activities such as business intelligence or machine learning. In this section we are not yet actually bringing in external data sources to add information we not already have in our set. However, we are making the data we already have more accessible and thereby more valuable. So in that sense, this too can be called *enriching*. 

The enrichments performed on the session data in the data frame :
* set a flag at session level to indicate whether the session is an Oracle session (with Oracle staff among the speakers- speaker has Oracle in companyName attribute)
* set a flag at session level to indicate whether a file has been uploaded for the session
* set a flag at session level to indicate whether one of the speakers has Java Rockstar, Java Champion, Developer Champion/Groundbreaker Ambassador, ACE or ACE Director
* set attribute level (based on attributevalues array) - beginner, all, ...
* derive track(s?) from attributevalues array (where attribute_id=Track or attribute_id=CodeOneTracks  )
* set attribute with number of speakers on session
* number of instances of the session

In [171]:
#function to derive Oracle flag from participants
def oracle_speaker(session):
      result = "N"
      # loop over speakers; if for any of them, companyName contains the word Oracle, the result =Y  
      for x in session["participants"][:]:
        if ("oracle" in x.get('companyName','x').lower()):
          result='Y'
      return result

In [172]:
#function to derive file flag from files
def file_flag(session):
      result = "N"
      if type(session.get("files",None)) =='list' :
          # loop over files; if any exist, then result = Y
          for x in session["files"][:]:
             if x['fileId']:
               result='Y'
      return result

In [173]:
#set oracle_speaker flag
#apply function oracle_speaker to every row in the data frame to derive values for the new column oracle_speaker
ss['oracle_speaker'] = ss.apply(oracle_speaker, axis=1)

#set file_flag
#apply function file_flag to every row in the data frame to derive values for the new column file_flag
ss['file_flag'] = ss.apply(file_flag, axis=1)

#show sessions 
ss.tail(5)

,abstract,attributevalues,catalog,code,event,eventCode,files,length,participants,sponsors,times,title,title_sort,type,oracle_speaker,file_flag
2334,"Java is moving faster and faster, and a lot of...","[{'value': 'Beginner', 'attributevalue_id': '1...",codeone,TUT4828,Oracle Code One,oow18,"[{'fileId': '1540086019771001k4LD', 'filename'...",120.0,[{'speakerId': '1463271742329001nOLV_150393630...,None,"[{'sessionTimeID': '153618822712200139zu', 'se...","Java 5, 6, 7, 8, 9, 10, 11: What Did You Miss?",java567891011whatdidyoumiss,Tutorial Session,N,N
2335,Youâ€™re a Java developer? Already familiar with...,"[{'value': 'Beginner', 'attributevalue_id': '1...",codeone,TUT5930,Oracle Code One,oow18,"[{'fileId': '1540272055239001vAaw', 'filename'...",120.0,[{'speakerId': '1492999456284001PEDn_150393630...,None,"[{'sessionTimeID': '15362149378730013qhw', 'se...",Kubernetes for Java Developers,kubernetesforjavadevelopers,Tutorial Session,N,N
2336,"Java 9 introduced JShell as a REPL tool, and v...","[{'value': 'Beginner', 'attributevalue_id': '1...",codeone,TUT5297,Oracle Code One,oow18,None,120.0,[{'speakerId': '14574694816540015LCz_150393630...,None,"[{'sessionTimeID': '1536188167148001xmdi', 'se...",Let's Start Java11 from the Beginning with JShell,letsstartjava11fromthebeginnin,Tutorial Session,N,N
2337,"During this tutorial, you will learn how to us...","[{'value': 'Beginner', 'attributevalue_id': '1...",codeone,TUT6303,Oracle OpenWorld,oow18,"[{'fileId': '1541454340556001bnq5', 'filename'...",120.0,[{'speakerId': '1464284608830001XvOn_150393630...,None,"[{'sessionTimeID': '15354064474310011Ozp', 'se...",MySQL 8.0 Document Store: Everything You Need ...,mysql80documentstoreeverything,Tutorial Session,Y,N
2338,"Are you tired of null pointer exceptions, unin...","[{'value': 'Beginner', 'attributevalue_id': '1...",codeone,TUT4991,Oracle Code One,oow18,"[{'fileId': '1540363608323001karC', 'filename'...",120.0,[{'speakerId': '145746944456700158Jh_150393630...,None,"[{'sessionTimeID': '1535411051423001Bw5D', 'se...",Preventing Errors Before They Happen: The Chec...,preventingerrorsbeforetheyhapp,Tutorial Session,N,N

In [174]:
#function to derive designation flag from speakers
# values for designation: JavaOne Rockstar, Oracle ACE Director, Oracle Java Champion, Groundbreaker Ambassador, 
def speaker_designation(session, designation):
      result = "N"
      # loop over speakers and their attributevalues; if any exist with attribute_id == specialdesignations and value == JavaOne Rockstar
      for x in session["participants"][:]:
          if "attributevalues" in x: 
              for y in x["attributevalues"][:]:
                if "attribute_id" in y: 
                    if y["attribute_id"]=="specialdesignations":
                        if y["value"]== designation:
                            result="Y"
      return result

In [175]:
#set flags for designations
designations = ['JavaOne Rockstar', 'Oracle ACE Director', 'Oracle Java Champion', 'Groundbreaker Ambassador']
for d in designations:
   ss[d] = ss.apply(speaker_designation, args=(d,), axis=1) 

ss.head(5)

,abstract,attributevalues,catalog,code,event,eventCode,files,length,participants,sponsors,times,title,title_sort,type,oracle_speaker,file_flag,JavaOne Rockstar,Oracle ACE Director,Oracle Java Champion,Groundbreaker Ambassador
0,What if you could benefit from new database qu...,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN4070,Oracle OpenWorld,oow18,"[{'fileId': '1540594881063001PjdE', 'filename'...",45.0,[{'speakerId': '14574694377280015QNA_150393630...,None,"[{'sessionTimeID': '1532616475210001usPa', 'se...",A Database Proxy for Transparent High Availabi...,adatabaseproxyfortransparenthi,Product Training Session,Y,N,N,N,N,N
1,How does a real-world performance engineer int...,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN4026,Oracle OpenWorld,oow18,"[{'fileId': '1540053090863001JeFM', 'filename'...",45.0,[{'speakerId': '145746969078000151fg_150393630...,None,"[{'sessionTimeID': '1531945554973001z4Hi', 'se...",A Day in the Life of a Real-World Performance ...,adayinthelifeofarealworldperfo,Product Training Session,Y,N,N,N,N,N
2,Understand the tools and techniques available ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN4567,Oracle OpenWorld,oow18,"[{'fileId': '1539988618000001VcCe', 'filename'...",45.0,[{'speakerId': '1468532302119001DtNf_150393630...,None,"[{'sessionTimeID': '15352384203600012G04', 'se...",Best Practices for Diagnosing and Troubleshoot...,bestpracticesfordiagnosingandt,Product Training Session,Y,N,N,N,N,N
3,In order to derive value from the Internet of ...,"[{'value': 'Product Training Session', 'attrib...",oow,TRN6363,Oracle OpenWorld,oow18,"[{'fileId': '1539982921144001RL4h', 'filename'...",45.0,[{'speakerId': '1500580326390001qTtd_150393630...,None,"[{'sessionTimeID': '1535223010412001BrNh', 'se...",Oracle Internet of Things Cloud Service and En...,oracleinternetofthingscloudser,Product Training Session,Y,N,N,N,N,N
4,Oracle Linux powers tens of thousands of enter...,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN5828,Oracle OpenWorld,oow18,"[{'fileId': '1540152941675001kZHw', 'filename'...",45.0,[{'speakerId': '14574694616420015a7T_150393630...,None,"[{'sessionTimeID': '1535040668257001twFq', 'se...",Oracle Linux and Oracle VM: Get Trained for Cl...,oraclelinuxandoraclevmgettrain,Product Training Session,Y,N,N,N,N,N

In [176]:
#function to derive level flag for a session
def session_level(session, level):
      result = "N"
      # loop over attributevalues; if any exist with attribute_id == "SessionsbyExperienceLevel", and value == level
      for x in session["attributevalues"][:]:
        if "attribute_id" in x: 
            if x["attribute_id"]=="SessionsbyExperienceLevel":
                if x["value"]== level:
                    result="Y"
      return result

In [177]:
#set flags for designations
levels = ['Intermediate', 'Beginner', 'Advanced', 'All']
for l in levels:
   ss[l] = ss.apply(session_level, args=(l,), axis=1) 
print("Assigned Level Flags (Advanced, Intermediate, Beginner)")
ss.tail(5)

Assigned Level Flags (Advanced, Intermediate, Beginner)

,abstract,attributevalues,catalog,code,event,eventCode,files,length,participants,sponsors,...,oracle_speaker,file_flag,JavaOne Rockstar,Oracle ACE Director,Oracle Java Champion,Groundbreaker Ambassador,Intermediate,Beginner,Advanced,All
2334,"Java is moving faster and faster, and a lot of...","[{'value': 'Beginner', 'attributevalue_id': '1...",codeone,TUT4828,Oracle Code One,oow18,"[{'fileId': '1540086019771001k4LD', 'filename'...",120.0,[{'speakerId': '1463271742329001nOLV_150393630...,None,...,N,N,N,N,Y,Y,Y,Y,Y,N
2335,Youâ€™re a Java developer? Already familiar with...,"[{'value': 'Beginner', 'attributevalue_id': '1...",codeone,TUT5930,Oracle Code One,oow18,"[{'fileId': '1540272055239001vAaw', 'filename'...",120.0,[{'speakerId': '1492999456284001PEDn_150393630...,None,...,N,N,N,N,N,N,Y,Y,N,N
2336,"Java 9 introduced JShell as a REPL tool, and v...","[{'value': 'Beginner', 'attributevalue_id': '1...",codeone,TUT5297,Oracle Code One,oow18,None,120.0,[{'speakerId': '14574694816540015LCz_150393630...,None,...,N,N,N,N,N,N,N,Y,N,N
2337,"During this tutorial, you will learn how to us...","[{'value': 'Beginner', 'attributevalue_id': '1...",codeone,TUT6303,Oracle OpenWorld,oow18,"[{'fileId': '1541454340556001bnq5', 'filename'...",120.0,[{'speakerId': '1464284608830001XvOn_150393630...,None,...,Y,N,N,N,N,N,Y,Y,Y,N
2338,"Are you tired of null pointer exceptions, unin...","[{'value': 'Beginner', 'attributevalue_id': '1...",codeone,TUT4991,Oracle Code One,oow18,"[{'fileId': '1540363608323001karC', 'filename'...",120.0,[{'speakerId': '145746944456700158Jh_150393630...,None,...,N,N,Y,N,N,N,N,Y,N,N

In [178]:
#function to derive track flag for a session
def session_track(session):

      result = ['abc']      
      # loop over attributevalues; if any exist with attribute_id == "SessionsbyExperienceLevel", and value == level
      for x in session["attributevalues"][:]:
        if "attribute_id" in x: 
            if x["attribute_id"]=="CodeOneTracks":
               result.append( x["value"])
            if x["attribute_id"]=="Track":               
               result.append( x["value"])
      del result[0]   
      return result

In [179]:
#set flags for designations
ss["track"] = ss.apply(session_track,  axis=1) 
print("Assigned Track")
ss.head(5)

Assigned Track

,abstract,attributevalues,catalog,code,event,eventCode,files,length,participants,sponsors,...,file_flag,JavaOne Rockstar,Oracle ACE Director,Oracle Java Champion,Groundbreaker Ambassador,Intermediate,Beginner,Advanced,All,track
0,What if you could benefit from new database qu...,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN4070,Oracle OpenWorld,oow18,"[{'fileId': '1540594881063001PjdE', 'filename'...",45.0,[{'speakerId': '14574694377280015QNA_150393630...,None,...,N,N,N,N,N,Y,Y,Y,N,"[- Application Development, Oracle Cloud Platf..."
1,How does a real-world performance engineer int...,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN4026,Oracle OpenWorld,oow18,"[{'fileId': '1540053090863001JeFM', 'filename'...",45.0,[{'speakerId': '145746969078000151fg_150393630...,None,...,N,N,N,N,N,Y,Y,Y,N,"[- Application Development, Oracle Cloud Platf..."
2,Understand the tools and techniques available ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN4567,Oracle OpenWorld,oow18,"[{'fileId': '1539988618000001VcCe', 'filename'...",45.0,[{'speakerId': '1468532302119001DtNf_150393630...,None,...,N,N,N,N,N,Y,Y,Y,N,"[SMB Solutions, Oracle Cloud Platform, - Cloud..."
3,In order to derive value from the Internet of ...,"[{'value': 'Product Training Session', 'attrib...",oow,TRN6363,Oracle OpenWorld,oow18,"[{'fileId': '1539982921144001RL4h', 'filename'...",45.0,[{'speakerId': '1500580326390001qTtd_150393630...,None,...,N,N,N,N,N,N,N,N,N,[]
4,Oracle Linux powers tens of thousands of enter...,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN5828,Oracle OpenWorld,oow18,"[{'fileId': '1540152941675001kZHw', 'filename'...",45.0,[{'speakerId': '14574694616420015a7T_150393630...,None,...,N,N,N,N,N,Y,Y,Y,N,"[Your Cloud Transformation Roadmap, - Upgradin..."

In [180]:
#set number of speakers for each session by taking the length of the list in the participants column
ss["speaker_count"] = ss['participants'].apply(lambda x: len(x))
ss.head(5)

,abstract,attributevalues,catalog,code,event,eventCode,files,length,participants,sponsors,...,JavaOne Rockstar,Oracle ACE Director,Oracle Java Champion,Groundbreaker Ambassador,Intermediate,Beginner,Advanced,All,track,speaker_count
0,What if you could benefit from new database qu...,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN4070,Oracle OpenWorld,oow18,"[{'fileId': '1540594881063001PjdE', 'filename'...",45.0,[{'speakerId': '14574694377280015QNA_150393630...,None,...,N,N,N,N,Y,Y,Y,N,"[- Application Development, Oracle Cloud Platf...",3
1,How does a real-world performance engineer int...,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN4026,Oracle OpenWorld,oow18,"[{'fileId': '1540053090863001JeFM', 'filename'...",45.0,[{'speakerId': '145746969078000151fg_150393630...,None,...,N,N,N,N,Y,Y,Y,N,"[- Application Development, Oracle Cloud Platf...",2
2,Understand the tools and techniques available ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN4567,Oracle OpenWorld,oow18,"[{'fileId': '1539988618000001VcCe', 'filename'...",45.0,[{'speakerId': '1468532302119001DtNf_150393630...,None,...,N,N,N,N,Y,Y,Y,N,"[SMB Solutions, Oracle Cloud Platform, - Cloud...",1
3,In order to derive value from the Internet of ...,"[{'value': 'Product Training Session', 'attrib...",oow,TRN6363,Oracle OpenWorld,oow18,"[{'fileId': '1539982921144001RL4h', 'filename'...",45.0,[{'speakerId': '1500580326390001qTtd_150393630...,None,...,N,N,N,N,N,N,N,N,[],1
4,Oracle Linux powers tens of thousands of enter...,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN5828,Oracle OpenWorld,oow18,"[{'fileId': '1540152941675001kZHw', 'filename'...",45.0,[{'speakerId': '14574694616420015a7T_150393630...,None,...,N,N,N,N,Y,Y,Y,N,"[Your Cloud Transformation Roadmap, - Upgradin...",2

In [181]:
#set number of instancesfor each session by taking the length of the list in the times column
ss["instance_count"] = ss['times'].apply(lambda x: len(x) if x else None)
ss.tail(5)

,abstract,attributevalues,catalog,code,event,eventCode,files,length,participants,sponsors,...,Oracle ACE Director,Oracle Java Champion,Groundbreaker Ambassador,Intermediate,Beginner,Advanced,All,track,speaker_count,instance_count
2334,"Java is moving faster and faster, and a lot of...","[{'value': 'Beginner', 'attributevalue_id': '1...",codeone,TUT4828,Oracle Code One,oow18,"[{'fileId': '1540086019771001k4LD', 'filename'...",120.0,[{'speakerId': '1463271742329001nOLV_150393630...,None,...,N,Y,Y,Y,Y,Y,N,[Core Java Platform],1,1.0
2335,Youâ€™re a Java developer? Already familiar with...,"[{'value': 'Beginner', 'attributevalue_id': '1...",codeone,TUT5930,Oracle Code One,oow18,"[{'fileId': '1540272055239001vAaw', 'filename'...",120.0,[{'speakerId': '1492999456284001PEDn_150393630...,None,...,N,N,N,Y,Y,N,N,"[Containers, Serverless, and Cloud, Developmen...",1,1.0
2336,"Java 9 introduced JShell as a REPL tool, and v...","[{'value': 'Beginner', 'attributevalue_id': '1...",codeone,TUT5297,Oracle Code One,oow18,None,120.0,[{'speakerId': '14574694816540015LCz_150393630...,None,...,N,N,N,N,Y,N,N,[Core Java Platform],1,1.0
2337,"During this tutorial, you will learn how to us...","[{'value': 'Beginner', 'attributevalue_id': '1...",codeone,TUT6303,Oracle OpenWorld,oow18,"[{'fileId': '1541454340556001bnq5', 'filename'...",120.0,[{'speakerId': '1464284608830001XvOn_150393630...,None,...,N,N,N,Y,Y,Y,N,"[Oracle Cloud Platform, - MySQL, MySQL]",1,1.0
2338,"Are you tired of null pointer exceptions, unin...","[{'value': 'Beginner', 'attributevalue_id': '1...",codeone,TUT4991,Oracle Code One,oow18,"[{'fileId': '1540363608323001karC', 'filename'...",120.0,[{'speakerId': '145746944456700158Jh_150393630...,None,...,N,N,N,N,Y,N,N,[Development Tools],2,1.0

In [182]:
#set the room capacity based on the capacity of the room of the first entry in the times list
# note: when the session is scheduled multiple times, not all rooms may have the same capacity; that detail gets lost
ss["room_capacity"]= ss['times'].apply(lambda x:x[0]['capacity'] if x else None)
#likewise derive day, time and room - from the first occurrence of the session
ss["day"]= ss['times'].apply(lambda x:x[0]['dayName'] if x else None)
ss["room"]= ss['times'].apply(lambda x:x[0]['room'] if x else None)
ss["time"]= ss['times'].apply(lambda x:x[0]['time'] if x else None)
ss.head(5)

,abstract,attributevalues,catalog,code,event,eventCode,files,length,participants,sponsors,...,Beginner,Advanced,All,track,speaker_count,instance_count,room_capacity,day,room,time
0,What if you could benefit from new database qu...,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN4070,Oracle OpenWorld,oow18,"[{'fileId': '1540594881063001PjdE', 'filename'...",45.0,[{'speakerId': '14574694377280015QNA_150393630...,None,...,Y,Y,N,"[- Application Development, Oracle Cloud Platf...",3,1.0,308,Wednesday,Moscone West - Room 3009,11:15
1,How does a real-world performance engineer int...,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN4026,Oracle OpenWorld,oow18,"[{'fileId': '1540053090863001JeFM', 'filename'...",45.0,[{'speakerId': '145746969078000151fg_150393630...,None,...,Y,Y,N,"[- Application Development, Oracle Cloud Platf...",2,1.0,313,Monday,Moscone West - Room 3004,15:45
2,Understand the tools and techniques available ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN4567,Oracle OpenWorld,oow18,"[{'fileId': '1539988618000001VcCe', 'filename'...",45.0,[{'speakerId': '1468532302119001DtNf_150393630...,None,...,Y,Y,N,"[SMB Solutions, Oracle Cloud Platform, - Cloud...",1,1.0,312,Monday,Moscone West - Room 3006,11:30
3,In order to derive value from the Internet of ...,"[{'value': 'Product Training Session', 'attrib...",oow,TRN6363,Oracle OpenWorld,oow18,"[{'fileId': '1539982921144001RL4h', 'filename'...",45.0,[{'speakerId': '1500580326390001qTtd_150393630...,None,...,N,N,N,[],1,1.0,173,Monday,Moscone West - Room 3000,12:30
4,Oracle Linux powers tens of thousands of enter...,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN5828,Oracle OpenWorld,oow18,"[{'fileId': '1540152941675001kZHw', 'filename'...",45.0,[{'speakerId': '14574694616420015a7T_150393630...,None,...,Y,Y,N,"[Your Cloud Transformation Roadmap, - Upgradin...",2,1.0,50000,Monday,Moscone South - Room 154,10:30

## Deduplicate
Some sessions are included in the catalog for both events - Oracle OpenWorld and CodeOne - even though they are associated with one of the two. The exact same session - with only a different value for attribute catalog - occurs twice in our data set for these sessions. We should get rid of duplicates. However, we should not do so before we capture the fact that a session is part of the catalogs of both events in the record that is retained. 

Note: there some sessions that occur multiple times in the data set but are not included in both event catalogs.

Let's first see how many events are part of both events' catalogs.

In [183]:
#All three approaches do the work of finding all rows with code values that occur more than once

#ss[ss['code'].duplicated(keep=False)]
#ss.groupby('code').filter(lambda x: len(x) > 1)

counts = ss['code'].value_counts()
duplicates = ss[ss['code'].isin(counts.index[counts > 1])]

duplicates.sort_values('code').head(10)

,abstract,attributevalues,catalog,code,event,eventCode,files,length,participants,sponsors,...,Beginner,Advanced,All,track,speaker_count,instance_count,room_capacity,day,room,time
147,Microservices are independentâ€”sure. Complex tr...,"[{'value': 'Intermediate', 'attributevalue_id'...",oow,BOF4977,Oracle OpenWorld,oow18,"[{'fileId': '1540345180625001DgUR', 'filename'...",45.0,[{'speakerId': '14574694420080015I8e_150393630...,None,...,N,N,N,"[Containers, Serverless, and Cloud, Infrastruc...",1,1.0,303,Tuesday,Moscone West - Room 2006,19:30
151,Microservices are independentâ€”sure. Complex tr...,"[{'value': 'Intermediate', 'attributevalue_id'...",codeone,BOF4977,Oracle OpenWorld,oow18,"[{'fileId': '1540345180625001DgUR', 'filename'...",45.0,[{'speakerId': '14574694420080015I8e_150393630...,None,...,N,N,N,"[Containers, Serverless, and Cloud, Infrastruc...",1,1.0,303,Tuesday,Moscone West - Room 2006,19:30
148,"Two years ago, after a painful history of wate...","[{'value': 'Beginner', 'attributevalue_id': '1...",oow,BOF5232,Oracle OpenWorld,oow18,"[{'fileId': '1540253608259001DfiR', 'filename'...",45.0,[{'speakerId': '14574694740030015Ufr_150393630...,None,...,Y,Y,N,"[DevOps and Pipelines, Development Tools, Java...",4,1.0,283,Monday,Moscone West - Room 2024,20:30
166,"Two years ago, after a painful history of wate...","[{'value': 'Beginner', 'attributevalue_id': '1...",codeone,BOF5232,Oracle OpenWorld,oow18,"[{'fileId': '1540253608259001DfiR', 'filename'...",45.0,[{'speakerId': '14574694740030015Ufr_150393630...,None,...,Y,Y,N,"[DevOps and Pipelines, Development Tools, Java...",4,1.0,283,Monday,Moscone West - Room 2024,20:30
149,The migration from monolith to microservices h...,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,BOF5714,Oracle OpenWorld,oow18,"[{'fileId': '1540337005562001JXhu', 'filename'...",45.0,[{'speakerId': '1526055148128001q2D3_150393630...,None,...,Y,N,N,"[Containers, Serverless, and Cloud, Infrastruc...",1,1.0,298,Tuesday,Moscone West - Room 2001,19:30
167,The migration from monolith to microservices h...,"[{'value': 'Beginner', 'attributevalue_id': '1...",codeone,BOF5714,Oracle OpenWorld,oow18,"[{'fileId': '1540337005562001JXhu', 'filename'...",45.0,[{'speakerId': '1526055148128001q2D3_150393630...,None,...,Y,N,N,"[Containers, Serverless, and Cloud, Infrastruc...",1,1.0,298,Tuesday,Moscone West - Room 2001,19:30
146,Data is the essential fuel to every analytic p...,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,BOF6086,Oracle OpenWorld,oow18,"[{'fileId': '1540230846859001JH0Y', 'filename'...",45.0,[{'speakerId': '14574694443730025zo5_150393630...,[],...,Y,N,N,"[Database, Big Data, and Data Science, Infrast...",2,1.0,280,Monday,Moscone West - Room 2003,20:30
150,Data is the essential fuel to every analytic p...,"[{'value': 'Beginner', 'attributevalue_id': '1...",codeone,BOF6086,Oracle OpenWorld,oow18,"[{'fileId': '1540230846859001JH0Y', 'filename'...",45.0,[{'speakerId': '14574694443730025zo5_150393630...,[],...,Y,N,N,"[Database, Big Data, and Data Science, Infrast...",2,1.0,280,Monday,Moscone West - Room 2003,20:30
361,Since Oracle announced support for some of its...,"[{'value': 'Beginner', 'attributevalue_id': '1...",codeone,BUS1224,Oracle OpenWorld,oow18,"[{'fileId': '1537442351848001mIzP', 'filename'...",45.0,[{'speakerId': '14574695992920015zm9_150393630...,None,...,Y,N,N,"[Database, Big Data, and Data Science, Your Cl...",1,1.0,305,Thursday,Moscone West - Room 3018,12:00
290,Since Oracle announced support for some of its...,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,BUS1224,Oracle OpenWorld,oow18,"[{'fileId': '1537442351848001mIzP', 'filename'...",45.0,[{'speakerId': '14574695992920015zm9_150393630...,None,...,Y,N,N,"[Database, Big Data, and Data Science, Your Cl...",1,1.0,305,Thursday,Moscone West - Room 3018,12:00

In [184]:
#are duplicates indeed associated with both events?
# some are - but not all of them:
duplicates.loc[duplicates['code']=='BOF4977']

,abstract,attributevalues,catalog,code,event,eventCode,files,length,participants,sponsors,...,Beginner,Advanced,All,track,speaker_count,instance_count,room_capacity,day,room,time
147,Microservices are independentâ€”sure. Complex tr...,"[{'value': 'Intermediate', 'attributevalue_id'...",oow,BOF4977,Oracle OpenWorld,oow18,"[{'fileId': '1540345180625001DgUR', 'filename'...",45.0,[{'speakerId': '14574694420080015I8e_150393630...,None,...,N,N,N,"[Containers, Serverless, and Cloud, Infrastruc...",1,1.0,303,Tuesday,Moscone West - Room 2006,19:30
151,Microservices are independentâ€”sure. Complex tr...,"[{'value': 'Intermediate', 'attributevalue_id'...",codeone,BOF4977,Oracle OpenWorld,oow18,"[{'fileId': '1540345180625001DgUR', 'filename'...",45.0,[{'speakerId': '14574694420080015I8e_150393630...,None,...,N,N,N,"[Containers, Serverless, and Cloud, Infrastruc...",1,1.0,303,Tuesday,Moscone West - Room 2006,19:30

In [185]:
# find all sessions that occur in both catalogs: set their catalog attribute to both
# set catalog="both" if session in duplicates with a different catalog value than the session's own catalog value
doubleCatalogSessions = pd.merge(ss, duplicates, on=['code'], how='inner').query('catalog_y != catalog_x')
doubleCatalogSessions[['code','catalog_x', 'catalog_y']] .head(20)

        code catalog_x catalog_y
45   TRN5793       oow   codeone
47   TRN5793       oow   codeone
48   TRN5793   codeone       oow
50   TRN5793   codeone       oow
53   TRN5793       oow   codeone
55   TRN5793       oow   codeone
56   TRN5793   codeone       oow
58   TRN5793   codeone       oow
137  TRN4084       oow   codeone
139  TRN4084       oow   codeone
140  TRN4084   codeone       oow
142  TRN4084   codeone       oow
145  TRN4084       oow   codeone
147  TRN4084       oow   codeone
148  TRN4084   codeone       oow
150  TRN4084   codeone       oow
181  TRN4065       oow   codeone
183  TRN4065       oow   codeone
184  TRN4065   codeone       oow
186  TRN4065   codeone       oow

In [186]:
# all sessions in doubleCatalogSessions occur in both oow and code one session catalog
# time to update column catalog for all sessions in ss that have a code that occurs in doubleCatalogSessions['code']
ss.loc[ss['code'].isin(doubleCatalogSessions['code']),'catalog']='both'
ss.sort_values('catalog').head(50)

,abstract,attributevalues,catalog,code,event,eventCode,files,length,participants,sponsors,...,Beginner,Advanced,All,track,speaker_count,instance_count,room_capacity,day,room,time
1169,In this session get a practical introduction t...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,HOL1706,Oracle OpenWorld,oow18,"[{'fileId': '1540332651013001QC7t', 'filename'...",60.0,[{'speakerId': '14574694383250055jg8_150393630...,NaN,...,Y,Y,N,"[Hands-on Labs (HOLs), Oracle Cloud Platform, ...",2,1.0,40,Tuesday,Marriott Marquis (Yerba Buena Level) - Salon 9A,11:15
1157,In this session learn to develop and deploy a ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,HOL6325,Oracle OpenWorld,oow18,"[{'fileId': '1539975363677001dU4z', 'filename'...",60.0,[{'speakerId': '145746947297400155og_150393630...,NaN,...,Y,Y,N,"[- Application Development, Hands-on Labs (HOL...",3,3.0,48,Monday,Marriott Marquis (Yerba Buena Level) - Salon 3/4,15:45
1158,In this session learn about the latest feature...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,HOL6328,Oracle OpenWorld,oow18,"[{'fileId': '1543251215909001VEhl', 'filename'...",60.0,[{'speakerId': '14574694354950015iFv_150393630...,NaN,...,Y,Y,N,"[- Application Development, Hands-on Labs (HOL...",2,1.0,48,Thursday,Marriott Marquis (Yerba Buena Level) - Salon 3/4,12:00
1164,One of the marquee features of Oracle Applicat...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,HOL6326,Oracle OpenWorld,oow18,None,60.0,[{'speakerId': '14574694670000025Uc7_150393630...,NaN,...,Y,Y,N,"[- Application Development, Hands-on Labs (HOL...",2,1.0,48,Wednesday,Marriott Marquis (Yerba Buena Level) - Salon 3/4,09:30
1167,In this session learn how to use the MySQL Doc...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,HOL1703,Oracle OpenWorld,oow18,"[{'fileId': '1540332488585001Jlrb', 'filename'...",60.0,[{'speakerId': '14574694383250055jg8_150393630...,NaN,...,Y,Y,N,"[Hands-on Labs (HOLs), Oracle Cloud Platform, ...",2,1.0,40,Monday,Marriott Marquis (Yerba Buena Level) - Salon 9A,12:15
1168,In this session discover Oracle NoSQL Database...,"[{'value': 'Intermediate', 'attributevalue_id'...",both,HOL6302,Oracle OpenWorld,oow18,None,60.0,[{'speakerId': '14574694760770015GOv_150393630...,NaN,...,N,N,N,"[- Internet of Things (IoT), Hands-on Labs (HO...",2,2.0,48,Tuesday,Marriott Marquis (Yerba Buena Level) - Salon 1/2,17:15
2337,"During this tutorial, you will learn how to us...","[{'value': 'Beginner', 'attributevalue_id': '1...",both,TUT6303,Oracle OpenWorld,oow18,"[{'fileId': '1541454340556001bnq5', 'filename'...",120.0,[{'speakerId': '1464284608830001XvOn_150393630...,None,...,Y,Y,N,"[Oracle Cloud Platform, - MySQL, MySQL]",1,1.0,301,Tuesday,Moscone West - Room 2016,08:45
1183,In this lab learn to write an asynchronous ser...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,HOL4799,Oracle OpenWorld,oow18,"[{'fileId': '1539905700801001DGTY', 'filename'...",60.0,[{'speakerId': '14574694373590015wCR_150393630...,NaN,...,Y,Y,N,"[Hands-on Labs (HOLs), Database, Big Data, and...",3,1.0,48,Wednesday,Marriott Marquis (Yerba Buena Level) - Salon 3/4,14:15
1192,Oracle Application Express is a low-code devel...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,HOL6327,Oracle OpenWorld,oow18,None,60.0,[{'speakerId': '14574694670000025Uc7_150393630...,NaN,...,Y,Y,N,"[- Application Development, Hands-on Labs (HOL...",2,1.0,48,Thursday,Marriott Marquis (Yerba Buena Level) - Salon 3/4,09:00
1204,<b>PLEASE NOTE: YOU MUST BRING YOUR OWN LAPTOP...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,HOL6311,Oracle OpenWorld,oow18,None,60.0,[{'speakerId': '14574694693940015ObX_150393630...,NaN,...,Y,N,N,"[Hands-on Labs (HOLs), SMB Solutions, Infrastr...",4,4.0,40,Monday,Marriott Marquis (Yerba Buena Level) - Salon 9B,17:15
1221,Get hands-on and learn the features of the Pyt...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,HOL6329,Oracle OpenWorld,oow18,"[{'fileId': '1540586357244001SBMg', 'filename'...",60.0,[{'speakerId': '14574694955970015EaV_150393630...,NaN,...,Y,Y,N,"[- Application Development, Hands-on Labs (HOL...",3,1.0,48,Tuesday,Marriott Marquis (Yerba Buena Level) - Salon 3/4,14:15
1229,MySQL 8.0 added support for common table expre...,"[{'value': 'Intermediate', 'attributevalue_id'...",both,HOL2986,Oracle OpenWorld,oow18,"[{'fileId': '15404444461990019DoX', 'filename'...",60.0,[{'speakerId': '14574694383250055jg8_150393630...,NaN,...,N,Y,N,"[Hands-on Labs (HOLs), Oracle Cloud Platform, ...",2,1.0,40,Thursday,Marriott Marquis (Yerba Buena Level) - Salon 9A,09:00
1230,Oracle Cloud Infrastructure Container Engine f...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,HOL6375,Oracle OpenWorld,oow18,"[{'fileId': '1540564340452001kHYT', 'filename'...",60.0,[{'speakerId': '145746947527600255kw_150393630...,NaN,...,Y,N,N,"[Hands-on Labs (HOLs), Containers, Serverless,...",3,2.0,40,Monday,Marriott Marquis (Yerba Buena Level) - Salon 9A,17:15
1231,The Terraform Oracle Cloud Infrastructure prov...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,HOL6376,Oracle OpenWorld,oow18,"[{'fileId': '154056437469700197uM', 'filename'...",60.0,[{'speakerId': '145746947527600255kw_150393630...,NaN,...,Y,N,N,"[Hands-on Labs (HOLs), Containers, Serverless,...",3,2.0,40,Monday,Marriott Marquis (Yerba Buena Level) - Salon 9A,15:45
1238,One of the marquee features of Oracle Applicat...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,HOL6326,Oracle OpenWorld,oow18,None,60.0,[{'speakerId': '14574694670000025Uc7_150393630...,None,...,Y,Y,N,"[- Application Development, Hands-on Labs (HOL...",2,1.0,48,Wednesday,Marriott Marquis (Yerba Buena Level) - Salon 3/4,09:30
1240,In this session discover Oracle NoSQL Database...,"[{'value': 'Intermediate', 'attributevalue_id'...",both,HOL6302,Oracle OpenWorld,oow18,None,60.0,[{'speakerId': '14574694760770015GOv_150393630...,None,...,N,N,N,"[- Internet of Things (IoT), Hands-on Labs (HO...",2,2.0,48,Tuesday,Marriott Marquis (Yerba Buena Level) - Salon 1/2,17:15
1154,Join this session for the State of the Dolphin...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,GEN5854,Oracle OpenWorld,oow18,NaN,90.0,[{'speakerId': '14574694634480015Ye8_150393630...,NaN,...,Y,Y,N,"[General Sessions, Featured Customers, Oracle ...",3,1.0,271,Monday,Moscone West - Room 2002,09:00
1143,Join this session for the State of the Dolphin...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,GEN5854,Oracle OpenWorld,oow18,None,90.0,[{'speakerId': '14574694634480015Ye8_150393630...,None,...,Y,Y,N,"[General Sessions, Featured Customers, Oracle ...",3,1.0,271,Monday,Moscone West - Room 2002,09:00
1112,MySQL Connector/Python provides three APIs to ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,DEV5957,Oracle OpenWorld,oow18,"[{'fileId': '1540494692059001J6Di', 'filename'...",45.0,[{'speakerId': '1463199654465001naNV_150393630...,None,...,Y,Y,N,"[Oracle Cloud Platform, - MySQL, MySQL]",1,1.0,285,Wednesday,Moscone West - Room 2014,09:00
1111,MySQL X Dev API for PHP provides three APIs to...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,DEV5981,Oracle OpenWorld,oow18,"[{'fileId': '15404361727390019bEt', 'filename'...",45.0,[{'speakerId': '14574694350800015dsx_150393630...,None,...,Y,Y,N,"[Oracle Cloud Platform, - MySQL, MySQL]",1,1.0,285,Wednesday,Moscone West - Room 2014,10:30
364,The value of a platform is in the solutions it...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,BUS4591,Oracle OpenWorld,oow18,"[{'fileId': '1540310234551001kTdH', 'filename'...",45.0,[{'speakerId': '14574696676150015hzj_150393630...,None,...,Y,Y,N,"[- Application Development, - Blockchain, Emer...",4,1.0,310,Tuesday,Moscone West - Room 3020,17:45
363,Are you moving to the cloud? Looking at contai...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,BUS5722,Oracle OpenWorld,oow18,"[{'fileId': '1541787597413001PGbg', 'filename'...",45.0,[{'speakerId': '145746944391300150HT_150393630...,None,...,Y,N,N,"[Containers, Serverless, and Cloud, DevOps and...",3,1.0,266,Wednesday,Moscone South - Room 160,16:45
362,In this session the Oracle ACE team again take...,"[{'value': 'Intermediate', 'attributevalue_id'...",both,BUS2272,Oracle OpenWorld,oow18,"[{'fileId': '1540816251871001s0sF', 'filename'...",45.0,[{'speakerId': '14574694420080015I8e_150393630...,None,...,N,N,N,"[- Application Development, - Integration, Mod...",3,1.0,94,Monday,Marriott Marquis (Golden Gate Level) - Golden ...,17:45
361,Since Oracle announced support for some of its...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,BUS1224,Oracle OpenWorld,oow18,"[{'fileId': '1537442351848001mIzP', 'filename'...",45.0,[{'speakerId': '14574695992920015zm9_150393630...,None,...,Y,N,N,"[Database, Big Data, and Data Science, Your Cl...",1,1.0,305,Thursday,Moscone West - Room 3018,12:00
360,Whether you're simulating automotive crashes o...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,BUS5265,Oracle OpenWorld,oow18,None,45.0,[{'speakerId': '1503607091300001Ro9a_150393630...,None,...,Y,N,N,"[Database, Big Data, and Data Science, Feature...",3,1.0,176,Monday,Moscone South - Room 206,12:30
346,Provisioning the hardware and software needed ...,"[{'value': 'Intermediate', 'attributevalue_id'...",both,BUS5266,Oracle OpenWorld,oow18,None,45.0,[{'speakerId': '1466702913449001sWMB_150393630...,None,...,N,N,N,"[Emerging Technologies, Featured Customers, Yo...",2,1.0,176,Wednesday,Moscone South - Room 206,12:30
336,The value of a platform is in the solutions it...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,BUS4591,Oracle OpenWorld,oow18,"[{'fileId': '1540310234551001kTdH', 'filename'...",45.0,[{'speakerId': '14574696676150015hzj_150393630...,None,...,Y,Y,N,"[- Application Development, - Blockchain, Emer...",4,1.0,310,Tuesday,Moscone West - Room 3020,17:45
1241,In this session get a practical introduction t...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,HOL1706,Oracle OpenWorld,oow18,"[{'fileId': '1540332651013001QC7t', 'filename'...",60.0,[{'speakerId': '14574694383250055jg8_150393630...,None,...,Y,Y,N,"[Hands-on Labs (HOLs), Oracle Cloud Platform, ...",2,1.0,40,Tuesday,Marriott Marquis (Yerba Buena Level) - Salon 9A,11:15
1066,NASAâ€™s Lunar Orbital Platform-Gateway is plann...,"[{'value': 'Intermediate', 'attributevalue_id'...",both,DEV5630,Oracle OpenWorld,oow18,None,45.0,[{'speakerId': '14574694398850015bkF_150393630...,None,...,N,N,N,"[Containers, Serverless, and Cloud, Database, ...",2,1.0,149,Monday,Moscone West - Room 2012,13:30
329,Are you moving to the cloud? Looking at contai...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,BUS5722,Oracle OpenWorld,oow18,"[{'fileId': '1541787597413001PGbg', 'filename'...",45.0,[{'speakerId': '145746944391300150HT_150393630...,None,...,Y,N,N,"[Containers, Serverless, and Cloud, DevOps and...",3,1.0,266,Wednesday,Moscone South - Room 160,16:45
1080,Container registries are evolving as container...,"[{'value': 'Intermediate', 'attributevalue_id'...",both,DEV5604,Oracle OpenWorld,oow18,None,45.0,[{'speakerId': '1537803927128001pFnH_150393630...,None,...,N,N,N,"[Containers, Serverless, and Cloud, DevOps and...",2,1.0,280,Thursday,Moscone West - Room 2003,11:00
317,In this session the Oracle ACE team again take...,"[{'value': 'Intermediate', 'attributevalue_id'...",both,BUS2272,Oracle OpenWorld,oow18,"[{'fileId': '1540816251871001s0sF', 'filename'...",45.0,[{'speakerId': '14574694420080015I8e_150393630...,None,...,N,N,N,"[- Application Development, - Integration, Mod...",3,1.0,94,Monday,Marriott Marquis (Golden Gate Level) - Golden ...,17:45
1084,"Jenkins may be entering its teenage years, but...","[{'value': 'Beginner', 'attributevalue_id': '1...",both,DEV5364,Oracle OpenWorld,oow18,"[{'fileId': '1540478658107001JYng', 'filename'...",45.0,[{'speakerId': '1462811766320001T0bg_150393630...,[],...,Y,N,N,"[Containers, Serverless, and Cloud, DevOps and...",1,1.0,301,Thursday,Moscone West - Room 2016,09:00
1094,This session presents a guide for enterprises ...,"[{'value': 'Intermediate', 'attributevalue_id'...",both,DEV5623,Oracle OpenWorld,oow18,"[{'fileId': '1541789315897001LxHm', 'filename'...",45.0,[{'speakerId': '1467755109013001eT9P_150393630...,None,...,N,N,N,"[Containers, Serverless, and Cloud, DevOps and...",3,1.0,298,Thursday,Moscone West - Room 2001,10:00
1103,This session focuses on a modern DevOps approa...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,DEV5158,Oracle OpenWorld,oow18,"[{'fileId': '1540501205123001koGx', 'filename'...",45.0,[{'speakerId': '1462526593218001cbk7_150393630...,None,...,Y,Y,N,"[Containers, Serverless, and Cloud, DevOps and...",1,1.0,280,Thursday,Moscone West - Room 2003,10:00
290,Since Oracle announced support for some of its...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,BUS1224,Oracle OpenWorld,oow18,"[{'fileId': '1537442351848001mIzP', 'filename'...",45.0,[{'speakerId': '14574695992920015zm9_150393630...,None,...,Y,N,N,"[Database, Big Data, and Data Science, Your Cl...",1,1.0,305,Thursday,Moscone West - Room 3018,12:00
1067,Startup development teams are leveraging Oracl...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,DEV5600,Oracle OpenWorld,oow18,"[{'fileId': '15405051409240019C3C', 'filename'...",45.0,[{'speakerId': '1469124855064001xvWL_150393630...,None,...,Y,N,N,"[Containers, Serverless, and Cloud, DevOps and...",4,1.0,285,Thursday,Moscone West - Room 2014,09:00
250,Microservices can help teams bring change with...,"[{'value': 'Intermediate', 'attributevalue_id'...",both,BUS2128,Oracle OpenWorld,oow18,"[{'fileId': '1540830540109001Pc2o', 'filename'...",45.0,[{'speakerId': '145746944004600157mp_150393630...,[],...,N,N,N,"[- Application Development, Database, Big Data...",1,1.0,94,Tuesday,Marriott Marquis (Golden Gate Level) - Golden ...,12:30
1253,In this lab learn to write an asynchronous ser...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,HOL4799,Oracle OpenWorld,oow18,"[{'fileId': '1539905700801001DGTY', 'filename'...",60.0,[{'speakerId': '14574694373590015wCR_150393630...,None,...,Y,Y,N,"[Hands-on Labs (HOLs), Database, Big Data, and...",3,1.0,48,Wednesday,Marriott Marquis (Yerba Buena Level) - Salon 3/4,14:15
244,Whether you're simulating automotive crashes o...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,BUS5265,Oracle OpenWorld,oow18,None,45.0,[{'speakerId': '1503607091300001Ro9a_150393630...,None,...,Y,N,N,"[Database, Big Data, and Data Science, Feature...",3,1.0,176,Monday,Moscone South - Room 206,12:30
1450,There are substantial improvements in the MySQ...,"[{'value': 'Intermediate', 'attributevalue_id'...",both,PRO3008,Oracle OpenWorld,oow18,"[{'fileId': '1540311349942001QskM', 'filename'...",45.0,[{'speakerId': '14574694374410015dPg_150393630...,None,...,N,Y,N,"[Oracle Cloud Platform, - MySQL, MySQL]",1,1.0,69,Thursday,Park Central (Floor 3) - Franciscan II,09:00
1451,"MySQL 8 is the new kid on the block, and Perco...","[{'value': 'Beginner', 'attributevalue_id': '1...",both,PRO1810,Oracle OpenWorld,oow18,None,45.0,[{'speakerId': '1521589902461001CThq_150393630...,None,...,Y,Y,N,"[Oracle Cloud Platform, - MySQL, MySQL]",1,1.0,69,Tuesday,Park Central (Floor 3) - Franciscan II,11:15
1454,MySQL analytics has been optimized to take ful...,"[{'value': 'Intermediate', 'attributevalue_id'...",both,PRO3027,Oracle OpenWorld,oow18,None,45.0,[{'speakerId': '14574695338280015uQr_150393630...,None,...,N,Y,N,"[- Managed Cloud Services, Oracle Cloud Platfo...",3,1.0,69,Monday,Park Central (Floor 3) - Franciscan II,16:45
1503,In this session discover the power of MySQL in...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,PRO4601,Oracle OpenWorld,oow18,"[{'fileId': '1540279799417001vpQW', 'filename'...",45.0,[{'speakerId': '1466805186749004h96I_150393630...,None,...,Y,N,N,"[Oracle Cloud Platform, - Cloud Platform, - Or...",1,1.0,69,Monday,Park Central (Floor 3) - Franciscan II,15:45
1508,Need to provide REST APIs for your Oracle data...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,PRO4063,Oracle OpenWorld,oow18,"[{'fileId': '15404867289090019DnC', 'filename'...",45.0,[{'speakerId': '14574694759480035t2g_150393630...,None,...,Y,Y,N,"[- Application Development, Database, Big Data...",1,1.0,308,Tuesday,Moscone West - Room 3009,15:45
1509,The rapid adoption of enterprise cloudâ€“based s...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,PRO4232,Oracle OpenWorld,oow18,None,45.0,[{'speakerId': '1497022382803001UfPG_150393630...,None,...,Y,Y,N,"[- Integration, Containers, Serverless, and Cl...",2,1.0,94,Tuesday,Marriott Marquis (Golden Gate Level) - Golden ...,11:15
1513,The big data ecosystem has grown exponentially...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,PRO4238,Oracle OpenWorld,oow18,None,45.0,[{'speakerId': '14574694974580015E0k_150393630...,None,...,Y,Y,N,"[- Integration, Containers, Serverless, and Cl...",3,1.0,94,Thursday,Marriott Marquis (Golden Gate Level) - Golden ...,10:00
1449,Looking for the latest news about MySQL 8.0 pe...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,PRO1697,Oracle OpenWorld,oow18,"[{'fileId': '1542031300966001nxvF', 'filename'...",45.0,[{'speakerId': '14574694411120015CRz_150393630...,None,...,Y,Y,N,"[Oracle Cloud Platform, - MySQL, MySQL]",1,1.0,69,Tuesday,Park Central (Floor 3) - Franciscan II,12:30
1563,The latest developments and the enticing roadm...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,PRO3038,Oracle OpenWorld,oow18,"[{'fileId': '1541409824183001URL5', 'filename'...",45.0,[{'speakerId': '14574694488840015fWR_150393630...,None,...,Y,Y,N,"[Oracle Cloud Platform, - MySQL, MySQL]",3,1.0,69,Wednesday,Park Central (Floor 3) - Franciscan II,11:15
167,The migration from monolith to microservices h...,"[{'value': 'Beginner', 'attributevalue_id': '1...",both,BOF5714,Oracle OpenWorld,oow18,"[{'fileId': '1540337005562001JXhu', 'filename'...",45.0,[{'speakerId': '1526055148128001q2D3_150393630...,None,...,Y,N,N,"[Containers, Serverless, and Cloud, Infrastruc...",1,1.0,298,Tuesday,Moscone West - Room 2001,19:30

In [187]:
#Drop duplicates - identifying rows by their code
ss.drop_duplicates(subset=['code'], keep='first', inplace=True)

In [188]:
#hpw many sessions appear in both catalogs?
ss['catalog'].value_counts()

oow        1434
codeone     477
both        141
Name: catalog, dtype: int64

## Persist Pandas Dataframe - as single, consolidated, reshaped, enriched JSON file

One thing we want to be able to do with the data we gather, is to persist it for future use. We could store the data in a NoSQL database, a cloud storage service or simply as a local file. For now, let's do the latter: store the cleansed and reshaped data in a local JSON file for further enrichment, visualization and machine learning purposes.

In [189]:
ss.to_json("oow2018-sessions-wrangled.json", force_ascii=False)

In [190]:
dubss = pd.read_json("oow2018-sessions-wrangled.json")
dubss.head(20)

,Advanced,All,Beginner,Groundbreaker Ambassador,Intermediate,JavaOne Rockstar,Oracle ACE Director,Oracle Java Champion,abstract,attributevalues,...,room,room_capacity,speaker_count,sponsors,time,times,title,title_sort,track,type
0,Y,N,Y,N,Y,N,N,N,What if you could benefit from new database qu...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 3009,308.0,3,None,11:15,"[{'sessionTimeID': '1532616475210001usPa', 'se...",A Database Proxy for Transparent High Availabi...,adatabaseproxyfortransparenthi,"[- Application Development, Oracle Cloud Platf...",Product Training Session
1,Y,N,Y,N,Y,N,N,N,How does a real-world performance engineer int...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 3004,313.0,2,None,15:45,"[{'sessionTimeID': '1531945554973001z4Hi', 'se...",A Day in the Life of a Real-World Performance ...,adayinthelifeofarealworldperfo,"[- Application Development, Oracle Cloud Platf...",Product Training Session
10,Y,N,Y,N,Y,Y,N,N,In this session learn how to make client data ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 3002,314.0,1,None,15:45,"[{'sessionTimeID': '1535610677698001BB58', 'se...",Providing High Availability of Data by Using C...,providinghighavailabilityofdat,[],Product Training Session
100,N,N,N,N,N,N,N,N,In this session learn how to transfer your st...,"[{'value': 'Product Training Session', 'attrib...",...,The Exchange @ Moscone South - OU Mini Theater,75.0,1,None,16:25,"[{'sessionTimeID': '15381128815670018LA1', 'se...",How to Transfer Storage to Oracle Storage,howtotransferstoragetooraclest,[],Product Training Session
1000,Y,N,N,N,Y,N,N,Y,With Java Flight Recorder (JFR) and Java Missi...,"[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2024,283.0,1,None,11:30,"[{'sessionTimeID': '15355059853370011rXS', 'se...",Three Productive Ways to Use Open Source Java ...,threeproductivewaystouseopenso,"[Developer Community, Development Tools, Java ...",Developer Session
1002,N,N,N,N,Y,N,N,N,Failure is not an option in services that need...,"[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2010,243.0,2,None,12:00,"[{'sessionTimeID': '1535566931714001Bodf', 'se...",Three Resilience Patterns Out of the Box with ...,threeresiliencepatternsoutofth,[Java Server-Side Development and Microservices],Developer Session
1005,N,N,Y,N,N,N,Y,N,One of the most important factors influencing ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 2005,280.0,3,None,14:00,"[{'sessionTimeID': '1535417091221001BkmK', 'se...",Tracking Spare Parts with Blockchain Featuring...,trackingsparepartswithblockcha,"[Containers, Serverless, and Cloud, Database, ...",Developer Session
1006,N,N,N,N,Y,N,N,N,The long-awaited Transport Layer Security (TLS...,"[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2004,285.0,2,None,11:30,"[{'sessionTimeID': '1536180227506001xIyD', 'se...",Transport Layer Security (TLS) v1.3 support in...,transportlayersecuritytlsv13su,[Core Java Platform],Developer Session
1007,N,N,N,N,Y,Y,N,N,"Apart from the Java heap and the metaspace, wh...","[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2008,303.0,1,None,09:00,"[{'sessionTimeID': '1535488178716001Bb9j', 'se...",Troubleshooting Native Memory Leaks in Java Ap...,troubleshootingnativememorylea,"[Containers, Serverless, and Cloud, Core Java ...",Developer Session
1008,N,N,Y,N,N,N,N,N,Planning to build microservices? The best prac...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 2003,280.0,1,[],13:30,"[{'sessionTimeID': '15355648119050012ZTw', 'se...",Build a 12-Factor Microservice with MicroProfile,builda12factormicroservicewith,"[Java Ecosystem, Java Server-Side Development ...",Developer Session
1009,Y,N,N,Y,N,Y,N,Y,"With the release of Java 9, our beloved mostly...","[{'value': 'Advanced', 'attributevalue_id': '1...",...,Moscone West - Room 2005,280.0,1,None,13:30,"[{'sessionTimeID': '1536182335297001xDIa', 'se...",Tuning G1G,tuningg1g,[Core Java Platform],Developer Session
101,Y,N,Y,N,Y,N,N,N,In this session join development and product m...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Marriott Marquis (Golden Gate Level) - Golden ...,94.0,3,None,12:00,"[{'sessionTimeID': '15343996004640012QHh', 'se...",Ask the Oracle Analytics Product Management an...,asktheoracleanalyticsproductma,"[Oracle Cloud Platform, - Business Intelligenc...",Product Training Session
1010,Y,N,N,N,Y,N,N,N,Embracing microservice architecture in a new p...,"[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2008,303.0,2,None,16:00,"[{'sessionTimeID': '153549490208800119By', 'se...","Turning Maven into a Highly Scalable, Resource...",turningmavenintoahighlyscalabl,"[Containers, Serverless, and Cloud, Developer ...",Developer Session
1011,N,N,N,Y,Y,N,N,N,Application development in the cloud has alrea...,"[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2006,303.0,1,None,10:30,"[{'sessionTimeID': '15354229880710012nHQ', 'se...",Turning Your Java EE App Cloud-Native,turningyourjavaeeappcloudnativ,"[Containers, Serverless, and Cloud, Java Ecosy...",Developer Session
1012,N,N,N,N,Y,Y,N,Y,We all have seen our share of bad code and som...,"[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2003,280.0,1,None,14:30,"[{'sessionTimeID': '15355659529030011WBH', 'se...",Twelve Ways to Make Code Suck Less,twelvewaystomakecodesuckless,[Development Tools],Developer Session
1013,N,N,N,N,Y,Y,N,Y,"Java 10 has local variable type inference, but...","[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2004,285.0,1,None,13:30,"[{'sessionTimeID': '1536180457202001YqTz', 'se...",Type Inference: Friend or Foe,typeinferencefriendorfoe,[Core Java Platform],Developer Session
1014,N,N,Y,N,Y,N,N,Y,"The selection of the right toolset to develop,...","[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 2003,280.0,2,None,14:00,"[{'sessionTimeID': '15355689154530011ov2', 'se...",Type-Safe Approach to Invoking RESTful Service...,typesafeapproachtoinvokingrest,"[Emerging Technologies, Java Ecosystem, Java S...",Developer Session
1015,N,N,N,N,Y,N,N,N,Is it possible to create and consume a standar...,"[{'value': 'Intermediate', 'attributevalue_id'...",...,Moscone West - Room 2020,301.0,2,None,09:00,"[{'sessionTimeID': '15355636398080012YbK', 'se...",Ultralow Latency with Java 11 and Terabytes of...,ultralowlatencywithjava11andte,[Development Tools],Developer Session
1016,Y,N,Y,N,Y,N,N,N,Coming into a GDPR-project where youâ€™re suppos...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 2001,298.0,1,None,10:30,"[{'sessionTimeID': '1535497028706001BbNf', 'se...",Unknown PL/SQL Code? Use PL/Scope to Gain Control,unknownplsqlcodeuseplscopetoga,"[Database, Big Data, and Data Science]",Developer Session
1017,N,N,Y,N,Y,N,N,N,Intel and Oracle have been collaborating to co...,"[{'value': 'Beginner', 'attributevalue_id': '1...",...,Moscone West - Room 2004,285.0,2,[],09:00,"[{'sessionTimeID': '15361800990440013L6T', 'se...",Up and Away: JDK Optimizations Beyond JDK 9,upandawayjdkoptimizationsbeyon,[Core Java Platform],Developer Session

If and when the previous cell lists 20 sessions, the data lake has been populated with the consolidated file *oow2018-sessions-wrangled.json* with all sessions - cleansed, deduplicated, enriched and ready for further processing.